<#compress>
<!-- PRIM STORE -->
<#if PRIMARY_STORE?has_content && (PRIMARY_STORE != '0' && PRIMARY_STORE != '3000')>
    <#data STORE_DATA as store_prim>
    <#filter FID=PRIMARY_STORE>
    <#fields FID ADDRESS_1 ADDRESS_2 CITY LOCAL_PHONE LOCATION_NAME STATE POST_CODE OPENING_TIME_MON CLOSING_TIME_MON OPENING_TIME_TUE CLOSING_TIME_TUE OPENING_TIME_WED CLOSING_TIME_WED OPENING_TIME_THU CLOSING_TIME_THU OPENING_TIME_FRI CLOSING_TIME_FRI OPENING_TIME_SAT CLOSING_TIME_SAT OPENING_TIME_SUN CLOSING_TIME_SUN>
    <!-- PRIM CLOSING -->
    <#macro closingTimePrim day>
        <#if (day)?ends_with(":00")>
            <#assign tempTime = day?replace(':00','')?number>
            <#if tempTime gte 13>
              <#assign printTime = tempTime - 12 + ":00 PM">
            <#else>
            <#assign printTime = tempTime + ":00 PM">
        </#if>
        <#elseif (day)?ends_with(":30")>
            <#assign tempTime = day?replace(':30','')?number>
            <#if tempTime gte 13>
              <#assign printTime = tempTime - 12 + ":30 PM">
            <#else>
              <#assign printTime = tempTime + ":30 PM">
            </#if>
        <#else>
        <!-- do nothing -->
        </#if>
        ${printTime}
    </#macro>

    <!-- PRIM OPENING -->
    <#macro openingTimePrim day>
        <#if (day = "12:00" || day = "12:30")>
            <#assign timePeriod = "PM">
        <#else>
            <#assign timePeriod = "AM">
        </#if>
    ${timePeriod}
    </#macro>

    <!-- END MACROS -->

    <table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="width:100%; max-width: 600px; background-color: #f1f1f1;">
        <tr style="background-color: #f1f1f1; max-width: 600px; padding: 0px" width="600">
            <td align="center">
                <p style="margin: 0; padding: 0; font-size: 30px; line-height: 30px;">&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td align="center" style="font-size: 0;">
            <!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" style="width:50%;"><![endif]-->
                <div style="display: inline-block; max-width: 290px; width: 100%; vertical-align: top;" class="mw100">
                    <a href="${clickthrough('store_hours_info_prim','FID='+store_prim.FID?c,'CITY='+store_prim.CITY,'STATE='+store_prim.STATE)}" style="text-decoration: none;">
                    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:96%;">
                        <tr style="background-color: #f1f1f1; max-width: 600px; padding: 0px" width="600">
                        <td align="center">
                            <a href="${clickthrough('store_hours_info_prim','FID='+store_prim.FID?c,'CITY='+store_prim.CITY,'STATE='+store_prim.STATE)}" style="text-decoration: none;">
                            <p style="margin: 0 0 10px 0; padding: 0; color:#000000; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 18px; line-height: auto; text-align: left; width: 90%;">Want to shop in store?</p>
                            <p style="margin: 10px 0 10px 0; padding: 0; color:#000000; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 24px; line-height: auto; text-align: left; width: 90%;">Stop by&nbsp;<span style="margin: 0 0 10px 0; padding: 0; color: #000000; font-weight: 500; font-size: 24px; line-height: auto; text-align: left; width: 90%;"><#if store_prim.LOCATION_NAME?has_content><br>${store_prim.LOCATION_NAME}<#else>today!</#if></span></p>
                            <p style="margin: 0 0 10px 0; padding: 0; color:#000000; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 16px; line-height: 20px; text-align: left; width: 90%;">${store_prim.ADDRESS_1}<br><#if ADDRESS_2?has_content>${store_prim.ADDRESS_2}<br></#if>${store_prim.CITY}, ${store_prim.STATE} ${store_prim.POST_CODE}<br>${store_prim.LOCAL_PHONE}</p>
                            </a>
                        </td>
                    </tr>
                    </table>
                    </a>
                </div><!--[if (gte mso 9)|(IE)]></td><td align="center" style="width:50%;"><![endif]-->
                    <div style="display: inline-block; max-width: 290px; width: 100%; border-left: 2px solid #bebebe; vertical-align: top;" class="mw100 mblhide_border">
                        <a href="${clickthrough('store_hours_info_prim','FID='+store_prim.FID?c,'CITY='+store_prim.CITY,'STATE='+store_prim.STATE)}" style="text-decoration: none;">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:96%;">
                            <tr style="background-color: #f1f1f1; max-width: 600px; padding: 0px" width="600">
                                <td align="center">
                                    <a href="${clickthrough('store_hours_info_prim','FID='+store_prim.FID?c,'CITY='+store_prim.CITY,'STATE='+store_prim.STATE)}" style="text-decoration: none;">
                                        <p style="margin: 0; padding: 0; color: #000000; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 500; font-size: 16px; line-height: 30px; text-align: left; width: 90%;">
                                        Sunday: <span style="font-weight: 400;">
                                            <#if store_prim.OPENING_TIME_SUN?has_content>${store_prim.OPENING_TIME_SUN} <@openingTimePrim day=store_prim.OPENING_TIME_SUN/> - <@closingTimePrim day=store_prim.CLOSING_TIME_SUN/><#else>Closed</#if></span><br>
                                        Monday: <span style="font-weight: 400;">
                                            <#if store_prim.OPENING_TIME_MON?has_content>${store_prim.OPENING_TIME_MON} <@openingTimePrim day=store_prim.OPENING_TIME_MON/> - <@closingTimePrim day=store_prim.CLOSING_TIME_MON/><#else>Closed</#if></span><br>
                                        Tuesday: <span style="font-weight: 400;">
                                            <#if store_prim.OPENING_TIME_TUE?has_content>${store_prim.OPENING_TIME_TUE} <@openingTimePrim day=store_prim.OPENING_TIME_TUE/> - <@closingTimePrim day=store_prim.CLOSING_TIME_TUE/><#else>Closed</#if></span><br>
                                        Wednesday: <span style="font-weight: 400;">
                                            <#if store_prim.OPENING_TIME_WED?has_content>${store_prim.OPENING_TIME_WED} <@openingTimePrim day=store_prim.OPENING_TIME_WED/> - <@closingTimePrim day=store_prim.CLOSING_TIME_WED/><#else>Closed</#if></span><br>
                                        Thursday: <span style="font-weight: 400;">
                                            <#if store_prim.OPENING_TIME_THU?has_content>${store_prim.OPENING_TIME_THU} <@openingTimePrim day=store_prim.OPENING_TIME_THU/> - <@closingTimePrim day=store_prim.CLOSING_TIME_THU/><#else>Closed</#if></span><br>
                                        Friday: <span style="font-weight: 400;">
                                            <#if store_prim.OPENING_TIME_FRI?has_content>${store_prim.OPENING_TIME_FRI} <@openingTimePrim day=store_prim.OPENING_TIME_FRI/> - <@closingTimePrim day=store_prim.CLOSING_TIME_FRI/><#else>Closed</#if></span><br>
                                        Saturday: <span style="font-weight: 400;">
                                            <#if store_prim.OPENING_TIME_SAT?has_content>${store_prim.OPENING_TIME_SAT} <@openingTimePrim day=store_prim.OPENING_TIME_SAT/> - <@closingTimePrim day=store_prim.CLOSING_TIME_SAT/><#else>Closed</#if></span>
                                        </p>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        </a>
                    </div>
            <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
            </td>
        </tr>
        <tr style="background-color: #f1f1f1; max-width: 600px; padding: 0px" width="600">
            <td align="center">
                <p style="margin: 0; padding: 0; font-size: 30px; line-height: 30px;">&nbsp;</p>
            </td>
        </tr>
    </table>

    </#data>

<!-- NEAR STORE -->
<#elseif NEAREST_STORE?has_content && (NEAREST_STORE != '0' && NEAREST_STORE != '3000')>
    <#data STORE_DATA as store_near>
    <#filter FID=NEAREST_STORE>
    <#fields FID ADDRESS_1 ADDRESS_2 CITY LOCAL_PHONE LOCATION_NAME STATE POST_CODE OPENING_TIME_MON CLOSING_TIME_MON OPENING_TIME_TUE CLOSING_TIME_TUE OPENING_TIME_WED CLOSING_TIME_WED OPENING_TIME_THU CLOSING_TIME_THU OPENING_TIME_FRI CLOSING_TIME_FRI OPENING_TIME_SAT CLOSING_TIME_SAT OPENING_TIME_SUN CLOSING_TIME_SUN>
    <!-- NEAR CLOSING -->
    <#macro closingTimeNear day>
        <#if (day)?ends_with(":00")>
            <#assign tempTime = day?replace(':00','')?number>
            <#if tempTime gte 13>
              <#assign printTime = tempTime - 12 + ":00 PM">
            <#else>
            <#assign printTime = tempTime + ":00 PM">
        </#if>
        <#elseif (day)?ends_with(":30")>
            <#assign tempTime = day?replace(':30','')?number>
            <#if tempTime gte 13>
              <#assign printTime = tempTime - 12 + ":30 PM">
            <#else>
              <#assign printTime = tempTime + ":30 PM">
            </#if>
        <#else>
        <!-- do nothing -->
        </#if>
        ${printTime}
    </#macro>

    <!-- NEAR OPENING -->
    <#macro openingTimeNear day>
        <#if (day = "12:00" || day = "12:30")>
            <#assign timePeriod = "PM">
        <#else>
            <#assign timePeriod = "AM">
        </#if>
    ${timePeriod}
    </#macro>

    <!-- END MACROS -->

    <table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="width:100%; max-width: 600px; background-color: #f1f1f1;">
        <tr style="background-color: #f1f1f1; max-width: 600px; padding: 0px" width="600">
            <td align="center">
                <p style="margin: 0; padding: 0; font-size: 30px; line-height: 30px;">&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td align="center" style="font-size: 0;">
            <!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" style="width:50%;"><![endif]-->
                <div style="display: inline-block; max-width: 290px; width: 100%; vertical-align: top;" class="mw100">
                    <a href="${clickthrough('store_hours_info_near','FID='+store_near.FID?c,'CITY='+store_near.CITY,'STATE='+store_near.STATE)}" style="text-decoration: none;">
                    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:96%;">
                        <tr style="background-color: #f1f1f1; max-width: 600px; padding: 0px" width="600">
                        <td align="center">
                            <a href="${clickthrough('store_hours_info_near','FID='+store_near.FID?c,'CITY='+store_near.CITY,'STATE='+store_near.STATE)}" style="text-decoration: none;">
                            <p style="margin: 0 0 10px 0; padding: 0; color:#000000; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 18px; line-height: auto; text-align: left; width: 90%;">Want to shop in store?</p>
                            <p style="margin: 10px 0 10px 0; padding: 0; color:#000000; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 24px; line-height: auto; text-align: left; width: 90%;">Stop by&nbsp;<span style="margin: 0px 0px 10px 0px; padding: 0px; color: #000000; font-weight: 500; font-size: 24px; line-height: auto; text-align: left; width: 90%;"><#if store_near.LOCATION_NAME?has_content><br>${store_near.LOCATION_NAME}<#else>today!</#if></span></p>
                            <p style="margin: 0 0 10px 0; padding: 0; color:#000000; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 16px; line-height: 20px; text-align: left; width: 90%;">${store_near.ADDRESS_1}<br><#if ADDRESS_2?has_content>${store_near.ADDRESS_2}<br></#if>${store_near.CITY}, ${store_near.STATE} ${store_near.POST_CODE}<br>${store_near.LOCAL_PHONE}</p>
                            </a>
                        </td>
                    </tr>
                    </table>
                    </a>
                </div><!--[if (gte mso 9)|(IE)]></td><td align="center" style="width:50%;"><![endif]-->
                    <div style="display: inline-block; max-width: 290px; width:100%; border-left: 2px solid #bebebe; vertical-align: top;" class="mw100 mblhide_border">
                        <a href="${clickthrough('store_hours_info_near','FID='+store_near.FID?c,'CITY='+store_near.CITY,'STATE='+store_near.STATE)}" style="text-decoration: none;">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:96%;">
                            <tr style="background-color: #f1f1f1; max-width: 600px; padding: 0px" width="600">
                                <td align="center">
                                    <a href="${clickthrough('store_hours_info_near','FID='+store_near.FID?c,'CITY='+store_near.CITY,'STATE='+store_near.STATE)}" style="text-decoration: none;">
                                        <p style="margin: 0px 0px 0px 0px; padding: 0px; color: #000000; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 500; font-size: 16px; line-height: 30px; text-align: left; width: 90%;">
                                        Sunday: <span style="font-weight: 400;">
                                            <#if store_near.OPENING_TIME_SUN?has_content>${store_near.OPENING_TIME_SUN} <@openingTimePrim day=store_near.OPENING_TIME_SUN/> - <@closingTimePrim day=store_near.CLOSING_TIME_SUN/><#else>Closed</#if></span><br>
                                        Monday: <span style="font-weight: 400;">
                                            <#if store_near.OPENING_TIME_MON?has_content>${store_near.OPENING_TIME_MON} <@openingTimePrim day=store_near.OPENING_TIME_MON/> - <@closingTimePrim day=store_near.CLOSING_TIME_MON/><#else>Closed</#if></span><br>
                                        Tuesday: <span style="font-weight: 400;">
                                            <#if store_near.OPENING_TIME_TUE?has_content>${store_near.OPENING_TIME_TUE} <@openingTimePrim day=store_near.OPENING_TIME_TUE/> - <@closingTimePrim day=store_near.CLOSING_TIME_TUE/><#else>Closed</#if></span><br>
                                        Wednesday: <span style="font-weight: 400;">
                                            <#if store_near.OPENING_TIME_WED?has_content>${store_near.OPENING_TIME_WED} <@openingTimePrim day=store_near.OPENING_TIME_WED/> - <@closingTimePrim day=store_near.CLOSING_TIME_WED/><#else>Closed</#if></span><br>
                                        Thursday: <span style="font-weight: 400;">
                                            <#if store_near.OPENING_TIME_THU?has_content>${store_near.OPENING_TIME_THU} <@openingTimePrim day=store_near.OPENING_TIME_THU/> - <@closingTimePrim day=store_near.CLOSING_TIME_THU/><#else>Closed</#if></span><br>
                                        Friday: <span style="font-weight: 400;">
                                            <#if store_near.OPENING_TIME_FRI?has_content>${store_near.OPENING_TIME_FRI} <@openingTimePrim day=store_near.OPENING_TIME_FRI/> - <@closingTimePrim day=store_near.CLOSING_TIME_FRI/><#else>Closed</#if></span><br>
                                        Saturday: <span style="font-weight: 400;">
                                            <#if store_near.OPENING_TIME_SAT?has_content>${store_near.OPENING_TIME_SAT} <@openingTimePrim day=store_near.OPENING_TIME_SAT/> - <@closingTimePrim day=store_near.CLOSING_TIME_SAT/><#else>Closed</#if></span>
                                        </p>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        </a>
                    </div>
            <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
            </td>
        </tr>
        <tr style="background-color: #f1f1f1; max-width: 600px; padding: 0px" width="600">
            <td align="center">
                <p style="margin: 0; padding: 0; font-size: 30px; line-height: 30px;">&nbsp;</p>
            </td>
        </tr>
    </table>

    </#data>

<!-- FALLBACK -->
<#else>
    <!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
    <table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="background-color: #f1f1f1; background-size: cover; max-width: 600px; width: 100%;" bgcolor="#f1f1f1">
        <tr>
            <td>
                <table align="center" cellpadding="0" cellspacing="0" border="0" align="center" role="presentation" width="100%">
                    <tr>
                        <td align="center" cellpadding="0" cellspacing="0" border="0" align="center" width="400">
                            <p style="margin: 0; padding: 0; font-size:50px; line-height: 50px;">&nbsp;</p>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" cellpadding="0" cellspacing="0" border="0" align="center" width="600" style="max-width: 600px;">
                            <a href="${clickthrough('store_hours_info_gen')}" style="text-decoration: none;">
                                <p class="text_mobile_02" style="margin:0 0 20px 0; padding: 0; color:#000000; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 18px; line-height: auto; text-align: center; width: 90%;">Want to get your items today?</p>
                            </a>
                            <a href="${clickthrough('store_hours_info_gen')}" style="color:#000000; font-family:'avenir55roman', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: normal; font-size:24px; text-decoration: none; border-bottom: 2px solid;" class="cta-underline">Find your nearest store</a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" cellpadding="0" cellspacing="0" border="0" align="center" width="400">
                            <p style="margin: 0; padding: 0; font-size:50px; line-height: 50px;">&nbsp;</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
</#if>
</#compress>
