<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="background-color:#ffffff;max-width:600px;width:100%;" bgcolor="#ffffff">
    <tr>
        <td>
            <table align="center" cellpadding="0" cellspacing="0" border="0" align="center" role="presentation" width="100%">
                <tr>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" align="center" width="600" style="max-width:600px;">
                        <a href="${clickthrough('footer_rewards_shoplink', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration:none;">
                            <p class="text_mobile_02" style="margin:40px 0 20px 0;padding:0;color:#000000;font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif;font-weight:500;font-size:30px;line-height:auto;text-align:center;width:90%;">Here are your top rewards:</p>
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <#if CERTS_BARCODE == ""><#skip "Barcode is empty"></#if><#list CERTS_BARCODE?split("|") as bar><#if bar_has_next><#else><#assign count=bar_index + 1></#if></#list><!-- Loop through value of var 'count' starting with 1, 2, ... --><#list 1..count as cnt><!-- Loop through CERTS_BARCODE, and assign var 'coupon' when CERTS_BARCODE index + 1 equals to count loop index --><#list CERTS_BARCODE?split("|") as barcode><#if barcode_index + 1 = cnt><#assign barcode=barcode></#if></#list><#list CERT_EXPIRATION_DATES?split("|") as expdate><#if expdate_index + 1 = cnt><#assign expdate=expdate></#if></#list>
            <table align="center" cellpadding="0" cellspacing="0" border="0" style="background-image: url(https://www.maurices.com/is/image/mauricesProdATG/mau_email_shell_rewards_bg?fmt=png&qlt=78); background-size: 100% 100%; background-color: #003d3c;width:90%;" bgcolor="#003d3c">
                <tr>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" width="540">
                        <p class="text_mobile_01" style="margin:0;padding:0;font-size:20px;line-height:auto;">&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="92%" style="background-color:#fffef9;max-width:496px;">
                            <tr>
                                <td align="center" cellpadding="0" cellspacing="0" border="0" width="496">
                                    <p class="paddm" style="margin:0;padding:10px 0 0 0;font-size:16px;line-height:auto;">&nbsp;</p>
                                    <p class="text_mobile_04" style="margin:0;padding:0;color:#000000;font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif;font-weight:600;font-size:40px;line-height:auto;text-align:center;width:90%;letter-spacing:1px;">$5 REWARD<span class="aligntop" style="font-family:sans-serif;font-size:30px;font-weight:400;vertical-align:10px;padding-left:4px;margin:0;line-height:normal;">**</span></p>
                                    <p class="text_mobile_00" style="margin:0;padding:0;font-size:20px;line-height:auto;">&nbsp;</p>
                                    <img src="http://shop.maurices.com/bca/z/image?D=${barcode}&ct=PDF417&W=320&H=44&X=.06" alt="barcode" class="w90">
                                    <p class="text_mobile_02" style="margin:20px 0;padding:0;color:#000000;font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif;font-weight:500;font-size:16px;line-height:auto;text-align:center;width:90%;">ONLINE CODE: ${barcode?substring(17, 29)}</p>
                                    <p style="margin:0 0 20px 0;padding:0;color:#000000;font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif;font-weight:400;font-size:14px;line-height:auto;text-align:center;width:90%;">one-time use &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; expires ${(expdate)?date("yyyy-MM-dd")?string("MM/dd/yyyy")}</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" width="540">
                        <p class="text_mobile_01" style="margin:0;padding:0;font-size:20px;line-height:auto;">&nbsp;</p>
                    </td>
                </tr>
            </table>
            <table align="center" cellpadding="0" cellspacing="0" border="0" align="center" role="presentation" width="100%">
                    <tr>
                        <td align="center" cellpadding="0" cellspacing="0" border="0" width="600">
                            <p class="text_mobile_01" style="margin:0;padding:0;font-size:20px;line-height:auto;">&nbsp;</p>
                        </td>
                    </tr>
            </table>
            <#if cnt_index == 3><#break></#if></#list>
        </td>
    </tr>
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
<!-- START COMPONENT: CTA GHOST 1 -->
<#if CERTS_AVAILABLE gte 5>
<table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="width:100%; background-color: #ffffff; max-width: 600px;">
    <tr>
        <td align="center" style="font-size:0;padding:0px;vertical-align:top">
            <!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:450px;"><tr><td align="center" valign="top" style="width:50%;"><![endif]-->
            <div style="display:inline-block;vertical-align:top;max-width:225px;width:100%;" class="mw100">
                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
                    <tr>
                        <td align="center" style="padding-top:25px;">
                          <table align="center" border="0" cellspacing="0" cellpadding="0" role="presentation" style="width:210px;border-collapse: separate;border: 1px solid #000000;" class="cta-black-ghost">
                              <tr>
                                  <td valign="middle" height="48" style="text-align:center; height:48px;">
                                      <a href="${clickthrough('view_all_certificates')}" style="display:inline-block;padding:10px 10px;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;line-height:22px;color:#000000; text-decoration:none;"> <!--[if mso]>&nbsp;&nbsp;&nbsp;<![endif]-->VIEW ALL REWARDS<!--[if mso]>&nbsp;&nbsp;&nbsp;<![endif]-->
                                      </a>
                                  </td>
                              </tr>
                          </table>
                        </td>
                    </tr>
                </table>
            </div>
            <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
        </td>
    </tr>
</table>
</#if>
<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="width:100%;max-width:600px;background-color:#ffffff;" bgcolor="#ffffff">
    <tr>
        <td align="center">
            <p style="margin:0;padding:0;font-size:20px;line-height:auto;">&nbsp;</p>
        </td>
    </tr>
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
