<!-- START COMPONENT: FREE SHIPPING BANNER -->

<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="background-color: #398885; background-size: cover; max-width: 600px; width: 100%;" bgcolor="#398885">
    <tr>
        <td>
            <table align="center" cellpadding="0" cellspacing="0" border="0" align="center" role="presentation" width="100%">
                <tr>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" width="400">
                        <p style="margin: 0px 0px 0px 0px; padding: 0px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 10px; font-weight:bold; line-height: auto;text-align: center; width: 90%;">&nbsp;</p>
                    </td>
                </tr>
                <!-- CONTENT START -->
                <tr>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" width="600" style="max-width: 600px;">
                        <a href="${clickthrough('header_free_shipping_banner')}" style="text-decoration: none;">
                            <p class="w85" style="margin: 0px 0px 0px 0px; padding: 0px; color: #ffffff; font-family:'avenir85heavy', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 500; font-size: 16px; line-height: auto; text-align: center; width: 90%;">FREE SHIPPING <span style="font-family:'avenir55roman', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: normal;"><#if (MCC_STATUS="A" || MCC_STATUS="I")>+ 10% OFF EVERY DAY when you use your maurices credit card<span style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:50%; font-weight: normal; vertical-align: top; margin: 0; line-height:normal;">&#8225;</span><#else>when you pick up in store or on orders of $50 or more<span style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:50%; font-weight: normal; vertical-align: top; margin: 0; line-height:normal;">&#8225;</span></#if></span></p>
                        </a>
                    </td>
                </tr>
                <!-- CONTENT END -->
                <tr>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" align="center" width="400">
                        <p style="margin: 0px 0px 0px 0px; padding: 0px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 10px; font-weight:bold; line-height: auto;text-align: center; width: 90%;">&nbsp;</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->

<!-- END COMPONENT: FREE SHIPPING BANNER -->
