<!-- START COMPONENT: SOCIAL MEDIA BAR -->
     
<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="background-color: #ffffff; background-size: cover; max-width: 600px; width: 100%;" bgcolor="#ffffff">
    <tr>
        <td>
            <table align="center" cellpadding="0" cellspacing="0" border="0" align="center" role="presentation" width="30%" class="w70">
                <tr>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" width="400">
                        <p style="margin: 0px 0px 0px 0px; padding: 0px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 20px; font-weight:bold; line-height: auto;text-align: center; width: 90%;">&nbsp;</p>
                    </td>
                </tr>
                <!-- CONTENT START -->
                <tr>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" width="600" style="max-width: 600px;">
                        <a href="${clickthrough('footer_instagram')}" style="text-decoration: none;">
                            <img src="https://www.maurices.com/is/image/mauricesProdATG/mau_email_footer_social_black_whitebg_alpha_instagram?fmt=png-alpha&qlt=80" alt="Instagram" width="20" style="border:0;display: block;outline: 0;padding:0; width:50%;max-width: 20px;" class="w100"/>
                        </a>
                    </td>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" width="600" style="max-width: 600px;">
                        <a href="${clickthrough('footer_twitter')}" style="text-decoration: none;">
                            <img src="https://www.maurices.com/is/image/mauricesProdATG/mau_email_footer_social_black_whitebg_alpha_twitter?fmt=png-alpha&qlt=80" alt="Twitter" width="20" style="border:0;display: block;outline: 0;padding:0; width:50%;max-width: 20px;" class="w100"/>
                        </a>
                    </td>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" width="600" style="max-width: 600px;">
                        <a href="${clickthrough('footer_facebook')}" style="text-decoration: none;">
                            <img src="https://www.maurices.com/is/image/mauricesProdATG/mau_email_footer_social_black_whitebg_alpha_facebook?fmt=png-alpha&qlt=80" alt="Facebook" width="20" style="border:0;display: block;outline: 0;padding:0; width:50%;max-width: 20px;" class="w100"/>
                        </a>
                    </td>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" width="600" style="max-width: 600px;">
                        <a href="${clickthrough('footer_pinterest')}" style="text-decoration: none;">
                            <img src="https://www.maurices.com/is/image/mauricesProdATG/mau_email_footer_social_black_whitebg_alpha_pinterest?fmt=png-alpha&qlt=80" alt="Pinterest" width="20" style="border:0;display: block;outline: 0;padding:0; width:50%;max-width: 20px;" class="w100"/>
                        </a>
                    </td>
                </tr>
                <!-- CONTENT END -->
                <tr>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" align="center" width="400">
                        <p style="margin: 0px 0px 0px 0px; padding: 0px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 20px; font-weight:bold; line-height: auto;text-align: center; width: 90%;">&nbsp;</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>    
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->

<!-- END COMPONENT: SOCIAL MEDIA BAR -->