<!-- START COMPONENT: HEADER -->

<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="background-color: #ffffff; background-size: cover; max-width: 600px; width: 100%;" bgcolor="#ffffff">
    <tr>
        <td>
            <table align="center" cellpadding="0" cellspacing="0" border="0" align="center" role="presentation" width="92%" style="background-color: #ffffff;">
                <tr>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" width="600">
                        <p class="mblhide" style="margin: 0; padding: 0; font-size: 30px; line-height: auto;">&nbsp;</p>
                    </td>
                </tr>
                <!-- CONTENT START -->
                <tr>
                    <td align="left" cellpadding="0" cellspacing="0" border="0" width="600" style="max-width: 600px;">
                        <a href="${clickthrough('hdr_mymaurices_signup', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration: none;">
                            <img src="https://www.maurices.com/is/image/mauricesProdATG/maurices_email_logo_main?fmt=png-alpha&qlt=78" alt="maurices" width="200" style="border:0;display: block;outline: 0;padding:0; width:50%;max-width: 200px;" class="w90"/>
                            <p class="w100" style="margin: 20px 0px 10px 0px; padding: 0px; color:#363636;font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 12px; line-height: auto; text-align: left; width: 90%;">Hi<#if FIRST_NAME?has_content>,&nbsp;${(FIRST_NAME?lower_case)?cap_first}<#else>&nbsp;there!</#if>&nbsp;&nbsp;|&nbsp;&nbsp;<#if (MCC_STATUS="A" || MCC_STATUS="I") && CURRENT_LOYALTY_STATUS="Y">maurices VIP member&nbsp;&nbsp;|&nbsp;&nbsp;${LOYALTY_ID}<#elseif (MCC_STATUS="A" || MCC_STATUS="I") && CURRENT_LOYALTY_STATUS="N">maurices VIP member<#if LOYALTY_ID?has_content>&nbsp;&nbsp;|&nbsp;&nbsp;${LOYALTY_ID}</#if><#elseif (MCC_STATUS="C" || MCC_STATUS="N") && CURRENT_LOYALTY_STATUS="Y"><i>my</i>maurices member&nbsp;&nbsp;|&nbsp;&nbsp;${LOYALTY_ID}<#else>Get $5 when you sign up for mymaurices rewards!</#if>
                            </p>
                            <#if CERTS_VALUE gt 0 || POINTS gt 0>
                                <p style="margin: 0px 0px 0px 0px; padding: 0px; color:#363636;font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 12px; line-height: 1.7; text-align: left; width: 90%;"><#if CERTS_VALUE gt 0>You have $${CERTS_VALUE} in rewards!</#if><span style="font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 600;"><span class="deskhide"><br></span><#if POINTS gt 0>&nbsp;&nbsp;Spend $${100 - ALLANT_CUST_PET_V2.POINTS} to get your next $5 reward</#if></span>
                                </p>
                            </#if>
                        </a>
                    </td>
                </tr>
                <!-- CONTENT END -->
            </table>
        </td>
    </tr>
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->

<!-- END COMPONENT: HEADER -->



<!-- START COMPONENT: SPACER -->

<table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="width:100%; max-width: 600px; background-color: #ffffff;">
    <tr>
        <td align="center" style="padding: 0px;">
            <!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
                <tr style="background-color: #ffffff; max-width: 600px; padding: 0px" width="600">
                    <td align="center">
                        <p style="margin: 0px; padding: 0px; color: #121212;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 10px; font-weight: bold; line-height: auto; text-align: center; width: 90%;">&nbsp;</p>
                    </td>
                </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
        </td>
    </tr>
</table>

<!-- END COMPONENT: SPACER -->