<#if CURRENT_LOYALTY_STATUS="N">
    
<!-- START COMPONENT: SPACER -->
    
<table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="width:100%; max-width: 600px; background-color: #ffffff;">
    <tr>
        <td align="center" style="padding: 0px;">
            <!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
                <tr style="background-color: #ffffff; max-width: 600px; padding: 0px" width="600">
                    <td align="center">
                        <p style="margin: 0px; padding: 0px; font-family: sans-serif; font-size: 12px; line-height: auto; text-align: center;">&nbsp;</p>
                    </td>
                </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
        </td>
    </tr>
</table>

<!-- END COMPONENT: SPACER -->
    
<!-- START COMPONENT: REWARDS MODULE -->
     
<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="background-color: #ffffff; max-width: 600px; width: 100%;" bgcolor="#ffffff">
    <tr>
        <td>
            <table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="background-image: url(https://www.maurices.com/is/image/mauricesProdATG/mau_email_shell_rewards_bg?fmt=png&qlt=78); background-size: 100% 100%; background-color: #003d3c; width: 100%; margin-bottom: 0px;" bgcolor="#003d3c">
                <tr>
                    <td>
                        <table align="center" cellpadding="0" cellspacing="0" border="0" align="center" role="presentation" width="92%" style="margin-bottom: 20px; margin-top: 20px;">
                            <!-- CONTENT START -->
                            <tr>
                                <td align="center" cellpadding="0" cellspacing="0" border="0" align="center" width="400" style="background-color: #fffef9; max-width: 400px;">
                                    <!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:70%;"><tr><td align="center" valign="top" width="70%"><![endif]-->
                                    <a href="${clickthrough('signup')}" style="text-decoration: none;">
                                        <p style="margin: 0px; padding: 0px; font-family: sans-serif; font-size: 30px; line-height: auto; text-align: center;">&nbsp;</p>
                                        <p class="text_mobile_02" style="margin: 0px 0px 20px 0px; padding: 0px; color: #003d3c; font-family:'avenir85heavy', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight:500; font-size: 28px; line-height: auto; text-align: center; width: 90%;"><#if FIRST_NAME?has_content>${FIRST_NAME}</#if></p>
                                        <!-- START: Text container -->
                                        <table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 90%;" class="w80">
                                        <tr>
                                            <td align="center" valign="top" width="100%">
                                                <p class="text_mobile_02 w100" style="margin: 0px 0px 20px 0px; padding: 0px; color: #000000; font-family:'avenir85heavy', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 500; font-size: 24px; line-height: 36px; text-align: center; width: 90%;">EARN POINTS EVERY TIME YOU SHOP</p>
                                                <p class="text_mobile_02 w100" style="margin: 0px 0px 0px 0px; padding: 0px; color: #072f2d; font-family:'avenir55roman', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 20px; line-height: auto; text-align: center;">$1 = 1 POINT<span class="mblhide">&nbsp;&nbsp;</span><span class="deskhide"><br></span><span class="mblhide">&nbsp;&nbsp;</span>100 POINTS = $5 REWARD</p>
                                                <p style="margin: 0px; padding: 0px; font-family: sans-serif; font-size: 30px; line-height: auto; text-align: center;">&nbsp;</p>
                                                <p class="text_mobile_02" style="margin: 0px 0px 0px 0px; padding: 0px; color: #072f2d; font-family:'avenir85heavy', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 20px; line-height: auto; text-align: center;">$5 REWARD JUST FOR SIGNING UP!</p>
                                            </td>
                                        </tr>
                                        </table>
                                        <p style="margin: 0px; padding: 0px; font-family: sans-serif; font-size: 30px; line-height: auto; text-align: center;">&nbsp;</p> 
                                        <p class="text_mobile_02" style="margin: 0px 0px 0px 0px; padding: 0px; color: #003d3c; font-family:'avenir85heavy', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight:500; font-size: 22px; line-height: auto; text-align: center; width: 90%; text-decoration: underline;">SIGN UP NOW</p>
                                        <p style="margin: 0px; padding: 0px; font-family: sans-serif; font-size: 20px; line-height: auto; text-align: center;">&nbsp;</p> 
                                        <img src="https://www.maurices.com/is/image/mauricesProdATG/mau_email_general_mmlogo_transparent?fmt=png-alpha" alt="mymaurices rewards logo" width="200" style="border:0;display: block;outline: 0; padding:0; width:100%; max-width: 200px;" class="w70"/>
                                        <p style="margin: 0px; padding: 0px; font-family: sans-serif; font-size: 20px; line-height: auto; text-align: center;">&nbsp;</p>
                                    </a>
                                    <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
                                </td>
                            </tr>
                            <!-- CONTENT END -->
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>    
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
     
<!-- END COMPONENT: REWARDS MODULE -->

<!-- START COMPONENT: SPACER -->

<table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="width:100%; max-width: 600px; background-color: #ffffff;">
    <tr>
        <td align="center" style="padding: 0px;">
            <!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
                <tr style="background-color: #ffffff; max-width: 600px; padding: 0px" width="600">
                    <td align="center">
                        <p style="margin: 0px; padding: 0px; font-family: sans-serif; font-size: 12px; line-height: auto; text-align: center;">&nbsp;</p>
                    </td>
                </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
        </td>
    </tr>
</table>

<!-- END COMPONENT: SPACER -->
    
</#if>

<#if CURRENT_LOYALTY_STATUS="Y">
<#if CERTS_VALUE gt 0>
    <!-- START COMPONENT: SPACER -->
    
<table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="width:100%; max-width: 600px; background-color: #ffffff;">
    <tr>
        <td align="center" style="padding: 0px;">
            <!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
                <tr style="background-color: #ffffff; max-width: 600px; padding: 0px" width="600">
                    <td align="center">
                        <p style="margin: 0px; padding: 0px; font-family: sans-serif; font-size: 12px; line-height: auto; text-align: center;">&nbsp;</p>
                    </td>
                </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
        </td>
    </tr>
</table>

<!-- END COMPONENT: SPACER -->

<!-- START COMPONENT: REWARDS MODULE -->
     
<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="background-color: #ffffff; max-width: 600px; width: 100%;" bgcolor="#ffffff">
    <tr>
        <td>
            <table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="background-image: url(https://www.maurices.com/is/image/mauricesProdATG/mau_email_shell_rewards_bg?fmt=png&qlt=78); background-size: 100% 100%; background-color: #003d3c; width: 100%; margin-bottom: 0px;" bgcolor="#003d3c">
                <tr>
                    <td>
                        <table align="center" cellpadding="0" cellspacing="0" border="0" align="center" role="presentation" width="92%" style="margin-bottom: 20px; margin-top: 20px;">
                            <!-- CONTENT START -->
                            <tr>
                                <td align="center" cellpadding="0" cellspacing="0" border="0" align="center" width="400" style="background-color: #fffef9; max-width: 400px;">
                                    <a href="${clickthrough('loy_signin')}" style="text-decoration: none;">
                                    <p style="margin: 0px; padding: 0px; font-family: sans-serif; font-size: 30px; line-height: auto; text-align: center;">&nbsp;</p>
                                    <p class="text_mobile_02" style="margin: 0px 0px 20px 0px; padding: 0px; color: #003d3c; font-family:'avenir85heavy', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight:500; font-size: 28px; line-height: auto; text-align: center; width: 90%;"><#if FIRST_NAME?has_content>${FIRST_NAME}</#if></p>
                                    <p class="text_mobile_02" style="margin: 0px 0px 10px 0px; padding: 0px; color: #000000; font-family:'avenir85heavy', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight:500; font-size: 20px; line-height: auto; text-align: center; width: 90%;">USE YOUR</p>
                                    <p class="text_mobile_03" style="margin: 0px 0px 10px 0px; padding: 0px; color: #003d3c; font-family:'avenir95black', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 500; font-size: 50px; line-height: auto; text-align: center; width: 90%;">$${CERTS_VALUE}</p>
                                    <p class="text_mobile_02" style="margin: 0px 0px 20px 0px; padding: 0px; color: #000000; font-family:'avenir85heavy', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight:500; font-size: 20px; line-height: auto; text-align: center; width: 90%;">IN REWARDS NOW</p>
                                    <p class="text_mobile_02 w100" style="margin: 0px 0px 0px 0px; padding: 0px; color: #003d3c; font-family:'avenir85heavy', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight:500; font-size: 22px; line-height: auto; text-align: center; width: 90%;"><span style="text-decoration: underline;">SIGN IN</span> TO REDEEM NOW</p>
                                    <p style="margin: 0px; padding: 0px; font-family: sans-serif; font-size: 20px; line-height: auto; text-align: center;">&nbsp;</p> 
                                    <img src="https://www.maurices.com/is/image/mauricesProdATG/mau_email_general_mmlogo_transparent?fmt=png-alpha" alt="mymaurices rewards logo" width="200" style="border:0;display: block;outline: 0; padding:0; width:100%; max-width: 200px;" class="w70"/>
                                    <p style="margin: 0px; padding: 0px; font-family: sans-serif; font-size: 20px; line-height: auto; text-align: center;">&nbsp;</p>
                                    </a>
                                </td>
                            </tr>
                            <!-- CONTENT END -->
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>    
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
     
<!-- END COMPONENT: REWARDS MODULE -->

    <!-- START COMPONENT: SPACER -->
    
<table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="width:100%; max-width: 600px; background-color: #ffffff;">
    <tr>
        <td align="center" style="padding: 0px;">
            <!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
                <tr style="background-color: #ffffff; max-width: 600px; padding: 0px" width="600">
                    <td align="center">
                        <p style="margin: 0px; padding: 0px; font-family: sans-serif; font-size: 12px; line-height: auto; text-align: center;">&nbsp;</p>
                    </td>
                </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
        </td>
    </tr>
</table>

<!-- END COMPONENT: SPACER -->
    
<#elseif POINTS gt 0>
    
    <!-- START COMPONENT: SPACER -->
    
<table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="width:100%; max-width: 600px; background-color: #ffffff;">
    <tr>
        <td align="center" style="padding: 0px;">
            <!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
                <tr style="background-color: #ffffff; max-width: 600px; padding: 0px" width="600">
                    <td align="center">
                        <p style="margin: 0px; padding: 0px; font-family: sans-serif; font-size: 12px; line-height: auto; text-align: center;">&nbsp;</p>
                    </td>
                </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
        </td>
    </tr>
</table>

<!-- END COMPONENT: SPACER -->

<!-- START COMPONENT: REWARDS MODULE -->
     
<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="background-color: #ffffff; max-width: 600px; width: 100%;" bgcolor="#ffffff">
    <tr>
        <td>
            <table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="background-image: url(https://www.maurices.com/is/image/mauricesProdATG/mau_email_shell_rewards_bg?fmt=png&qlt=78); background-size: 100% 100%; background-color: #003d3c; width: 100%; margin-bottom: 0px;" bgcolor="#003d3c">
                <tr>
                    <td>
                        <table align="center" cellpadding="0" cellspacing="0" border="0" align="center" role="presentation" width="92%" style="margin-bottom: 20px; margin-top: 20px;">
                            <!-- CONTENT START -->
                            <tr>
                                <td align="center" cellpadding="0" cellspacing="0" border="0" align="center" width="400" style="background-color: #fffef9; max-width: 400px;">
                                    <a href="${clickthrough('loy_shop')}" style="text-decoration: none;">
                                    <p style="margin: 0px; padding: 0px; font-family: sans-serif; font-size: 30px; line-height: auto; text-align: center;">&nbsp;</p>
                                    <p class="text_mobile_02" style="margin: 0px 0px 20px 0px; padding: 0px; color: #003d3c; font-family:'avenir85heavy', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight:500; font-size: 28px; line-height: auto; text-align: center; width: 90%;"><#if FIRST_NAME?has_content>${FIRST_NAME}</#if></p>
                                    <p class="text_mobile_02" style="margin: 0px 0px 10px 0px; padding: 0px; color: #000000; font-family:'avenir85heavy', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight:500; font-size: 20px; line-height: auto; text-align: center; width: 90%;">YOU'RE JUST</p>
                                    <p class="text_mobile_03" style="margin: 0px 0px 10px 0px; padding: 0px; color: #003d3c; font-family:'avenir95black', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 500; font-size: 50px; line-height: auto; text-align: center; width: 90%;">${100 - ALLANT_CUST_PET_V2.POINTS}</p>
                                    <p class="text_mobile_02" style="margin: 0px 0px 20px 0px; padding: 0px; color: #000000; font-family:'avenir85heavy', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight:500; font-size: 20px; line-height: auto; text-align: center; width: 90%;">POINTS FROM YOUR NEXT $5 REWARD.</p>
                                    <p class="text_mobile_02" style="margin: 0px 0px 0px 0px; padding: 0px; color: #003d3c; font-family:'avenir85heavy', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight:500; font-size: 22px; line-height: auto; text-align: center; width: 90%; text-decoration: underline;">SHOP NOW</p>
                                    <p style="margin: 0px; padding: 0px; font-family: sans-serif; font-size: 20px; line-height: auto; text-align: center;">&nbsp;</p> 
                                    <img src="https://www.maurices.com/is/image/mauricesProdATG/mau_email_general_mmlogo_transparent?fmt=png-alpha" alt="mymaurices rewards logo" width="200" style="border:0;display: block;outline: 0; padding:0; width:100%; max-width: 200px;" class="w70"/>
                                    <p style="margin: 0px; padding: 0px; font-family: sans-serif; font-size: 20px; line-height: auto; text-align: center;">&nbsp;</p>
                                    </a>
                                </td>
                            </tr>
                            <!-- CONTENT END -->
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>    
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
     
<!-- END COMPONENT: REWARDS MODULE -->

    <!-- START COMPONENT: SPACER -->
    
<table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="width:100%; max-width: 600px; background-color: #ffffff;">
    <tr>
        <td align="center" style="padding: 0px;">
            <!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
                <tr style="background-color: #ffffff; max-width: 600px; padding: 0px" width="600">
                    <td align="center">
                        <p style="margin: 0px; padding: 0px; font-family: sans-serif; font-size: 12px; line-height: auto; text-align: center;">&nbsp;</p>
                    </td>
                </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
        </td>
    </tr>
</table>

<!-- END COMPONENT: SPACER -->

<#else>
    
<!-- START COMPONENT: SPACER -->
    
<table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="width:100%; max-width: 600px; background-color: #ffffff;">
    <tr>
        <td align="center" style="padding: 0px;">
            <!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
                <tr style="background-color: #ffffff; max-width: 600px; padding: 0px" width="600">
                    <td align="center">
                        <p style="margin: 0px; padding: 0px; font-family: sans-serif; font-size: 12px; line-height: auto; text-align: center;">&nbsp;</p>
                    </td>
                </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
        </td>
    </tr>
</table>

<!-- END COMPONENT: SPACER -->
    
<!-- START COMPONENT: REWARDS MODULE -->
     
<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="background-color: #ffffff; max-width: 600px; width: 100%;" bgcolor="#ffffff">
    <tr>
        <td>
            <table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="background-image: url(https://www.maurices.com/is/image/mauricesProdATG/mau_email_shell_rewards_bg?fmt=png&qlt=78); background-size: 100% 100%; background-color: #003d3c; width: 100%; margin-bottom: 0px;" bgcolor="#003d3c">
                <tr>
                    <td>
                        <table align="center" cellpadding="0" cellspacing="0" border="0" align="center" role="presentation" width="92%" style="margin-bottom: 20px; margin-top: 20px;">
                            <!-- CONTENT START -->
                            <tr>
                                <td align="center" cellpadding="0" cellspacing="0" border="0" align="center" width="400" style="background-color: #fffef9; max-width: 400px;">
                                    <!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:70%;"><tr><td align="center" valign="top" width="70%"><![endif]-->
                                    <a href="${clickthrough('loy_shop')}" style="text-decoration: none;">
                                    <p style="margin: 0px; padding: 0px; font-family: sans-serif; font-size: 30px; line-height: auto; text-align: center;">&nbsp;</p>
                                    <p class="text_mobile_02" style="margin: 0px 0px 20px 0px; padding: 0px; color: #003d3c; font-family:'avenir85heavy', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight:500; font-size: 28px; line-height: auto; text-align: center; width: 90%;"><#if FIRST_NAME?has_content>${FIRST_NAME}</#if></p>
                                    <p class="text_mobile_02" style="margin: 0px 0px 20px 0px; padding: 0px; color: #000000; font-family:'avenir85heavy', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 500; font-size: 24px; line-height: 36px; text-align: center; width: 70%;">EARN POINTS TOWARDS YOUR NEXT $5 REWARD!</p>
                                    <p class="text_mobile_02" style="margin: 0px 0px 0px 0px; padding: 0px; color: #003d3c; font-family:'avenir85heavy', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight:500; font-size: 22px; line-height: auto; text-align: center; width: 90%; text-decoration: underline;">SHOP NOW</p>
                                    <p style="margin: 0px; padding: 0px; font-family: sans-serif; font-size: 20px; line-height: auto; text-align: center;">&nbsp;</p> 
                                    <img src="https://www.maurices.com/is/image/mauricesProdATG/mau_email_general_mmlogo_transparent?fmt=png-alpha" alt="mymaurices rewards logo" width="200" style="border:0;display: block;outline: 0; padding:0; width:100%; max-width: 200px;" class="w70"/>
                                    <p style="margin: 0px; padding: 0px; font-family: sans-serif; font-size: 20px; line-height: auto; text-align: center;">&nbsp;</p>
                                    </a>
                                    <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
                                </td>
                            </tr>
                            <!-- CONTENT END -->
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>    
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
     
<!-- END COMPONENT: REWARDS MODULE -->

    <!-- START COMPONENT: SPACER -->
    
<table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="width:100%; max-width: 600px; background-color: #ffffff;">
    <tr>
        <td align="center" style="padding: 0px;">
            <!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
                <tr style="background-color: #ffffff; max-width: 600px; padding: 0px" width="600">
                    <td align="center">
                        <p style="margin: 0px; padding: 0px; font-family: sans-serif; font-size: 12px; line-height: auto; text-align: center;">&nbsp;</p>
                    </td>
                </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
        </td>
    </tr>
</table>

<!-- END COMPONENT: SPACER -->

</#if>
</#if>