<!-- START COMPONENT: SPACER -->
    
<table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="width:100%; max-width: 600px; background-color: #cd1330;">
    <tr>
        <td align="center" style="padding: 0px;">
            <!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
                <tr style="background-color: #cd1330; max-width: 600px; padding: 0px" width="600">
                    <td align="center">
                        <p style="margin:px;padding: 0px;color:#121212;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:12px;font-weight:bold;line-height: auto;text-align: center; width: 90%;">&nbsp;</p>
                    </td>
                </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
        </td>
    </tr>
</table>

<!-- END COMPONENT: SPACER -->


<!-- START COMPONENT: RFK 2x1 -->

<table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="width:100%; max-width: 600px; background-color: #cd1330;" bgcolor="#cd1330">
    <tr>
        <td align="center" style="padding:0;font-size: 0;vertical-align: top;">
        <!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
            <!--[if (gte mso 9)|(IE)]><td align="center" style="width:48%;"><![endif]-->
            <div style="display: inline-block;vertical-align:top;width:48%; background-color: #cd1330;" class="mw100" bgcolor="#cd1330">
                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:96%;">
                    <tr>
                        <td align="center">
                        <a href="${clickthrough('rfk_1_src')}">
                            <img src="http://249555611-prod-email.rfksrv.com/v1/249555611/image_url1.jpg?camp=cme_${campaign.name}&rmid=${campaign.name}&rrid=${RIID_?c}&tst=${.now?string('yyyyMMdhh')}" width="300" style="border:0;display: block;outline: 0;padding:0px;color:#55b7b3;font-family:arial,sans-serif;font-weight:bold;width:100%;max-width: 296px;" />
                        </a>
                        </td>
                    </tr>
                </table>
            </div><!--[if (gte mso 9)|(IE)]></td><td align="center" style="width:48%;"><![endif]-->
            <div style="display: inline-block;vertical-align:top;width:48%; background-color: #cd1330;" class="mw100" bgcolor="#cd1330">
                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:96%;">
                    <tr>
                        <td align="center">
                        <a href="${clickthrough('rfk_2_src')}">
                            <img src="http://249555611-prod-email.rfksrv.com/v1/249555611/image_url2.jpg?camp=cme_${campaign.name}&rmid=${campaign.name}&rrid=${RIID_?c}&tst=${.now?string('yyyyMMdhh')}" width="300" style="border:0;display: block;outline: 0;padding:0px;color:#55b7b3;font-family:arial,sans-serif;font-weight:bold;width:100%;max-width: 296px;" />
                        </a>
                        </td>
                    </tr>
                </table>
            </div>
        <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
        </td>
    </tr>
</table>
  
    
<!-- END COMPONENT: RFK 2x1 -->


<!-- START COMPONENT: SPACER -->
    
<table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="width:100%; max-width: 600px; background-color: #cd1330;">
    <tr>
        <td align="center" style="padding: 0px;">
            <!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
                <tr style="background-color: #cd1330; max-width: 600px; padding: 0px" width="600">
                    <td align="center">
                        <p style="margin:0px;padding: 0px;color:#121212;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:12px;font-weight:bold;line-height: auto;text-align: center; width: 90%;">&nbsp;</p>
                    </td>
                </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
        </td>
    </tr>
</table>

<!-- END COMPONENT: SPACER -->


<!-- START COMPONENT: RFK 2x1 -->

<table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="width:100%; max-width: 600px; background-color: #cd1330;" bgcolor="#cd1330">
    <tr>
        <td align="center" style="padding:0;font-size: 0;vertical-align: top;">
        <!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
            <!--[if (gte mso 9)|(IE)]><td align="center" style="width:48%;"><![endif]-->
            <div style="display: inline-block;vertical-align:top;width:48%; background-color: #cd1330;" class="mw100" bgcolor="#cd1330">
                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:96%;">
                    <tr>
                        <td align="center">
                        <a href="${clickthrough('rfk_3_src')}">
                            <img src="http://249555611-prod-email.rfksrv.com/v1/249555611/image_url3.jpg?camp=cme_${campaign.name}&rmid=${campaign.name}&rrid=${RIID_?c}&tst=${.now?string('yyyyMMdhh')}" width="300" style="border:0;display: block;outline: 0;padding:0px;color:#55b7b3;font-family:arial,sans-serif;font-weight:bold;width:100%;max-width: 296px;" />
                        </a>
                        </td>
                    </tr>
                </table>
            </div><!--[if (gte mso 9)|(IE)]></td><td align="center" style="width:48%;"><![endif]-->
            <div style="display: inline-block;vertical-align:top;width:48%; background-color: #cd1330;" class="mw100" bgcolor="#cd1330">
                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:96%;">
                    <tr>
                        <td align="center">
                        <a href="${clickthrough('rfk_4_src')}">
                            <img src="http://249555611-prod-email.rfksrv.com/v1/249555611/image_url4.jpg?camp=cme_${campaign.name}&rmid=${campaign.name}&rrid=${RIID_?c}&tst=${.now?string('yyyyMMdhh')}" width="300" style="border:0;display: block;outline: 0;padding:0px;color:#55b7b3;font-family:arial,sans-serif;font-weight:bold;width:100%;max-width: 296px;" />
                        </a>
                        </td>
                    </tr>
                </table>
            </div>
        <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
        </td>
    </tr>
</table>
  
    
<!-- END COMPONENT: RFK 2x1 -->


<!-- START COMPONENT: SPACER -->
    
<table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="width:100%; max-width: 600px; background-color: #cd1330;">
    <tr>
        <td align="center" style="padding: 0px;">
            <!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
                <tr style="background-color: #cd1330; max-width: 600px; padding: 0px" width="600">
                    <td align="center">
                        <p style="margin:0px;padding: 0px;color:#121212;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:12px;font-weight:bold;line-height: auto;text-align: center; width: 90%;">&nbsp;</p>
                    </td>
                </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
        </td>
    </tr>
</table>

<!-- END COMPONENT: SPACER -->
