<!-- START COMPONENT: Footer visual navigation -->

            <!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
            <table align="center" cellpadding="0" cellspacing="0" border="0" style="max-width: 600px; width: 100%;">
                <tr>
                    <td>
                        <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="100%">
                            <tr>
                                <td width="49%" style="background-image: url('https://mauricesprodatg.scene7.com/is/image/mauricesProdATG/mau_email_footer_visnav_spot01?qlt=50'); background-size: cover; background-repeat: no-repeat;">
                                <!--[if gte mso 9]>
                                <v:image xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style=" border: 0;display: inline-block; width: 294px; height: 294px" src="https://mauricesprodatg.scene7.com/is/image/mauricesProdATG/mau_email_footer_visnav_spot01?qlt=50" /> 
                                <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="border: 0;display: inline-block;position: absolute; width: 294px; height: 294px">
                                <v:fill  opacity="0%" color="#ffffff”  />
                                <v:textbox inset="0,0,0,0">
                                <![endif]-->
                                    <a href="${clickthrough('footer_na_cta')}" style="text-decoration: none;">
                                        <!--[if (gte mso 9)|(IE)]><p style="font-size: 70px; margin: 0; padding: 0;">&nbsp;</p><span style="display: none;"><![endif]-->
                                        <p class="text_mobile_08" style="font-size: 108px; margin: 0; padding: 0;">&nbsp;</p>
                                        <!--[if (gte mso 9)|(IE)]></span><![endif]-->
                                        <table align="center" border="0" cellspacing="0" cellpadding="0" role="presentation" style="width: 182px; border-collapse: separate; background-color: rgba(255, 255, 255, 0.8); border: 1px solid #000000; margin: 0 auto;" bgcolor="#ffffff" class="cta-black-ghost w70">
                                            <tr>
                                                <td valign="center" height="48" style="text-align: center; height: 48px;">
                                                    <a href="${clickthrough('footer_na_cta')}" class="text_mobile_01" style="display: inline-block; padding: 10px 10px; font-family:'avenir55roman', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 16px; line-height: 22px; color: #000000; text-decoration: none; text-align: center;">NEW ARRIVALS</a>
                                                </td>
                                            </tr>
                                        </table>
                                        <p class="text_mobile_08" style="font-size: 108px; margin: 0; padding: 0;">&nbsp;</p>
                                    </a>
                                    <!--[if gte mso 9]>
                                    </v:textbox>
                                    </v:rect>
                                    <![endif]-->
                                </td>
                                <td width="2%">
                                    <p style="font-size: 4px;">&nbsp;</p>
                                </td>
                                <td width="49%" style="background-image: url('https://mauricesprodatg.scene7.com/is/image/mauricesProdATG/mau_email_footer_visnav_spot02?qlt=50'); background-size: cover; background-repeat: no-repeat;">
                                <!--[if gte mso 9]>
                                <v:image xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style=" border: 0;display: inline-block; width: 294px; height: 294px" src="https://mauricesprodatg.scene7.com/is/image/mauricesProdATG/mau_email_footer_visnav_spot02?qlt=50" /> 
                                <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="border: 0;display: inline-block;position: absolute; width: 294px; height: 294px">
                                <v:fill  opacity="0%" color="#ffffff”  />
                                <v:textbox inset="0,0,0,0">
                                <![endif]-->
                                    <a href="${clickthrough('footer_tops_cta')}" style="text-decoration: none;">
                                        <!--[if (gte mso 9)|(IE)]><p style="font-size: 70px; margin: 0; padding: 0;">&nbsp;</p><span style="display: none;"><![endif]-->
                                        <p class="text_mobile_08" style="font-size: 108px; margin: 0; padding: 0;">&nbsp;</p>
                                        <!--[if (gte mso 9)|(IE)]></span><![endif]-->
                                        <table align="center" border="0" cellspacing="0" cellpadding="0" role="presentation" style="width: 182px; border-collapse: separate; background-color: rgba(255, 255, 255, 0.8); border: 1px solid #000000; margin: 0 auto;" bgcolor="#ffffff" class="cta-black-ghost w70">
                                            <tr>
                                                <td valign="center" height="48" style="text-align: center; height: 48px;">
                                                    <a href="${clickthrough('footer_tops_cta')}" class="text_mobile_01" style="display: inline-block; padding: 10px 10px; font-family:'avenir55roman', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 16px; line-height: 22px; color: #000000; text-decoration: none; text-align: center;">TOPS</a>
                                                </td>
                                            </tr>
                                        </table>
                                        <p class="text_mobile_08" style="font-size: 108px; margin: 0; padding: 0;">&nbsp;</p>
                                    </a>
                                    <!--[if gte mso 9]>
                                    </v:textbox>
                                    </v:rect>
                                    <![endif]-->
                               </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr style="max-width: 600px; padding: 0px" width="600">
                    <td align="center">
                        <p style="margin: 0px; padding: 0px; font-family: sans-serif; font-size: 10px; line-height: auto; text-align: center;">&nbsp;</p>
                    </td>
                </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->

            <!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
            <table align="center" cellpadding="0" cellspacing="0" border="0" style="max-width: 600px; width: 100%;">
                <tr>
                    <td>
                        <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="100%">
                            <tr>
                                <td width="49%" style="background-image: url('https://mauricesprodatg.scene7.com/is/image/mauricesProdATG/mau_email_footer_visnav_spot03?qlt=50'); background-size: cover; background-repeat: no-repeat;">
                                <!--[if gte mso 9]>
                                <v:image xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style=" border: 0;display: inline-block; width: 294px; height: 294px" src="https://mauricesprodatg.scene7.com/is/image/mauricesProdATG/mau_email_footer_visnav_spot03?qlt=50" /> 
                                <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="border: 0;display: inline-block;position: absolute; width: 294px; height: 294px">
                                <v:fill  opacity="0%" color="#ffffff”  />
                                <v:textbox inset="0,0,0,0">
                                <![endif]-->
                                    <a href="${clickthrough('footer_jeans_cta')}" style="text-decoration: none;">
                                        <!--[if (gte mso 9)|(IE)]><p style="font-size: 70px; margin: 0; padding: 0;">&nbsp;</p><span style="display: none;"><![endif]-->
                                        <p class="text_mobile_08" style="font-size: 108px; margin: 0; padding: 0;">&nbsp;</p>
                                        <!--[if (gte mso 9)|(IE)]></span><![endif]-->
                                        <table align="center" border="0" cellspacing="0" cellpadding="0" role="presentation" style="width: 182px; border-collapse: separate; background-color: rgba(255, 255, 255, 0.8); border: 1px solid #000000; margin: 0 auto;" bgcolor="#ffffff" class="cta-black-ghost w70">
                                            <tr>
                                                <td valign="center" height="48" style="text-align: center; height: 48px;">
                                                    <a href="${clickthrough('footer_jeans_cta')}" class="text_mobile_01" style="display: inline-block; padding: 10px 10px; font-family:'avenir55roman', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 16px; line-height: 22px; color: #000000; text-decoration: none; text-align: center;">JEANS</a>
                                                </td>
                                            </tr>
                                        </table>
                                        <p class="text_mobile_08" style="font-size: 108px; margin: 0; padding: 0;">&nbsp;</p>
                                    </a>
                                    <!--[if gte mso 9]>
                                    </v:textbox>
                                    </v:rect>
                                    <![endif]-->
                                </td>
                                <td width="2%">
                                    <p style="font-size: 4px;">&nbsp;</p>
                                </td>
                                <td width="49%" style="background-image: url('https://mauricesprodatg.scene7.com/is/image/mauricesProdATG/mau_email_footer_visnav_spot04?qlt=50'); background-size: cover; background-repeat: no-repeat;">
                                <!--[if gte mso 9]>
                                <v:image xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style=" border: 0;display: inline-block; width: 294px; height: 294px" src="https://mauricesprodatg.scene7.com/is/image/mauricesProdATG/mau_email_footer_visnav_spot04?qlt=50" /> 
                                <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="border: 0;display: inline-block;position: absolute; width: 294px; height: 294px">
                                <v:fill  opacity="0%" color="#ffffff”  />
                                <v:textbox inset="0,0,0,0">
                                <![endif]-->
                                    <a href="${clickthrough('footer_shoes_cta')}" style="text-decoration: none;">
                                        <!--[if (gte mso 9)|(IE)]><p style="font-size: 70px; margin: 0; padding: 0;">&nbsp;</p><span style="display: none;"><![endif]-->
                                        <p class="text_mobile_08" style="font-size: 108px; margin: 0; padding: 0;">&nbsp;</p>
                                        <!--[if (gte mso 9)|(IE)]></span><![endif]-->
                                        <table align="center" border="0" cellspacing="0" cellpadding="0" role="presentation" style="width: 182px; border-collapse: separate; background-color: rgba(255, 255, 255, 0.8); border: 1px solid #000000; margin: 0 auto;" bgcolor="#ffffff" class="cta-black-ghost w70">
                                            <tr>
                                                <td valign="center" height="48" style="text-align: center; height: 48px;">
                                                    <a href="${clickthrough('footer_shoes_cta')}" class="text_mobile_01" style="display: inline-block; padding: 10px 10px; font-family:'avenir55roman', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 16px; line-height: 22px; color: #000000; text-decoration: none; text-align: center;">SHOES</a>
                                                </td>
                                            </tr>
                                        </table>
                                        <p class="text_mobile_08" style="font-size: 108px; margin: 0; padding: 0;">&nbsp;</p>
                                    </a>
                                    <!--[if gte mso 9]>
                                    </v:textbox>
                                    </v:rect>
                                    <![endif]-->
                               </td>
                            </tr>
                        </table>
                    </td>
                </tr>    
            </table>
            <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->

            <!-- END COMPONENT: Footer visual navigation -->