<#assign allSkus = []>
<#assign allProds = []>

<#data Infinity_Cart_Abandon_PET as aban>
<#filter RIID_4 = RIID_>
<#fields CA_PURCHASE_SKUS>
    <#list aban.CA_PURCHASE_SKUS?split(",") as x>
        <#assign ABAN_SKU = "${x}">
        <#assign allSkus = allSkus + ["${x}"]>
    </#list>
</#data>

<#data MAU_PRODUCT_FEED as prod>
<#filter SKU_ID = allSkus>
<#fields PROD_NAME REGULAR_PRICE SKU_IMAGE_URL PROD_URL SKU_ID>

<#assign allProds = allProds + [{"sku":SKU_ID, "image":prod.SKU_IMAGE_URL, "link":prod.PROD_URL, "name":prod.PROD_NAME, "price":prod.REGULAR_PRICE}]>

</#data>

<#if allProds?has_content>
    <#list allProds?sort_by("price") as b>
        <#if b_has_next>
        <#else>
            <!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
            <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="100%" style="max-width: 600px;background-color:#358280">
                <tr>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" width="520">
                        <p class="text_20 paddm mobile_margin_10" style="margin: 0 0 14px 0; padding: 16px 0 0 0; color: #ffffff; font-family: utopia-std, Georgia, Times, Times New Roman, Baskerville, Palatino, serif; font-weight: 400; font-size: 26px; line-height: auto; text-align: center; font-style: italic;"><img src="https://i.ibb.co/4t8J1JX/bag-icon.png" alt="bag-icon" width="24" style="border: 0; display: block; outline: 0; padding: 0; width: 100%; max-width: 24px; display: inline;" class="w40"> don't forget your cart</p>
                    </td>
                </tr>
            </table>
            <table align="center" cellpadding="0" cellspacing="0" border="0" style="max-width: 600px; width: 100%; background-color: #ffffff;" role="presentation" background="#ffffff">
                <tr>
                    <td>
                        <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="100%">
                            <tr>
                                <td width="30%" class="w40">
                                    <a href="${clickthrough('bag', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration: none;">
                                        <img src="${b.image}" alt="${b.name}" width="240" style="border: 0; display: block; outline: 0; padding: 0; width: 100%; max-width: 240px;" border="0"/>
                                    </a>
                                </td>
                                <td width="70%" class="w60">
                                    <table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 80%;">
                                        <tr>
                                            <td align="center" valign="top" width="100%">
                                                <a href="${clickthrough('bag', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration: none;">
                                                    <p class="text_18" style="margin: 0; padding: 0; color: #000000; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 500; font-size: 22px; line-height: auto; text-align: left;">${b.name}</p>
                                                    <p style="margin: 0; padding: 0; font-size: 20px; line-height: 20px;">&nbsp;</p>
                                                </a>
                                                <a href="${clickthrough('bag', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}">
                                                  <table align="left" border="0" cellspacing="0" cellpadding="0" role="presentation" style="width: 182px; border-collapse: separate; border: 2px solid #000000; background-color: #ffffff;" class="cta-black-ghost w90">
                                                      <tr>
                                                          <td valign="middle" height="48" style="text-align: center; height: 48px;" class="h30px">
                                                              <a href="${clickthrough('bag', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="display: inline-block; padding: 10px 10px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22px; color: #000000; text-decoration: none; font-weight: bold;" class="text_14">BUY NOW</a>
                                                          </td>
                                                      </tr>
                                                  </table>
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                               </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->

        </#if>
    </#list>
</#if>
