<!--INPUT: PHYSICAL GIFT CARD INFORMATION & SHIPPING INFORMATION AS STRING-->
<!--OUTPUT: PHYSICAL GIFT CARD MODULE AS HTML-->
<#macro pGcMod gcName gcImage gcQty gcTotal pGcSKU sFirstName sLastName sAddress1 sCity sStateProvince sZip deliveryMethodCode>
	<!-- START COMPONENT: ITEM LIST -->
        <table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="width: 100%; max-width: 540px; background-color: #ffffff;">
            <tr>
                <td align="left" style="font-size: 0; padding: 20px; max-width: 520px;">
                <!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="left" valign="top" style="width:50%;"><![endif]-->
                    <div style="display: inline-block; max-width: 240px; width: 100%; vertical-align: top;" class="mw100 padd20">
                        <table align="left" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:96%;">
                            <tr style="max-width: 600px; padding: 0px" width="600">
                            <td align="left">
                                <a href="${clickthrough('ProductLink', 'productName='+ gcName, 'productId='+ pGcSKU)}">
                                    <img src="${gcImage}" width="200" border="0" alt="${gcName}" style="display: block; max-width: 200px;">
                                </a>
                            </td>
                        </tr>
                        </table>
                    </div><!--[if (gte mso 9)|(IE)]></td><td align="left" style="width:50%;"><![endif]-->
                        <div style="display: inline-block; max-width: 240px; width: 100%; vertical-align: top;" class="mw100 padd20">
                            <table align="left" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:96%;">
                                <tr style="max-width: 600px; padding: 0px" width="600">
                                    <td align="left">
                                        <p style="margin: 0px 0px 10px 0px; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 600; font-size: 16px; line-height: 22px; color: #000000;">${gcName}</p>
                                        <p style="margin: 0px 0px 10px 0px; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 14px; line-height: 22px; color: #000000;">Qty: ${gcQty}</p>
                                        <p style="margin: 0px 0px 30px 0px; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 600; font-size: 14px; line-height: 22px; color: #000000;">Amount: $${gcTotal}</p>
                                        <p style="margin: 0px 0px 0px 0px; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 14px; line-height: 22px; color: #505050; font-style: italic;">Sending to:<br>${sFirstName} ${sLastName}<br>${sAddress1}<br>${sCity}, ${sStateProvince} ${sZip}<br>${deliveryMethodDescription(deliveryMethodCode)}</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
                </td>
            </tr>
        </table>
        <!-- END COMPONENT: ITEM LIST -->
</#macro>

<!--INPUT: ECOMM GIFT CARD INFORMATION & SHIPPING INFORMATION AS STRING-->
<!--OUTPUT: ECOMM GIFT CARD MODULE AS HTML-->
<#macro eGcMod gcName gcImage gcQty gcTotal gcSKU sEmail deliveryMethodCode>
	<!-- START COMPONENT: ITEM LIST -->
        <table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="width: 100%; max-width: 540px; background-color: #ffffff;">
            <tr>
                <td align="left" style="font-size: 0; padding: 20px; max-width: 520px;">
                <!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="left" valign="top" style="width:50%;"><![endif]-->
                    <div style="display: inline-block; max-width: 240px; width: 100%; vertical-align: top;" class="mw100 padd20">
                        <table align="left" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:96%;">
                            <tr style="max-width: 600px; padding: 0px" width="600">
                            <td align="left">
                                <a href="${clickthrough('ProductLink', 'productName='+ gcName, 'productId='+ gcSKU)}">
                                    <img src="${gcImage}" width="200" border="0" alt="${gcName}" style="display: block; max-width: 200px;">
                                </a>
                            </td>
                        </tr>
                        </table>
                    </div><!--[if (gte mso 9)|(IE)]></td><td align="left" style="width:50%;"><![endif]-->
                        <div style="display: inline-block; max-width: 240px; width: 100%; vertical-align: top;" class="mw100 padd20">
                            <table align="left" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:96%;">
                                <tr style="max-width: 600px; padding: 0px" width="600">
                                    <td align="left">
                                        <p style="margin: 0px 0px 10px 0px; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 600; font-size: 16px; line-height: 22px; color: #000000;">${gcName}</p>
                                        <p style="margin: 0px 0px 10px 0px; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 14px; line-height: 22px; color: #000000;">Qty: ${gcQty}</p>
                                        <p style="margin: 0px 0px 30px 0px; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 600; font-size: 14px; line-height: 22px; color: #000000;">Amount: $${gcTotal}</p>
                                        <p style="margin: 0px 0px 0px 0px; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 14px; line-height: 22px; color: #505050; font-style: italic;">Sending to: ${sEmail}</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
                </td>
            </tr>
        </table>
        <!-- END COMPONENT: ITEM LIST -->
</#macro>

<!--INPUT: ITEM INFORMATION AS STRING-->
<!--OUTPUT: ITEM INFORMATION AS HTML-->
<#macro itemMod iImage iName iColor iTotal iSize iQty iSku iStyle>
    <!-- Remove register and tradmark symbols from name -->
    <#assign prodNameForLink2 = iName>
    <#assign prodNameForLink2 = prodNameForLink2?replace('™', '', 'i')>
    <#assign prodNameForLink2 = prodNameForLink2?replace('®', '', 'i')>
    <#assign prodNameForLink2 = prodNameForLink2?replace('&trade;', '', 'i')>
    <#assign prodNameForLink2 = prodNameForLink2?replace('&reg;', '', 'i')>

    <!-- START COMPONENT: ITEM LIST -->
        <table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="width: 100%; max-width: 540px; background-color: #ffffff;">
            <tr>
                <td align="left" style="font-size: 0; padding: 20px; max-width: 520px;">
                <!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="left" valign="top" style="width:50%;"><![endif]-->
                    <div style="display: inline-block; max-width: 240px; width: 100%; vertical-align: top;" class="mw100 padd20">
                        <table align="left" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:96%;">
                            <tr style="max-width: 600px; padding: 0px" width="600">
                            <td align="left">
                                <a href="${clickthrough('ProductLink', 'productName='+ prodNameForLink2, 'productId='+ iSku)}">
                                    <img src="${iImage}" width="200" border="0" alt="${iName}" style="display: block; max-width: 200px;">
                                </a>
                            </td>
                        </tr>
                        </table>
                    </div><!--[if (gte mso 9)|(IE)]></td><td align="left" style="width:50%;"><![endif]-->
                        <div style="display: inline-block; max-width: 240px; width: 100%; vertical-align: top;" class="mw100 padd20">
                            <table align="left" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:96%;">
                                <tr style="max-width: 600px; padding: 0px" width="600">
                                    <td align="left">
                                        <p style="margin: 0px 0px 10px 0px; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 600; font-size: 16px; line-height: 22px; color: #000000;">${iName}</p>
                                        <p style="margin: 0px 0px 10px 0px; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 14px; line-height: 22px; color: #000000;">Color: ${iColor}</p>
                                        <p style="margin: 0px 0px 10px 0px; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 14px; line-height: 22px; color: #000000;">Size: ${iSize}</p>
                                        <p style="margin: 0px 0px 10px 0px; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 14px; line-height: 22px; color: #000000;">Qty: ${iQty}</p>
                                        <p style="margin: 0px 0px 30px 0px; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 600; font-size: 14px; line-height: 22px; color: #000000;">$${iTotal}</p>
                                        <p style="margin: 0px 0px 0px 0px; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 14px; line-height: 22px; color: #505050; font-style: italic;">Style #: ${iStyle}</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
                </td>
            </tr>
        </table>
        <!-- END COMPONENT: ITEM LIST -->
</#macro>


<!--INPUT: ITEM INFORMATION AS STRING-->
<!--OUTPUT: ITEM INFORMATION AS HTML-->
<#macro itemModOrderConfirmation iImage iName iColor iTotal iSize iQty iSku iStyle pDiscountPrice pUnitPrice>
    <!-- Remove register and tradmark symbols from name -->
    <#assign prodNameForLink = iName>
    <#assign prodNameForLink = prodNameForLink?replace('™', '', 'i')>
    <#assign prodNameForLink = prodNameForLink?replace('®', '', 'i')>
    <#assign prodNameForLink = prodNameForLink?replace('&trade;', '', 'i')>
    <#assign prodNameForLink = prodNameForLink?replace('&reg;', '', 'i')>
    <!-- START COMPONENT: ITEM LIST -->
        <!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:564px;"><tr><td align="center" valign="top" width="564"><![endif]-->
        <table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="width: 100%; max-width: 564px; background-color: #ffffff;">
            <tr>
                <td align="left" style="font-size: 0; padding: 20px; max-width: 520px;">
                <!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="left" valign="top" style="width:30%;"><![endif]-->
                    <div style="display: inline-block; max-width: 170px; width: 100%; vertical-align: top;" class="mw100 padd20">
                        <table align="left" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:96%;">
                            <tr style="max-width: 600px; padding: 0px" width="600">
                            <td align="left">
                                <a href="${clickthrough('ProductLink', 'productName='+ prodNameForLink, 'productId='+ iSku)}">
                                    <img src="${iImage}" width="170" border="0" alt="${iName}" style="display: block; max-width: 170px;">
                                </a>
                            </td>
                        </tr>
                        </table>
                    </div><!--[if (gte mso 9)|(IE)]></td><td align="left" style="width:30%;"><![endif]-->
                        <div style="display: inline-block; max-width: 170px; width: 100%; vertical-align: top; margin-left: 10px;" class="mw100 padd20 mobile_margin_0">
                            <table align="left" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:96%;">
                                <tr style="max-width: 600px; padding: 0px" width="600">
                                    <td align="left">
                                        <p style="margin: 0px 0px 10px 0px; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 600; font-size: 16px; line-height: 22px; color: #1e1e1e;">${iName}</p>
                                        <p style="margin: 0px 0px 10px 0px; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 14px; line-height: 22px; color: #1e1e1e;">Color: ${iColor}</p>
                                        <p style="margin: 0px 0px 10px 0px; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 14px; line-height: 22px; color: #1e1e1e;">Size: ${iSize}</p>
                                        <p style="margin: 0px 0px 0px 0px; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 14px; line-height: 22px; color: #1e1e1e;">Style #: ${iStyle}</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    <!--[if (gte mso 9)|(IE)]></td><td align="left" style="width:30%;"><![endif]-->
                        <div style="display: inline-block; max-width: 140px; width: 100%; vertical-align: top;" class="mw100 padd20">
                            <table align="left" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:96%;">
                                <tr style="max-width: 600px; padding: 0px" width="600">
                                    <td align="left">
                                        <p style="margin: 0px 0px 30px 0px; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 600; font-size: 14px; line-height: 22px; color: #1e1e1e;" class="mobile_margin_0">
                                            <#if pDiscountPrice != "" && pDiscountPrice?has_content && ! pDiscountPrice?isnull><strike>$${pUnitPrice}</strike><span style="color:#327d8a;">&nbsp;&#36;${iTotal}</span><#else>$${iTotal}</#if></p>
                                        <p style="margin: 0px 0px 10px 0px; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 14px; line-height: 22px; color: #1e1e1e;">Qty: ${iQty}</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
                </td>
            </tr>
        </table>
        <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
        <!-- END COMPONENT: ITEM LIST -->
</#macro>


<!--INPUT: ITEM INFORMATION AS STRING-->
<!--OUTPUT: ITEM INFORMATION AS HTML-->
<#macro itemModOrderEdit iImage iName iColor iTotal iSize iQty iSku iStyle pDiscountPrice pUnitPrice>

<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:564px;"><tr><td align="center" valign="top" width="564"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="width: 100%; max-width: 564px; background-color: #ffffff;">
    <tr>
        <td align="left" style="font-size: 0; padding: 20px; max-width: 520px;">
        <!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="left" valign="top" style="width:30%;"><![endif]-->
            <div style="display: inline-block; max-width: 170px; width: 100%; vertical-align: top;" class="mw100 padd20">
                <table align="left" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:96%;">
                    <tr style="max-width: 600px; padding: 0px" width="600">
                    <td align="left">
                        <a href="${clickthrough('ProductLink', 'productName='+ iName, 'productId='+ iSku)}">
                            <img src="${iImage}" width="170" border="0" alt="${iName}" style="display: block; max-width: 170px;">
                        </a>
                    </td>
                </tr>
                </table>
            </div><!--[if (gte mso 9)|(IE)]></td><td align="left" style="width:30%;"><![endif]-->
                <div style="display: inline-block; max-width: 170px; width: 100%; vertical-align: top; margin-left: 10px;" class="mw100 padd20 mobile_margin_0">
                    <table align="left" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:96%;">
                        <tr style="max-width: 600px; padding: 0px" width="600">
                            <td align="left">
                                <p style="margin: 0px 0px 10px 0px; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 600; font-size: 16px; line-height: 22px; color: #1e1e1e;">${iName}</p>
                                <p style="margin: 0px 0px 10px 0px; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 14px; line-height: 22px; color: #1e1e1e;">Color: ${iColor}</p>
                                <p style="margin: 0px 0px 10px 0px; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 14px; line-height: 22px; color: #1e1e1e;">Size: ${iSize}</p>
                                <p style="margin: 0px 0px 0px 0px; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 14px; line-height: 22px; color: #1e1e1e;">Style #: ${iStyle}</p>
                            </td>
                        </tr>
                    </table>
                </div>
            <!--[if (gte mso 9)|(IE)]></td><td align="left" style="width:30%;"><![endif]-->
                <div style="display: inline-block; max-width: 140px; width: 100%; vertical-align: top;" class="mw100 padd20">
                    <table align="left" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:96%;">
                        <tr style="max-width: 600px; padding: 0px" width="600">
                            <td align="left">
                                <p style="margin: 0px 0px 30px 0px; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 600; font-size: 14px; line-height: 22px; color: #1e1e1e;" class="mobile_margin_0">
                                    <#if pDiscountPrice != "" && pDiscountPrice?has_content && ! pDiscountPrice?isnull><strike>$${pUnitPrice}</strike><span style="color:#327d8a;">&nbsp;&#36;${pDiscountPrice}</span><#else>$${pUnitPrice}</#if></p>
                                <p style="margin: 0px 0px 10px 0px; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 14px; line-height: 22px; color: #1e1e1e;">Qty: ${iQty}</p>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
                </td>
            </tr>
        </table>
        <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
</#macro>


<!--INPUT: DELIVERY METHOD CODE AS STRING-->
<!--OUTPUT: DELIVERY METHOD DESCRIPTION AS STRING-->
<#function deliveryMethodDescription code>
	<#local code = code?trim>
	<#local description>
			<#if code="2DAY"> Priority Shipping
		<#elseif code="3DAY"> Priority Shipping
		<#elseif code="GROUND"> Standard Shipping
		<#elseif code="NEXTDAY"> Overnight- Next Business Day
		</#if>
	</#local>
	<#return description>
</#function>

<!--INPUT: PAYMENT INFORMATION AS NODE LIST-->
<!--OUTPUT: PAYMENT INFORMATION AS HTML-->
<#macro payment pXml>
	 <#local OrderPayment=pXml>

	 <!-- START COMPONENT: TEXT -->
	   <!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:560px;"><tr><td align="center" valign="top" width="560"><![endif]-->
	   <table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="background-color: #e7e7e7; max-width: 560px; width: 100%;" bgcolor="#e7e7e7">
	 	  <tr>
	 		  <td align="center" cellpadding="0" cellspacing="0" border="0" align="center" width="400">
	 			  <p style="margin: 0px 0px 0px 0px; padding: 0px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-weight:bold; line-height: auto;text-align: center; width: 90%;">&nbsp;</p>
	 		  </td>
	 	  </tr>
	 	  <tr>
	 		  <td>
	 			  <table align="center" cellpadding="0" cellspacing="0" border="0" align="center" role="presentation" width="86%">
	 				  <!-- CONTENT START -->
	 				  <tr>
	 					  <td align="center" cellpadding="0" cellspacing="0" border="0" align="center" width="400" style="max-width: 400px;">
	 						  <p style="margin: 0px 0px 0px 0px; padding: 0px; color: #000000; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 16px; line-height: 24px; text-align: left;">
								  <#list OrderPayment.PaymentDetail.payment as payment>
							  		<#if payment.OrderPaymentType == "Credit Card">
							  			To be charged to your ${payment.CardType} credit card <br>${payment.Reference}: $${payment.PaymentAmount}
							  		<#elseif payment.OrderPaymentType == "Gift Card">
							  			To be charged to your ${payment.OrderPaymentType} <br>${payment.Reference?replace("Card ending with ", "############")}: $${payment.PaymentAmount}
							  		<#else>
							  			To be charged to your ${payment.OrderPaymentType} <br>${payment.Reference}: $${payment.PaymentAmount}
							  		</#if>
							  		<#if payment_has_next><br></#if>
							  	</#list>
							  </p>
	 					  </td>
	 				  </tr>
	 				  <!-- CONTENT END -->
	 			  </table>
	 		  </td>
	 	  </tr>
	 	  <tr>
	 		  <td align="center" cellpadding="0" cellspacing="0" border="0" align="center" width="400">
	 			  <p style="margin: 0px 0px 0px 0px; padding: 0px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-weight:bold; line-height: auto;text-align: center; width: 90%;">&nbsp;</p>
	 		  </td>
	 	  </tr>
	   </table>
	   <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->

	   <!-- END COMPONENT: TEXT -->

</#macro>
