<!-- TEXT -->
<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" style="background-color: #ffffff; background-size: cover; max-width: 600px; width: 100%;" bgcolor="#ffffff">
    <tr>
        <td>
            <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="100%">
                <tr>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" width="600" style="max-width: 600px;">
                        <a href="${clickthrough('maurices', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration: none;">
                            <table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 90%;">
                                <tr>
                                    <td align="center" valign="top" width="100%">
                                        <hr style="border: 1px solid #CCCCCC;">
                                    </td>
                                </tr>
                            </table>
                            <table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 70%;">
                                <tr>
                                    <td align="center" valign="top" width="90%">
                                          <a href="${clickthrough('maurices', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration: none;">
                                                <p style="margin: 0; padding: 0; font-size: 24px; line-height: auto;">&nbsp;</p>
                                                <p class="text_mobile_05" style="margin: 0px 0px 0px 0px; padding: 0px; color: #357d89; font-family: utopia-std, Georgia, Times, Times New Roman, Baskerville, Palatino, serif; font-weight: 400; font-size: 48px; line-height: 58px; text-align: center;">Thank you for your recent purchase.</p>
                                                <p style="margin: 0; padding: 0; font-size: 24px; line-height: auto;">&nbsp;</p>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
<!-- /TEXT -->


<!-- LOYALTY -->
<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" style="background-color: #ffffff; background-size: cover; max-width: 600px; width: 100%;" bgcolor="#ffffff">
    <tr>
        <td>
            <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="100%">
                <tr>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" width="600" style="max-width: 600px;">
                        <a href="${clickthrough('loy_signin', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration: none;">
                            <table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 90%; background-color: #b0dcdb;">
                                <tr>
                                    <td align="center" valign="top" width="100%">
                                        <p style="margin: 0; padding: 0; font-size: 20px; line-height: auto;">&nbsp;</p>
                                        <table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 84%;" class="w100">
                                            <tr>
                                                <td align="center" valign="top" width="100%">
                                            <#if CURRENT_LOYALTY_STATUS="Y">
                                                <a href="${clickthrough('loy_signin', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration: none;">
                                                <p class="w90" style="margin: 0px 0px 10px 0px; padding: 0px; color: #000000; font-family: utopia-std, Georgia, Times, Times New Roman, Baskerville, Palatino, serif; font-weight: 400; font-size: 28px; line-height: auto; text-align: center;">Congratulations, you earned points towards your next reward.</p>
                                                <p class="text_mobile_02 w100" style="margin: 0px 0px 12px 0px; padding: 0px; color: #000000; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 15px; line-height: 32px; text-align: center;">For every $1 spent, you earn 1 point.<br>For every 100 points, you get a $5 reward.</p>
                                                <p class="text_mobile_02 w100" style="margin: 0px 0px 0px 0px; padding: 0px; color: #000000; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 500; font-size: 20px; line-height: 30px; text-align: center;"><#if POINTS gt 0 || CERTS_VALUE gt 0>You currently have </#if><#if POINTS gt 0>${ALLANT_CUST_PET_V2.POINTS} points</#if><#if POINTS gt 0 && CERTS_VALUE gt 0> and </#if><#if CERTS_VALUE gt 0>$${CERTS_VALUE} off <span class="aligntop" style="font-family: sans-serif; font-size: 20px; font-weight: normal; vertical-align: 4px; padding-left: 0px; margin: 0; line-height: normal;">**</span></#if><#if POINTS gt 0 || CERTS_VALUE gt 0>.</#if></p>
                                                </a>
                                            <#else>
                                                <a href="${clickthrough('loy_signin', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration: none;">
                                                <p class="w100" style="margin: 0px 0px 10px 0px; padding: 0px; color: #000000; font-family: utopia-std, Georgia, Times, Times New Roman, Baskerville, Palatino, serif; font-weight: 400; font-size: 28px; line-height: auto; text-align: center;">Shopping just got<br>a little more rewarding.</p>
                                                    <a href="${clickthrough('loy_signin', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration: none;">
                                                <p class="text_mobile_02 w100" style="margin: 0px 0px 12px 0px; padding: 0px; color: #000000; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 600; font-size: 20px; line-height: 32px; text-align: center;">Earn points with every purchase when you join our free mymaurices rewards program.</p><a href="${clickthrough('loy_signin', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="color: #000000; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 500; font-size: 20px; line-height: 30px; text-align: center; border-bottom: 2px solid #000000; text-decoration: none;">Join <i>my</i>maurices rewards</a>
                                                        <a href="${clickthrough('loy_signin', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration: none;">
                                                            <p class="text_mobile_02 w100" style="margin: 20px 0px 0px 0px; padding: 0px; color: #000000; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 600; font-size: 20px; line-height: 32px; text-align: center;">P.S. You’ll earn $5 in rewards just for signing up<span class="aligntop" style="font-family: sans-serif; font-size: 20px; font-weight: normal; vertical-align: 3px; padding-left: 1px; margin: 0; line-height: normal;">*</span>.</p>
                                                        </a>
                                                    </a>
                                                </a>

                                                </#if>
                                                </td>
                                            </tr>
                                        </table>
                                        <p style="margin: 0; padding: 0; font-size: 20px; line-height: auto;">&nbsp;</p>
                                    </td>
                                </tr>
                            </table>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" width="400">
                        <p style="margin: 0; padding: 0; font-size: 20px; line-height: auto;">&nbsp;</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
<!-- /LOYALTY -->

<#data Stylitics_Feedonomics_SUPPtable as style>
<#filter STYLE_NUMBER_LOOKUP = STYLE_NO>
<#fields STYLE_NUMBER_LOOKUP STYLE_IMAGE_URL STYLE_PDP_URL OUTFIT_1_ID REC1_IMG REC1_URL REC2_IMG REC2_URL REC3_IMG REC3_URL REC4_IMG REC4_URL REC5_IMG REC5_URL REC6_IMG REC6_URL REC7_IMG REC7_URL>

    <#assign mainStyleLink = style.STYLE_PDP_URL>

    <#assign allRecs = []>
    <#assign key = 0>

    <#if style.REC1_IMG?has_content>
        <#assign key = key + 1>
        <#assign allRecs = allRecs + [{"key":key, "image":style.REC1_IMG, "link":style.REC1_URL}]>
    </#if>
    <#if style.REC2_IMG?has_content>
        <#assign key = key + 1>
        <#assign allRecs = allRecs + [{"key":key, "image":style.REC2_IMG, "link":style.REC2_URL}]>
    </#if>
    <#if style.REC3_IMG?has_content>
        <#assign key = key + 1>
        <#assign allRecs = allRecs + [{"key":key, "image":style.REC3_IMG, "link":style.REC3_URL}]>
    </#if>
    <#if style.REC4_IMG?has_content>
        <#assign key = key + 1>
        <#assign allRecs = allRecs + [{"key":key, "image":style.REC4_IMG, "link":style.REC4_URL}]>
    </#if>
    <#if style.REC5_IMG?has_content>
        <#assign key = key + 1>
        <#assign allRecs = allRecs + [{"key":key, "image":style.REC5_IMG, "link":style.REC5_URL}]>
    </#if>
    <#if style.REC6_IMG?has_content>
        <#assign key = key + 1>
        <#assign allRecs = allRecs + [{"key":key, "image":style.REC6_IMG, "link":style.REC6_URL}]>
    </#if>
    <#if style.REC7_IMG?has_content>
        <#assign key = key + 1>
        <#assign allRecs = allRecs + [{"key":key, "image":style.REC7_IMG, "link":style.REC7_URL}]>
    </#if>



    <#assign evenRecs = []>

    <#list allRecs?sort_by("key") as b>
        <#if (!b_has_next && b.key % 2 != 0)>
            <!-- don't show -->
        <#else>
            <#if b.key == 1>
            	<#assign newImg1 = b.image>
                <#assign newLink1 = b.link>
            </#if>
            <#if b.key == 2>
            	<#assign newImg2 = b.image>
                <#assign newLink2 = b.link>
            </#if>
            <#if b.key == 3>
            	<#assign newImg3 = b.image>
                <#assign newLink3 = b.link>
            </#if>
            <#if b.key == 4>
            	<#assign newImg4 = b.image>
                <#assign newLink4 = b.link>
            </#if>
            <#if b.key == 5>
            	<#assign newImg5 = b.image>
                <#assign newLink5 = b.link>
            </#if>
            <#if b.key == 6>
            	<#assign newImg6 = b.image>
                <#assign newLink6 = b.link>
            </#if>
        </#if>
    </#list>


<#if newImg1?has_content && style.STYLE_IMAGE_URL?has_content>

<!-- TEXT -->
<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" style="background-color: #eaeaea; max-width: 600px; width: 100%;" bgcolor="#eaeaea">
    <tr>
        <td>
            <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="100%">
                <tr>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" width="600" style="max-width: 600px;">
                        <a href="${clickthrough('maurices', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration: none;">
                            <p style="margin: 0; padding: 0; font-size: 36px; line-height: 36px;">&nbsp;</p>
                            <p class="text_mobile_03" style="margin: 0 0 10px 0; padding: 0; color: #000000; font-family: utopia-std, Georgia, Times, Times New Roman, Baskerville, Palatino, serif; font-weight: 400; font-size: 30px; line-height: auto; text-align: center;">Ways to wear it</p>
                            <p class="text_mobile_02" style="margin: 0; padding: 0; color: #000000; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 20px; line-height: auto; text-align: center;">Let us help you style your new purchase</p>
                            <p style="margin: 0; padding: 0; font-size: 20px; line-height: 20px;">&nbsp;</p>
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
<!-- /TEXT -->

<!-- SPACER -->
<table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="width: 600px; max-width: 600px; background-color: #eaeaea;" bgcolor="#eaeaea">
    <tr>
        <td align="center">
            <p style="margin: 0; padding: 0; font-size: 20px; line-height: auto;">&nbsp;</p>
        </td>
    </tr>
</table>
<!-- /SPACER -->
<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" style="max-width: 600px; width: 100%; background-color: #eaeaea;">
    <tr>
        <td>
          <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="92%">
                <tr>
                    <td width="364" height="500" rowspan="3" align="center" style="background-color: #ffffff;" class="h300px">
                        <p style="margin: 0; padding: 0; font-size: 20px; line-height: auto;">&nbsp;</p>
                        <table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 80%;">
                            <tr>
                                <td align="center" valign="top" width="100%">
                                    <p style="margin: 0; padding: 0; color: #707070; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 600; font-size: 14px; line-height: 14px; text-align: left;">your item</p>
                              </td>
                          </tr>
                      </table>
                        <p style="margin: 0; padding: 0; font-size: 20px; line-height: auto;">&nbsp;</p>
                            <table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 100%;">
                                <tr>
                                    <td align="center" valign="top" width="100%" style="height: 320px; vertical-align: middle;">
                                        <a href="${clickthrough('image_main', 'image_main_link='+mainStyleLink)}" target="_blank">
                                            <img src="${style.STYLE_IMAGE_URL}" alt="your item" style="display: block; max-height: 100%; vertical-align: middle; max-width: 70%;" height="320" border="0">
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        <p style="margin: 0; padding: 0; font-size: 20px; line-height: auto;">&nbsp;</p>
                    </td>
                    <td width="8" rowspan="3"></td>
                    <td width="180" align="center" style="background-color: #ffffff;">
                      <p style="margin: 0; padding: 0; font-size: 20px; line-height: auto;">&nbsp;</p>
                        <a href="${clickthrough('image_1', 'image_1_link='+newLink1)}" target="_blank">
                            <img src="${newImg1}" alt="maurices product recommendation" style="display: block; width: 70%" width="140" border="0">
                        </a>
                      <p style="margin: 0; padding: 0; font-size: 20px; line-height: auto;">&nbsp;</p>
                    </td>
                </tr>
                <tr><td height="8"></td></tr>
                <tr>
                    <td width="180" align="center" style="background-color: #ffffff;">
                      <p style="margin: 0; padding: 0; font-size: 20px; line-height: auto;">&nbsp;</p>
                        <a href="${clickthrough('image_2', 'image_2_link='+newLink2)}" target="_blank">
                            <img src="${newImg2}" alt="maurices product recommendation" style="display: block; width: 70%" width="140" border="0">
                        </a>
                      <p style="margin: 0; padding: 0; font-size: 20px; line-height: auto;">&nbsp;</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->


<!-- SPACER -->
<table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="width: 600px; max-width: 600px; background-color: #eaeaea;" bgcolor="#eaeaea">
    <tr>
        <td align="center">
            <p style="margin: 0; padding: 0; font-size: 20px; line-height: auto;">&nbsp;</p>
        </td>
    </tr>
</table>
<!-- /SPACER -->


<!-- BUTTON -->
<table align="center" cellpadding="0" cellspacing="0" border="0" style="width:100%; background-color: #eaeaea; max-width: 600px;" bgcolor="#eaeaea">
    <tr>
        <td>
            <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="100%">
                <tr>
                    <td width="44%" align="center">
                        <a href="${clickthrough('shop_outfit_1', 'outfitVar='+style.OUTFIT_1_ID, 'pidVar='+style.STYLE_NUMBER_LOOKUP, 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}">
                          <table align="center" border="0" cellspacing="0" cellpadding="0" role="presentation" style="width: 210px; border-collapse: separate; border: 2px solid #000000; background-color: #ffffff;" class="cta-black-ghost">
                              <tr>
                                  <td valign="middle" height="48" style="text-align: center; height: 48px;" class="h30px">
                                      <a href="${clickthrough('shop_outfit_1', 'outfitVar='+style.OUTFIT_1_ID, 'pidVar='+style.STYLE_NUMBER_LOOKUP, 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="display: inline-block; padding: 10px 10px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22px; color: #000000; text-decoration: none; font-weight: bold;" class="text_mobile_01">SHOP THIS OUTFIT</a>
                                  </td>
                              </tr>
                          </table>
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- /BUTTON -->
</#if>

<!-- SPACER -->
<table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="width: 600px; max-width: 600px; background-color: #eaeaea;" bgcolor="#eaeaea">
    <tr>
        <td align="center">
            <p style="margin: 0; padding: 0; font-size: 20px; line-height: auto;">&nbsp;</p>
        </td>
    </tr>
</table>
<!-- /SPACER -->

<#if newImg3?has_content && style.STYLE_IMAGE_URL?has_content>
<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" style="max-width: 600px; width: 100%; background-color: #eaeaea;">
    <tr>
        <td>
          <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="92%">
                <tr>
                    <td width="364" height="500" rowspan="3" align="center" style="background-color: #ffffff;" class="h300px">
                        <p style="margin: 0; padding: 0; font-size: 20px; line-height: auto;">&nbsp;</p>
                        <table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 80%;">
                            <tr>
                                <td align="center" valign="top" width="100%">
                                    <p style="margin: 0; padding: 0; color: #707070; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 600; font-size: 14px; line-height: 14px; text-align: left;">your item</p>
                              </td>
                          </tr>
                      </table>
                        <p style="margin: 0; padding: 0; font-size: 20px; line-height: auto;">&nbsp;</p>
                            <table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 100%;">
                                <tr>
                                    <td align="center" valign="top" width="100%" style="height: 320px; vertical-align: middle;">
                                        <a href="${clickthrough('image_main', 'image_main_link='+mainStyleLink)}" target="_blank">
                                            <img src="${style.STYLE_IMAGE_URL}" alt="your item" style="display: block; max-height: 100%; vertical-align: middle; max-width: 70%;" height="320" border="0">
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        <p style="margin: 0; padding: 0; font-size: 20px; line-height: auto;">&nbsp;</p>
                    </td>
                    <td width="8" rowspan="3"></td>
                    <td width="180" align="center" style="background-color: #ffffff;">
                      <p style="margin: 0; padding: 0; font-size: 20px; line-height: auto;">&nbsp;</p>
                        <a href="${clickthrough('image_3', 'image_3_link='+newLink3)}" target="_blank">
                            <img src="${newImg3}" alt="maurices product recommendation" style="display: block; width: 70%" width="140" border="0">
                        </a>
                      <p style="margin: 0; padding: 0; font-size: 20px; line-height: auto;">&nbsp;</p>
                    </td>
                </tr>
                <tr><td height="8"></td></tr>
                <tr>
                    <td width="180" align="center" style="background-color: #ffffff;">
                      <p style="margin: 0; padding: 0; font-size: 20px; line-height: auto;">&nbsp;</p>
                        <a href="${clickthrough('image_4', 'image_4_link='+newLink4)}" target="_blank">
                            <img src="${newImg4}" alt="maurices product recommendation" style="display: block; width: 70%" width="140" border="0">
                        </a>
                      <p style="margin: 0; padding: 0; font-size: 20px; line-height: auto;">&nbsp;</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->

<!-- SPACER -->
<table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="width: 600px; max-width: 600px; background-color: #eaeaea;" bgcolor="#eaeaea">
    <tr>
        <td align="center">
            <p style="margin: 0; padding: 0; font-size: 20px; line-height: auto;">&nbsp;</p>
        </td>
    </tr>
</table>
<!-- /SPACER -->


<!-- BUTTON -->
<table align="center" cellpadding="0" cellspacing="0" border="0" style="width:100%; background-color: #eaeaea; max-width: 600px;" bgcolor="#eaeaea">
    <tr>
        <td>
            <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="100%">
                <tr>
                    <td width="44%" align="center">
                        <a href="${clickthrough('shop_outfit_2', 'outfitVar='+style.OUTFIT_1_ID, 'pidVar='+style.STYLE_NUMBER_LOOKUP, 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}">
                          <table align="center" border="0" cellspacing="0" cellpadding="0" role="presentation" style="width: 210px; border-collapse: separate; border: 2px solid #000000; background-color: #ffffff;" class="cta-black-ghost">
                              <tr>
                                  <td valign="middle" height="48" style="text-align: center; height: 48px;" class="h30px">
                                      <a href="${clickthrough('shop_outfit_2', 'outfitVar='+style.OUTFIT_1_ID, 'pidVar='+style.STYLE_NUMBER_LOOKUP, 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="display: inline-block; padding: 10px 10px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22px; color: #000000; text-decoration: none; font-weight: bold;" class="text_mobile_01">SHOP THIS OUTFIT</a>
                                  </td>
                              </tr>
                          </table>
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- /BUTTON -->
</#if>

<!-- SPACER -->
<table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="width: 600px; max-width: 600px; background-color: #eaeaea;" bgcolor="#eaeaea">
    <tr>
        <td align="center">
            <p style="margin: 0; padding: 0; font-size: 20px; line-height: auto;">&nbsp;</p>
        </td>
    </tr>
</table>
<!-- /SPACER -->


<#if newImg5?has_content && style.STYLE_IMAGE_URL?has_content>
<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" style="max-width: 600px; width: 100%; background-color: #eaeaea;">
    <tr>
        <td>
          <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="92%">
                <tr>
                    <td width="364" height="500" rowspan="3" align="center" style="background-color: #ffffff;" class="h300px">
                        <p style="margin: 0; padding: 0; font-size: 20px; line-height: auto;">&nbsp;</p>
                        <table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 80%;">
                            <tr>
                                <td align="center" valign="top" width="100%">
                                    <p style="margin: 0; padding: 0; color: #707070; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 600; font-size: 14px; line-height: 14px; text-align: left;">your item</p>
                              </td>
                          </tr>
                      </table>
                        <p style="margin: 0; padding: 0; font-size: 20px; line-height: auto;">&nbsp;</p>
                            <table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 100%;">
                                <tr>
                                    <td align="center" valign="top" width="100%" style="height: 320px; vertical-align: middle;">
                                        <a href="${clickthrough('image_main', 'image_main_link='+mainStyleLink)}" target="_blank">
                                            <img src="${style.STYLE_IMAGE_URL}" alt="your item" style="display: block; max-height: 100%; vertical-align: middle; max-width: 70%;" height="320" border="0">
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        <p style="margin: 0; padding: 0; font-size: 20px; line-height: auto;">&nbsp;</p>
                    </td>
                    <td width="8" rowspan="3"></td>
                    <td width="180" align="center" style="background-color: #ffffff;">
                      <p style="margin: 0; padding: 0; font-size: 20px; line-height: auto;">&nbsp;</p>
                        <a href="${clickthrough('image_5', 'image_5_link='+newLink5)}" target="_blank">
                            <img src="${newImg5}" alt="maurices product recommendation" style="display: block; width: 70%" width="140" border="0">
                        </a>
                      <p style="margin: 0; padding: 0; font-size: 20px; line-height: auto;">&nbsp;</p>
                    </td>
                </tr>
                <tr><td height="8"></td></tr>
                <tr>
                    <td width="180" align="center" style="background-color: #ffffff;">
                      <p style="margin: 0; padding: 0; font-size: 20px; line-height: auto;">&nbsp;</p>
                        <a href="${clickthrough('image_6', 'image_6_link='+newLink6)}" target="_blank">
                            <img src="${newImg6}" alt="maurices product recommendation" style="display: block; width: 70%" width="140" border="0">
                        </a>
                      <p style="margin: 0; padding: 0; font-size: 20px; line-height: auto;">&nbsp;</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->


<!-- SPACER -->
<table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="width: 600px; max-width: 600px; background-color: #eaeaea;" bgcolor="#eaeaea">
    <tr>
        <td align="center">
            <p style="margin: 0; padding: 0; font-size: 20px; line-height: auto;">&nbsp;</p>
        </td>
    </tr>
</table>
<!-- /SPACER -->


<!-- BUTTON -->
<table align="center" cellpadding="0" cellspacing="0" border="0" style="width:100%; background-color: #eaeaea; max-width: 600px;" bgcolor="#eaeaea">
    <tr>
        <td>
            <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="100%">
                <tr>
                    <td width="44%" align="center">
                        <a href="${clickthrough('shop_outfit_3', 'outfitVar='+style.OUTFIT_1_ID, 'pidVar='+style.STYLE_NUMBER_LOOKUP, 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}">
                          <table align="center" border="0" cellspacing="0" cellpadding="0" role="presentation" style="width: 210px; border-collapse: separate; border: 2px solid #000000; background-color: #ffffff;" class="cta-black-ghost">
                              <tr>
                                  <td valign="middle" height="48" style="text-align: center; height: 48px;" class="h30px">
                                      <a href="${clickthrough('shop_outfit_3', 'outfitVar='+style.OUTFIT_1_ID, 'pidVar='+style.STYLE_NUMBER_LOOKUP, 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="display: inline-block; padding: 10px 10px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22px; color: #000000; text-decoration: none; font-weight: bold;" class="text_mobile_01">SHOP THIS OUTFIT</a>
                                  </td>
                              </tr>
                          </table>
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- /BUTTON -->
</#if>

<!-- SPACER -->
<table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="width: 600px; max-width: 600px; background-color: #eaeaea;" bgcolor="#eaeaea">
    <tr>
        <td align="center">
            <p style="margin: 0; padding: 0; font-size: 20px; line-height: auto;">&nbsp;</p>
        </td>
    </tr>
</table>
<!-- /SPACER -->

</#data>


<!-- SPACER -->
<table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="width: 600px; max-width: 600px; background-color: #eaeaea;" bgcolor="#eaeaea">
    <tr>
        <td align="center">
            <p style="margin: 0; padding: 0; font-size: 20px; line-height: auto;">&nbsp;</p>
        </td>
    </tr>
</table>
<!-- /SPACER -->

<#if newImg1?has_content>
<!-- HR -->
<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="background-color: #eaeaea; background-size: cover; max-width: 600px; width: 100%;" bgcolor="#eaeaea">
    <tr>
        <td>
            <table align="center" cellpadding="0" cellspacing="0" border="0" align="center" role="presentation" width="90%">
                <tr>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" align="center" width="600" style="max-width: 600px;">
                        <hr style="border: 1px solid #CCCCCC;">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
<!-- /HR -->
</#if>


<!-- IMAGE 3x1-->
<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" style="max-width: 600px; width: 100%; background-color: #eaeaea;" background="#eaeaea">
    <tr>
        <td align="center" cellpadding="0" cellspacing="0" border="0" align="center" width="600" style="max-width: 600px;">
            <a href="${clickthrough('sale_core', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration: none;">
            <p style="margin: 0; padding: 0; font-size: 18px; line-height: auto;">&nbsp;</p>
            <p class="text_mobile_03" style="margin: 0 0 10px 0; padding: 0; color: #000000; font-family: utopia-std, Georgia, Times, Times New Roman, Baskerville, Palatino, serif; font-weight: 400; font-size: 30px; line-height: auto; text-align: center;">New looks good on you</p>
            <p class="text_mobile_02" style="margin: 0; padding: 0; color: #000000; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 20px; line-height: 30px; text-align: center;">And feels even better with $10 off.<br>Check out your offer, right after this shopping inspo.</p>
            <p style="margin: 0; padding: 0; font-size: 26px; line-height: auto;">&nbsp;</p>
            <!-- END: Text container -->
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="90%">
                <tr>
                    <td width="32%">
                        <a href="${clickthrough('dy_0', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration: none;">
                            <img src="https://em.dynamicyield.com/emop/8773326/8806/99359/20351/6/0?dy_ts=1594754281498&dy_cuid=${EMAIL_SHA256_HASH_}&dy_version=cme_${campaign.name}&utm_source=Dynamic%20Yield%20recommendations&utm_medium=email" alt="maurices product recommendation" width="194" style="border: 0; display: block; outline: 0; padding: 0; width: 100%; max-width: 194px;"/>
                        </a>
                    </td>
                    <td width="1%">
                        <p>&nbsp;</p>
                    </td>
                    <td width="32%">
                        <a href="${clickthrough('dy_1', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration: none;">
                            <img src="https://em.dynamicyield.com/emop/8773326/8806/99359/20351/6/1?dy_ts=1594754281498&dy_cuid=${EMAIL_SHA256_HASH_}&dy_version=cme_${campaign.name}&utm_source=Dynamic%20Yield%20recommendations&utm_medium=email" alt="maurices product recommendation" width="194" style="border: 0; display: block; outline: 0; padding: 0; width: 100%; max-width: 194px;"/>
                        </a>
                    </td>
                    <td width="1%">
                        <p>&nbsp;</p>
                    </td>
                    <td width="32%">
                        <a href="${clickthrough('dy_2', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration: none;">
                            <img src="https://em.dynamicyield.com/emop/8773326/8806/99359/20351/6/2?dy_ts=1594754281498&dy_cuid=${EMAIL_SHA256_HASH_}&dy_version=cme_${campaign.name}&utm_source=Dynamic%20Yield%20recommendations&utm_medium=email" alt="maurices product recommendation" width="194" style="border: 0; display: block; outline: 0; padding: 0; width: 100%; max-width: 194px;"/>
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center" cellpadding="0" cellspacing="0" border="0" width="600" style="max-width: 600px;">
            <p style="margin: 0; padding: 0px; font-size: 20px; line-height: auto;">&nbsp;</p>
        </td>
    </tr>
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
<!-- /IMAGE 3x1 -->

<!-- IMAGE 3x1-->
<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" style="max-width: 600px; width: 100%; background-color: #eaeaea;" background="#eaeaea">
    <tr>
        <td>
            <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="90%">
                <tr>
                    <td width="32%">
                        <a href="${clickthrough('dy_3', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration: none;">
                            <img src="https://em.dynamicyield.com/emop/8773326/8806/99359/20351/6/3?dy_ts=1594754281498&dy_cuid=${EMAIL_SHA256_HASH_}&dy_version=cme_${campaign.name}&utm_source=Dynamic%20Yield%20recommendations&utm_medium=email" alt="maurices product recommendation" width="194" style="border: 0; display: block; outline: 0; padding: 0; width: 100%; max-width: 194px;"/>
                        </a>
                    </td>
                    <td width="1%">
                        <p>&nbsp;</p>
                    </td>
                    <td width="32%">
                        <a href="${clickthrough('dy_4', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration: none;">
                            <img src="https://em.dynamicyield.com/emop/8773326/8806/99359/20351/6/4?dy_ts=1594754281498&dy_cuid=${EMAIL_SHA256_HASH_}&dy_version=cme_${campaign.name}&utm_source=Dynamic%20Yield%20recommendations&utm_medium=email" alt="maurices product recommendation" width="194" style="border: 0; display: block; outline: 0; padding: 0; width: 100%; max-width: 194px;"/>
                        </a>
                    </td>
                    <td width="1%">
                        <p>&nbsp;</p>
                    </td>
                    <td width="32%">
                        <a href="${clickthrough('dy_5', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration: none;">
                            <img src="https://em.dynamicyield.com/emop/8773326/8806/99359/20351/6/5?dy_ts=1594754281498&dy_cuid=${EMAIL_SHA256_HASH_}&dy_version=cme_${campaign.name}&utm_source=Dynamic%20Yield%20recommendations&utm_medium=email" alt="maurices product recommendation" width="194" style="border: 0; display: block; outline: 0; padding: 0; width: 100%; max-width: 194px;"/>
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center" cellpadding="0" cellspacing="0" border="0" width="600" style="max-width: 600px;">
            <p style="margin: 0; padding: 0px; font-size: 20px; line-height: auto;">&nbsp;</p>
        </td>
    </tr>
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
<!-- /IMAGE 3x1 -->


<!-- COUPON -->
<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="background-color: #eaeaea; background-size: cover; max-width: 600px; width: 100%;" bgcolor="#eaeaea">
    <tr>
        <td align="center" cellpadding="0" cellspacing="0" border="0" align="center" width="600">
           <p style="margin: 0; padding: 0; font-size: 8px; line-height: auto;">&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td>
            <table align="center" cellpadding="0" cellspacing="0" border="0" align="center" role="presentation" width="100%" style="background-color: #357d89;">
                <tr>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" align="center" width="600">
                        <p style="margin: 0; padding: 0; font-size: 10px; line-height: auto;">&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table align="center" cellpadding="0" cellspacing="0" border="0" width="95%" style="border: 3px dashed #7abcb7;">
                            <!-- CONTENT START -->
                                <tr>
                                    <td align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="max-width: 600px;">
                                        <a href="${clickthrough('sale_core', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration: none;">
                                            <p style="margin: 0; padding: 0; font-size: 20px; line-height: auto;">&nbsp;</p>
                                            <p class="text_mobile_05" style="margin: 0px 0px 6px 0px; padding: 0px; color: #ffffff; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 500; font-size: 56px; line-height: auto; text-align: center;">$10 OFF<span class="aligntop" style="font-family: sans-serif; font-size: 30px; font-weight: normal; vertical-align: 20px; padding-left: 6px; margin: 0; line-height: normal;">*</span></p>
                                            <p class="text_mobile_02" style="margin: 0px 0px 10px 0px; padding: 0px; color: #ffffff; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 20px; line-height: auto; text-align: center;">your $50  purchase</p>
                                            <img src="http://shop.maurices.com/bca/z/image?D=99900000000002516${coupons}&ct=PDF417&LM=.3" alt="barcode" width="260" style="border:0;display:block;outline: 0;padding: 0;width:260px;" />
                                            <p style="margin: 10px 0px 10px 0px; padding: 0px; color: #ffffff; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 18px; line-height: 1.5; text-align: center; width: 90%;">Online Code: ${coupons}<br>In-store code: 002516</p>
                                            <p style="margin: 0px 0px 0px 0px; padding: 0px; color: #ffffff; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 20px; text-align: center;">*Single use. In store or online.<br>Valid 30 days from purchase. Not stackable.</p>
                                            <p style="margin: 0; padding: 0; font-size: 10px; line-height: auto;">&nbsp;</p>
                                        </a>
                                    </td>
                                </tr>
                                <!-- CONTENT END -->
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" align="center" width="600">
                        <p style="margin: 0; padding: 0; font-size: 10px; line-height: auto;">&nbsp;</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center" cellpadding="0" cellspacing="0" border="0" align="center" width="600">
            <p style="margin: 0; padding: 0; font-size: 30px; line-height: auto;">&nbsp;</p>
        </td>
    </tr>
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
<!-- /COUPON -->
