<!--INPUT: PHYSICAL GIFT CARD INFORMATION & SHIPPING INFORMATION AS STRING-->
<!--OUTPUT: PHYSICAL GIFT CARD MODULE AS HTML-->
<#macro pGcMod gcName gcImage gcQty gcTotal pGcSKU sFirstName sLastName sAddress1 sCity sStateProvince sZip deliveryMethodCode>
	<table align="center" bgcolor="#fff7ec" border="0" cellpadding="0" cellspacing="0" width="480">
	  <tbody>
		<tr>
		  <td><table width="480" border="0" align="center" cellpadding="0" cellspacing="0">
			  <tr>
				<td height="50" style="line-height:10px; font-size:0px;"><img src="images/sp.png" width="1" height="50" alt="" border="0" style="display:block;" /></td>
			  </tr>
			</table></td>
		</tr>
	  </tbody>
	</table>
	<table align="center" bgcolor="#fff7ec" border="0" cellpadding="0" cellspacing="0" width="480">
	  <tbody>
		<tr>
		  <td align="center" valign="top" width="120"><a href="${clickthrough('ProductLink', 'productName='+ gcName, 'productId='+ pGcSKU)}"><img alt="${gcName}" border="0" src="${gcImage}" style="display:block;" width="80" /></a></td>
		  <td align="left" valign="center" width="360">
          <div><span style="display:block; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; line-height:20px; color:#999999; font-weight: bold;">${gcName}</span></div>
			<div><span style="display:block; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:16px; line-height:20px; color:#999999;">Qty: ${gcQty}</span> </div>
			<div><span style="display:block; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:16px; line-height:20px; color:#999999;">Amount: $${gcTotal}</span> </div>
			<div height="40" style="line-height:40px; font-size:0px;"><img src="images/sp.png" width="1" height="40" alt="" border="0" style="display:block;" /></div>
            <div style="display:block; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#999999; font-weight: bold;">SENDING TO:</div>
			<div style="display:block; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:12px; line-height:14px; color:#999999;">${sFirstName} ${sLastName}</div>
			<div style="display:block; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:12px; line-height:14px; color:#999999;">${sAddress1}</div>
			<div style="display:block; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:12px; line-height:14px; color:#999999;">${sCity}, ${sStateProvince} ${sZip}</div>
			<div height="10" style="line-height:10px; font-size:0px;"><img src="images/sp.png" width="1" height="10" alt="" border="0" style="display:block;" /></div>
			<div style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:13px; line-height:20px; color:#999999; font-weight:bold;">
			  ${deliveryMethodDescription(deliveryMethodCode)}
			</div></td>
		</tr>
	  </tbody>
	</table>
	
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="480">
		<tr>
		  
				<td height="50" bgcolor="#fff7ec" style="line-height:10px; font-size:0px;"><img src="images/sp.png" width="1" height="50" alt="" border="0" style="display:block;" /></td>
			  </tr>
		<tr>
		  
				<td height="10" bgcolor="#ffffff" style="line-height:10px; font-size:0px;"><img src="images/sp.png" width="1" height="10" alt="" border="0" style="display:block;" /></td>
			  </tr>
			</table>
</#macro>

<!--INPUT: ECOMM GIFT CARD INFORMATION & SHIPPING INFORMATION AS STRING-->
<!--OUTPUT: ECOMM GIFT CARD MODULE AS HTML-->
<#macro eGcMod gcName gcImage gcQty gcTotal gcSKU sEmail deliveryMethodCode>
	<table align="center" bgcolor="#fff7ec" border="0" cellpadding="0" cellspacing="0" width="480">
	  <tbody>
		<tr>
		  <td><table width="480" border="0" align="center" cellpadding="0" cellspacing="0">
			  <tr>
				<td height="20" style="line-height:20px; font-size:0px;"><img src="images/sp.png" width="1" height="20" alt="" border="0" style="display:block;" /></td>
			  </tr>
			</table></td>
		</tr>
	  </tbody>
	</table>
	<table align="center" bgcolor="#fff7ec" border="0" cellpadding="0" cellspacing="0" width="480">
	  <tbody>
		<tr>
		  <td align="center" valign="top" width="150"><a href="${clickthrough('ProductLink', 'productName='+ gcName, 'productId='+ gcSKU)}"><img border="0" src="${gcImage}" style="display:block;" width="100" /></a></td>
           <td bgcolor="#fff7ec" width="25" style="line-height:1px; font-size:0px;"><img src="images/sp.png" width="1" height="1" alt="" border="0" style="display:block;" /></td>
		  <td align="left" valign="center" width="300"><div><span style="display:block; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; line-height:20px; color:#999999; font-weight: bold;">${gcName}</span></div>
			<div><span style="display:block; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:16px; line-height:20px; color:#999999;">Qty: ${gcQty}</span> </div>
			<div><span style="display:block; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:16px; line-height:20px; color:#999999;">Amount: $${gcTotal}</span> </div>
			<div height="40" style="line-height:40px; font-size:0px;"><img src="images/sp.png" width="1" height="40" alt="" border="0" style="display:block;" /></div></td>
		</tr>
		<tr>
		  <td align="center" valign="center" width="150"></td>
           <td bgcolor="#fff7ec" width="25" style="line-height:1px; font-size:0px;"><img src="images/sp.png" width="1" height="1" alt="" border="0" style="display:block;" /></td>
		  <td align="left" valign="center" width="300"><div><span style="display:block; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#999999; font-weight: bold;">SENDING TO:</span> </div>
			<div><span style="display:block; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:12px; line-height:14px; color:#55bab7;">${sEmail}</span> </div>
		  </td>
		</tr>
	  </tbody>
	</table>
  <table align="center" border="0" cellpadding="0" cellspacing="0" width="480">
		<tr>
		  
				<td height="10" bgcolor="#fff7ec" style="line-height:10px; font-size:0px;"><img src="images/sp.png" width="1" height="10" alt="" border="0" style="display:block;" /></td>
			  </tr>
		<tr>
		  
				<td height="10" bgcolor="#ffffff" style="line-height:10px; font-size:0px;"><img src="images/sp.png" width="1" height="10" alt="" border="0" style="display:block;" /></td>
			  </tr>
			</table>
</#macro>

<!--INPUT: ITEM INFORMATION AS STRING-->
<!--OUTPUT: ITEM INFORMATION AS HTML-->
<#macro itemMod iImage iName iColor iTotal iSize iQty iSku iStyle>
	<table width="480" border="0" align="center" cellpadding="0" cellspacing="0">
	  <tr>
		<td align="center" valign="middle" width="120" height="135"><a href="${clickthrough('ProductLink', 'productName='+ iName, 'productId='+ iSku)}"><img src="${iImage}" width="80" height="116" border="0" alt="${iName}" style="display:block;" /></a></td>
		<td valign="top"><table width="360" cellpadding="0" cellspacing="0" border="0">
			<tr>
			  <td height="10" style="line-height:10px; font-size:0px;"><img src="images/sp.png" width="1" height="10" alt="" border="0" style="display:block;" /></td>
			</tr>
			<tr>
			  <td align="left" valign="top" height="25" ><div><span style="display:block; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:18px; line-height:20px; color:#999999;">${iName}</span></div></td>
			</tr>
			<tr>
			  <td valign="middle" height="60"><table width="360" cellpadding="0" cellspacing="0" border="0">
				  <tr>
					<td ><table width="360" cellpadding="0" cellspacing="0" border="0">
						<tr>
						  <td width="189" align="left"><div><span style="display:block; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:16px; line-height:18px; color:#999999;">Color: ${iColor}</span></div></td>
						  <td width="171" align="left"><div><span style="display:block; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:16px; line-height:18px; color:#999999;">$${iTotal}</span></div></td>
						</tr>
					  </table></td>
				  </tr>
				  <tr>
					<td><table width="360" cellpadding="0" cellspacing="0" border="0">
						<tr>
						  <td width="189" align="left"><div><span style="display:block; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:16px; line-height:18px; color:#999999;">Size: ${iSize}</span></div></td>
						  <td width="171" align="left"><div><span style="display:block; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:16px; line-height:18px; color:#999999;">Qty: ${iQty}</span></div></td>
						</tr>
					  </table></td>
				  </tr>
				</table></td>
			</tr>
			<tr>
			  <td align="left" valign="middle" height="31"><div><span style="display:block; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px; line-height:16px; color:#999999;">style # ${iStyle}</span></div></td>
			</tr>
		  </table></td>
	  </tr>
	</table>
</#macro>

<!--INPUT: DELIVERY METHOD CODE AS STRING-->
<!--OUTPUT: DELIVERY METHOD DESCRIPTION AS STRING-->
<#function deliveryMethodDescription code>
	<#local code = code?trim>
	<#local description>
			<#if code="2DAY"> Priority Shipping
		<#elseif code="3DAY"> Priority Shipping
		<#elseif code="GROUND"> Standard Shipping 
		<#elseif code="NEXTDAY"> Overnight- Next Business Day
		</#if>
	</#local>
	<#return description>
</#function> 

<!--INPUT: PAYMENT INFORMATION AS NODE LIST-->
<!--OUTPUT: PAYMENT INFORMATION AS HTML-->
<#macro payment pXml>
	 <#local OrderPayment=pXml>
	<table width="480" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#fff7ec">
              <tr>
                <td height="15" style="line-height:15px; font-size:0px;"><img src="images/sp.png" width="1" height="15" alt="" border="0" style="display:block;" /></td>
              </tr>
              <tr>
          <td align="center"><div><span style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:16px; line-height:22px; color:#999999; font-weight:normal;">
	<#list OrderPayment.PaymentDetail.payment as payment>
		<#if payment.OrderPaymentType == "Credit Card">
			To be charged to your ${payment.CardType} credit card <br/>${payment.Reference}: $${payment.PaymentAmount}
		<#elseif payment.OrderPaymentType == "Gift Card">
			To be charged to your ${payment.OrderPaymentType} <br/>${payment.Reference?replace("Card ending with ", "############")}: $${payment.PaymentAmount}
		<#else>
			To be charged to your ${payment.OrderPaymentType} <br/>${payment.Reference}: $${payment.PaymentAmount}
		</#if>
		<#if payment_has_next><br/></#if>
	</#list>
	</span></div></td>
        </tr>
              <tr>
                <td height="15" style="line-height:15px; font-size:0px;"><img src="images/sp.png" width="1" height="15" alt="" border="0" style="display:block;" /></td>
              </tr>
            </table>
</#macro>