<!-- START COMPONENT: TEXT -->
     
<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" style="background-color: #ffffff; background-size: cover; max-width: 600px; width: 100%;" bgcolor="#ffffff">
    <tr>
        <td>
            <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="100%">
                <tr>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" width="400">
                        <p style="margin: 0px 0px 0px 0px; padding: 0px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 30px; font-weight: bold; line-height: auto; text-align: center; width: 90%;">&nbsp;</p>
                    </td>
                </tr>
                <!-- CONTENT START -->
<#assign nCounter = 0 />
<#assign prod_hash = [] />
<#list PRODUCT_SKU?split(',') as nONE_SKU>
    <#data PRODUCT as prod_table>
        <#filter SKU_ID=nONE_SKU>
        <#fields SKU_ID PROD_NAME PROD_URL PROD_ID SKU_IMAGE_URL REGULAR_PRICE>
        <#if prod_table.SKU_ID?has_content>
            <#if nCounter == 0 >
                <tr>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" width="600" style="max-width: 600px;">
                        <a href="${clickthrough('prod_img_url', 'Prod_URL=' + prod_table.PROD_URL, 'eepromo='+newpromo)}" style="text-decoration: none;">
                            <p class="text_mobile_04" style="margin: 0px 0px 10px 0px; padding: 0px; color: #000000; font-family:'avenir85heavy', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 500; font-size: 34px; line-height: auto; text-align: center; width: 90%;">Enjoy</p>
                            <p style="margin: 0px 0px 10px 0px; padding: 0px; color: #000000; font-family:'avenir95black', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 500; font-size: 54px; line-height: auto; text-align: center; width: 90%;">15% OFF<span style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:30px; font-weight: normal; vertical-align: top; padding-left: 6px; margin: 0; line-height:normal;">*</span></p>
                            <p class="text_mobile_02 mobile_margin_bottom" style="margin: 0px 0px 10px 0px; padding: 0px; color: #000000; font-family:'avenir85heavy', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 500; font-size: 24px; line-height: auto; text-align: center; width: 90%;">Before your top picks sell out!</p>
                        </a>
                    </td>
                </tr>

            </#if>
            <#if nCounter lt PROD_DISPLAY_COUNT?number>                
            <#assign nCounter = nCounter + 1>
            <#assign prod_hash = prod_hash + [{
                 "ITEM_NUM": nCounter,
                 "SKU": prod_table.SKU_ID, 
                 "PROD_NAME": prod_table.PROD_NAME,
                 "PROD_URL": prod_table.PROD_URL,
                 "PROD_ID": prod_table.PROD_ID,
                 "REGULAR_PRICE": prod_table.REGULAR_PRICE,
                 "SKU_IMAGE_URL": prod_table.SKU_IMAGE_URL
                }]
            >
        </#if>
        </#if>            
    </#data>
</#list>           
                
                <!-- CONTENT END -->
                <tr>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" width="400">
                        <p style="margin: 0px 0px 0px 0px; padding: 0px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 10px; font-weight: bold; line-height: auto; text-align: center; width: 90%;">&nbsp;</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>    
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
     
<!-- END COMPONENT: TEXT -->
    
    
<!-- START COMPONENT: SPACER -->
    
<table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="width:100%; max-width: 600px; background-color: #ffffff;">
    <tr>
        <td align="center" style="padding: 0px;">
            <!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
                <tr style="background-color: #ffffff; max-width: 600px; padding: 0px" width="600">
                    <td align="center">
                        <p style="margin: 0px; padding: 0px; font-family: sans-serif; font-size: 20px; line-height: auto; text-align: center;">&nbsp;</p>
                    </td>
                </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
        </td>
    </tr>
</table>

<!-- END COMPONENT: SPACER -->
    
    
<!-- START COMPONENT: ABANDONED PRODUCT -->
    
<#if prod_hash?has_content>
    <#list prod_hash as x >    
    
<table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="width: 100%; max-width: 600px; background-color: #ffffff;">

    <tr>
        <td align="center" style="font-size: 0;">
        <!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" style="width:50%;"><![endif]-->
            <div style="display: inline-block; max-width: 300px; width: 100%;" class="mw100 w90">
                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:96%;" class="mw100 w90">
                    <tr style="max-width: 300px; padding: 0px" width="300" class="mw100 w90">
                        <td align="center">
                            <a href="${clickthrough('prod_img_url', 'Prod_URL=' + x.PROD_URL, 'eepromo='+newpromo)}" style="text-decoration: none;">
                                <img src="${x.SKU_IMAGE_URL}" alt="maurices clothing" width="270" style="border: 0; display: block; outline: 0; padding: 0; width: 100%; max-width: 270px;" border="0" class="mw100 w90">
                            </a>
                        </td>
                    </tr>
                </table>
            </div><!--[if (gte mso 9)|(IE)]></td><td align="center" style="width:50%;"><![endif]-->
                <div style="display: inline-block;max-width: 300px; width: 100%;" class="mw100 w90">
                    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width: 96%;" class="mw100 w90">
                        <tr style="max-width: 300px; padding: 0px" width="300" height="390px" valign="top" class="mw100 w90 h100">
                            <td align="center">
                                <a href="${clickthrough('prod_name_url', 'Prod_URL=' + x.PROD_URL, 'eepromo='+newpromo)}" style="text-decoration: none;">
                                    <table align="center" cellpadding="0" cellspacing="0" border="0" style="width:90%;">
                                        <tr>
                                            <td align="center" valign="top" width="90%">
                                                <p class="mobile_margin_top" style="margin: 0px 0px 10px 0px; padding: 0px; color: #000000; font-family:'avenir55roman', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 22px; line-height: 30px; text-align: left;">${x.PROD_NAME}</p>
                                                <p class="text_mobile_03" style="margin: 0px 0px 30px 0px; padding: 0px; color: #C12905; font-family:'avenir85heavy', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 500; font-size: 36px; line-height: auto; text-align: left; letter-spacing: -1px;">$${x.REGULAR_PRICE?string("0.00")}</p>
                                                <table align="left" border="0" cellspacing="0" cellpadding="0" role="presentation" style="width: 200px; border-collapse: separate; background-color: #000000; border: 1px solid #000000;" class="cta-black">
                                                      <tr>
                                                          <td valign="middle" height="48" style="text-align: center; height: 48px;">
                                                              <a href="${clickthrough('claim_15', 'Prod_URL=' + x.PROD_URL, 'eepromo='+newpromo)}" style="display: inline-block; padding: 10px 10px; font-family: 'avenir55roman', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 16px; line-height: 22px; color: #ffffff; text-decoration: none;">CLAIM 15% OFF</a>
                                                          </td>
                                                      </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
        <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
        </td>
    </tr>
</table>

<!-- END COMPONENT: ABANDONED PRODUCT -->
    
<!-- START COMPONENT: SPACER -->
    
<table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="width:100%; max-width: 600px; background-color: #ffffff;">
    <tr>
        <td align="center" style="padding: 0px;">
            <!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
                <tr style="background-color: #ffffff; max-width: 600px; padding: 0px" width="600">
                    <td align="center">
                        <p style="margin: 0px; padding: 0px; font-family: sans-serif; font-size: 20px; line-height: auto; text-align: center;">&nbsp;</p>
                    </td>
                </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
        </td>
    </tr>
</table>
    </#list>
</#if>     

<!-- END COMPONENT: SPACER -->

<!-- Start RealTime Email Embed - Patents Pending -->
<img src="https://em.realtime.email/service/rte?kind=duration&account_id=12582&campaign_id=1879244352&esp_uid=${EMAIL_SHA256_HASH_}" style="width:0px; height:0px;"/>
<!-- End RealTime Email Embed - Patents Pending -->


<!-- Start RealTime Email Embed - Patents Pending -->
<a href="https://em.realtime.email/service/rte?kind=webscrape_clickthrough&id=1646381788&esp_uid=${EMAIL_SHA256_HASH_}"><img src="https://em.realtime.email/service/rte?kind=webscrape&id=1646381788&esp_uid=${EMAIL_SHA256_HASH_}" border="0" alt="maurices promotion"/></a>
<!-- End RealTime Email Embed - Patents Pending -->
