<!-- START COMPONENT: TEXT -->
     
<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" style="background-color: #ffffff; background-size: cover; max-width: 600px; width: 100%;" bgcolor="#ffffff">
    <tr>
        <td>
            <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="100%">
                <tr>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" width="400">
                        <p style="margin: 0px 0px 0px 0px; padding: 0px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 30px; font-weight: bold; line-height: auto; text-align: center; width: 90%;">&nbsp;</p>
                    </td>
                </tr>
                <!-- CONTENT START -->
                <tr>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" width="600" style="max-width: 600px;">
                        <a href="${clickthrough('shopping_cart', 'eepromo='+newpromo)}" style="text-decoration: none;">
                            <table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 60%;" class="w90">
                                <tr>
                                    <td align="center" valign="top" width="100%">
                                        <p class="text_mobile_03" style="margin: 0px 0px 20px 0px; padding: 0px; color: #C12905; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif;font-weight: 500; font-size: 34px; line-height: auto; text-align: center;">TICK TOCK!</p>
                                        <p style="margin: 0px 0px 0px 0px; padding: 0px; color: #000000; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 600; font-size: 54px; line-height: auto; text-align: center;">15% OFF<span style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:30px; font-weight: normal; vertical-align: top; padding-left: 6px; margin: 0; line-height:normal;">*</span></p>
                                        <p class="text_mobile_03" style="margin: 0px 0px 0px 0px; padding: 0px; color: #000000; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 500; font-size: 30px; line-height: auto; text-align: center;">is almost up</p>
                                    </td>
                                </tr>
                            </table>
                        </a>
                    </td>
                </tr>
                <!-- CONTENT END -->
                <tr>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" width="400">
                        <p class="text_mobile_01" style="margin: 0px 0px 0px 0px; padding: 0px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 10px; font-weight: bold; line-height: auto; text-align: center; width: 90%;">&nbsp;</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>    
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
     
<!-- END COMPONENT: TEXT -->
    
    
<!-- START COMPONENT: CTA FILLED SINGLE -->
    
<table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 100%; background-color: #ffffff; max-width: 600px;">
    <tr>
        <td align="center" style="font-size: 0; padding: 0px; vertical-align: top;">
            <!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:450px;"><tr><td align="center" valign="top" style="width:50%;"><![endif]-->
            <div style="display: inline-block; vertical-align: top; max-width: 400px; width: 100%;" class="mw100">
                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
                    <tr>
                        <td align="center" style="padding-top: 10px;">
                            <a href="${clickthrough('maurices', 'eepromo='+newpromo)}">
                              <table align="center" border="0" cellspacing="0" cellpadding="0" role="presentation" style="width: 280px; border-collapse: separate; background-color: #000000; border: 1px solid #000000;" class="cta-black w90">
                                  <tr>
                                      <td valign="middle" height="48" style="text-align: center; height: 48px;">
                                          <a href="${clickthrough('shopping_cart', 'eepromo='+newpromo)}" style="display: inline-block; padding: 10px 10px; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif;font-weight: 400; font-size: 16px; line-height: 22px; color: #ffffff; text-decoration: none;">CLAIM MY 15% OFF</a>
                                      </td>
                                  </tr>
                                </table>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
        </td>
    </tr>
</table>

<!-- END COMPONENT: CTA FILLED SINGLE -->
    
    
<!-- START COMPONENT: SPACER -->
    
<table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="width:100%; max-width: 600px; background-color: #ffffff;">
    <tr>
        <td align="center" style="padding: 0px;">
            <!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
                <tr style="background-color: #ffffff; max-width: 600px; padding: 0px" width="600">
                    <td align="center">
                        <p style="margin: 0px; padding: 0px; font-family: sans-serif; font-size: 40px; line-height: auto; text-align: center;">&nbsp;</p>
                    </td>
                </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
        </td>
    </tr>
</table>

<!-- END COMPONENT: SPACER -->
    
    
<!-- START COMPONENT: ABANDONED PRODUCT -->
<#assign nCounter = 0 />
<#assign prod_hash = [] />
<#list CA_PRODUCT_ID?split(',')?reverse?unique as nONE_ID>
    <#data Infinity_Product_Table_SUPP as prod_table limit=1>
        <#filter STYLE_NO=nONE_ID>
        <#fields STYLE_NO PRODUCT_NAME PRODUCT_URL PRODUCT_IMAGE PROD_AVAILABILITY ORIGINAL_PRICE PRICE_CURRENT PRICE_PROMO>
        <#if prod_table.STYLE_NO?has_content>
            <#if nCounter != PROD_DISPLAY_COUNT?number>
            <#assign nCounter = nCounter + 1>
            <#assign prod_hash = prod_hash + [{
                 "ITEM_NUM": nCounter,
                 "PROD_NAME": prod_table.PRODUCT_NAME,
                 "PROD_URL": prod_table.PRODUCT_URL,
                 "PROD_ID": prod_table.STYLE_NO,
                 "ORIGINAL_PRICE": prod_table.ORIGINAL_PRICE?replace(' USD',''),
                 "PRICE_CURRENT": prod_table.PRICE_CURRENT?replace(' USD',''),
                 "PRICE_PROMO": prod_table.PRICE_PROMO?replace(' USD',''),
                 "SKU_IMAGE_URL": prod_table.PRODUCT_IMAGE
                }]
            >
        </#if>
        </#if>            
    </#data>
</#list>           

<#if prod_hash?has_content>
	<#list prod_hash as x >    

       <#assign price_sort = [] />
       <#if x.ORIGINAL_PRICE?has_content><#assign price_sort = price_sort + [x.ORIGINAL_PRICE?number] /></#if>
       <#if x.PRICE_CURRENT?has_content><#assign price_sort = price_sort + [x.PRICE_CURRENT?number] /></#if>
       <#if x.PRICE_PROMO?has_content><#assign price_sort = price_sort + [x.PRICE_PROMO?number] /></#if> 
       <#if price_sort?has_content><#assign PRICE = price_sort?sort?first /></#if>
        
<table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="width: 100%; max-width: 600px; background-color: #ffffff;">
    
    <tr>
        <td align="center" style="font-size: 0;">
        <!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" style="width:50%;"><![endif]-->
            <div style="display: inline-block; max-width: 300px; width: 100%;" class="mw100 w90">
                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:96%;" class="mw100 w90">
                    <tr style="max-width: 300px; padding: 0px" width="300" class="mw100 w90">
                        <td align="center">
                            <a href="${clickthrough('shopping_cart', 'eepromo='+newpromo)}" style="text-decoration: none;">
                                <img src="${x.SKU_IMAGE_URL}" alt="Image of maurices product left in shopping bag" width="270" style="border: 0; display: block; outline: 0; padding: 0; width: 100%; max-width: 270px;" border="0" class="mw100 w90">
                            </a>
                        </td>
                    </tr>
                </table>
            </div><!--[if (gte mso 9)|(IE)]></td><td align="center" style="width:50%;"><![endif]-->
                <div style="display: inline-block;max-width: 300px; width: 100%;" class="mw100 w90">
                    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width: 96%;" class="mw100 w90">
                        <tr style="max-width: 300px; padding: 0px" width="300" height="390px" valign="top" class="mw100 w90 h100">
                            <td align="center">
                                <a href="${clickthrough('shopping_cart', 'eepromo='+newpromo)}" style="text-decoration: none;">
                                    <table align="center" cellpadding="0" cellspacing="0" border="0" style="width:90%;">
                                        <tr>
                                            <td align="center" valign="top" width="90%">
                                                <p class="mobile_margin_top" style="margin: 0px 0px 10px 0px; padding: 0px; color: #000000; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 22px; line-height: 30px; text-align: left;">${x.PROD_NAME}</p>
                                                <p class="text_mobile_03" style="margin: 0px 0px 30px 0px; padding: 0px; color: #C12905; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif;font-weight: 500; font-size: 36px; line-height: auto; text-align: left; letter-spacing: -1px;">$${PRICE?string("0.00")}</p>
                                                <table align="left" border="0" cellspacing="0" cellpadding="0" role="presentation" style="width: 200px; border-collapse: separate; background-color: #000000; border: 1px solid #000000;" class="cta-black">
                                                      <tr>
                                                          <td valign="middle" height="48" style="text-align: center; height: 48px;">
                                                              <a href="${clickthrough('shopping_cart', 'eepromo='+newpromo)}" style="display: inline-block; padding: 10px 10px; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 16px; line-height: 22px; color: #ffffff; text-decoration: none;">CHECKOUT NOW</a>
                                                          </td>
                                                      </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
        <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
        </td>
    </tr>
</table>

<!-- END COMPONENT: ABANDONED PRODUCT -->
    
<!-- START COMPONENT: SPACER -->
    
<table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="width:100%; max-width: 600px; background-color: #ffffff;">
    <tr>
        <td align="center" style="padding: 0px;">
            <!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
                <tr style="background-color: #ffffff; max-width: 600px; padding: 0px" width="600">
                    <td align="center">
                        <p style="margin: 0px; padding: 0px; font-family: sans-serif; font-size: 20px; line-height: auto; text-align: center;">&nbsp;</p>
                    </td>
                </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
        </td>
    </tr>
</table>
    </#list>
</#if>     
<#if nCounter == 0 ><#skip "No matching product IDs in table." ></#if>

<!-- END COMPONENT: SPACER -->


<!-- END PRODUCT LOOP - THE FOLLOWING CTA SHOULD ONLY SHOW ONCE -->
<!-- START COMPONENT: CTA FILLED SINGLE -->
    
<table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 100%; background-color: #ffffff; max-width: 600px;">
    <tr style="max-width: 600px; padding: 0px" width="600">
        <td align="center">
            <p style="margin: 0px; padding: 0px; font-family: sans-serif; font-size: 10px; line-height: auto; text-align: center;">&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td align="center" style="font-size: 0; padding: 0px; vertical-align: top;">
            <!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:450px;"><tr><td align="center" valign="top" style="width:50%;"><![endif]-->
            <div style="display: inline-block; vertical-align: top; max-width: 400px; width: 100%;" class="mw100">
                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
                    <tr>
                        <td align="center" style="padding-top: 25px;">
                            <a href="${clickthrough('maurices', 'eepromo='+newpromo)}">
                              <table align="center" border="0" cellspacing="0" cellpadding="0" role="presentation" style="width: 280px; border-collapse: separate; background-color: #3A7876; border: 1px solid #3A7876;" class="cta-black-ghost w90">
                                  <tr>
                                      <td valign="middle" height="48" style="text-align: center; height: 48px;">
                                          <a href="${clickthrough('shopping_cart', 'eepromo='+newpromo)}" style="display: inline-block; padding: 10px 10px; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 16px; line-height: 22px; color: #ffffff; text-decoration: none;">VIEW MY SHOPPING BAG</a>
                                      </td>
                                  </tr>
                                </table>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
        </td>
    </tr>
    <tr style="max-width: 600px; padding: 0px" width="600">
        <td align="center">
            <p style="margin: 0px; padding: 0px; font-family: sans-serif; font-size: 40px; line-height: auto; text-align: center;">&nbsp;</p>
        </td>
    </tr>
</table>

<!-- END COMPONENT: CTA FILLED SINGLE -->