<!-- SECTION 1 -->
<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" style="background-color: #ffffff; background-size: cover; max-width: 600px; width: 100%;" bgcolor="#ffffff">
    <tr>
        <td>
            <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="100%">
                <tr>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" width="400">
                        <p style="margin: 0; padding: 0; font-size: 30px; line-height: 30px;">&nbsp;</p>
                    </td>
                </tr>
                <!-- CONTENT START -->
                <tr>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" width="600" style="max-width: 600px;">
                        <a href="${clickthrough('shopping_cart')}" style="text-decoration: none;">
                            <table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 70%;">
                                <tr>
                                    <td align="center" valign="top" width="100%">
                                        <!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 300px;"><tr><td align="center" valign="top" width="60%"><![endif]-->
                                        <p class="text_mobile_03" style="margin: 0; padding: 0; color: #000000; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 500; font-size: 34px; line-height: auto; text-align: center;">We're holding your shopping bag</p>
                                        <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
                                    </td>
                                </tr>
                            </table>
                        </a>
                    </td>
                </tr>
                <!-- CONTENT END -->
                <tr>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" width="400">
                        <p style="margin: 0; padding: 0; font-size: 8px; line-height: 8px;">&nbsp;</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 100%; background-color: #ffffff; max-width: 600px;">
    <tr>
        <td align="center" style="font-size: 0; padding: 0px; vertical-align: top;">
            <!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:450px;"><tr><td align="center" valign="top" style="width:50%;"><![endif]-->
            <div style="display: inline-block; vertical-align: top; max-width: 400px; width: 100%;" class="mw100">
                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
                    <tr>
                        <td align="center" style="padding-top: 25px;">
                            <a href="${clickthrough('maurices')}">
                              <table align="center" border="0" cellspacing="0" cellpadding="0" role="presentation" style="width: 280px; border-collapse: separate; background-color: #3A7876; border: 1px solid #3A7876;" class="cta-black-ghost w90">
                                  <tr>
                                      <td valign="middle" height="48" style="text-align: center; height: 48px;">
                                          <a href="${clickthrough('shopping_cart')}" style="display: inline-block; padding: 10px 10px; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 16px; line-height: 22px; color: #ffffff; text-decoration: none;">VIEW MY SHOPPING BAG</a>
                                      </td>
                                  </tr>
                                </table>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
        </td>
    </tr>
    <tr style="max-width: 600px; padding: 0px" width="600">
        <td align="center">
            <p style="margin: 0; padding: 0; font-size: 50px; line-height: 50px;">&nbsp;</p>
        </td>
    </tr>
</table>
<!-- /SECTION 1 -->

<!-- ABANDONED PRODUCT -->
<#assign nCounter = 0 />
<#assign prod_hash = [] />

<#list PRODUCT_ID?split(',')?reverse?unique as nONE_ID>
    <#data Infinity_Product_Table_SUPP as prod_table limit=1>
        <#filter STYLE_NO=nONE_ID>
        <#fields STYLE_NO PRODUCT_NAME PRODUCT_URL PRODUCT_IMAGE PROD_AVAILABILITY ORIGINAL_PRICE PRICE_CURRENT PRICE_PROMO>
        <#if prod_table.STYLE_NO?has_content>
            <#if nCounter != PROD_DISPLAY_COUNT?number>
            <#assign nCounter = nCounter + 1>
            <#assign prod_hash = prod_hash + [{
                 "ITEM_NUM": nCounter,
                 "PROD_NAME": prod_table.PRODUCT_NAME,
                 "PROD_URL": prod_table.PRODUCT_URL,
                 "PROD_ID": prod_table.STYLE_NO,
                 "ORIGINAL_PRICE": prod_table.ORIGINAL_PRICE?replace(' USD',''),
                 "PRICE_CURRENT": prod_table.PRICE_CURRENT?replace(' USD',''),
                 "PRICE_PROMO": prod_table.PRICE_PROMO?replace(' USD',''),
                 "SKU_IMAGE_URL": prod_table.PRODUCT_IMAGE
                }]
            >
        </#if>
        </#if>
    </#data>
</#list>

<#if prod_hash?has_content>
	<#list prod_hash as x >

       <#assign price_sort = [] />
       <#if x.ORIGINAL_PRICE?has_content><#assign price_sort = price_sort + [x.ORIGINAL_PRICE?number] /></#if>
       <#if x.PRICE_CURRENT?has_content><#assign price_sort = price_sort + [x.PRICE_CURRENT?number] /></#if>
       <#if x.PRICE_PROMO?has_content><#assign price_sort = price_sort + [x.PRICE_PROMO?number] /></#if>
       <#if price_sort?has_content><#assign PRICE = price_sort?sort?first /></#if>


<table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="width: 100%; max-width: 600px; background-color: #ffffff;">
    <tr>
        <td align="center" style="font-size: 0;">
        <!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" style="width:50%;"><![endif]-->
            <div style="display: inline-block; max-width: 300px; width: 100%;" class="mw100 w90">
                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:96%;" class="mw100 w90">
                    <tr style="max-width: 300px; padding: 0px" width="300" class="mw100 w90">
                        <td align="center">
                            <a href="${clickthrough('shopping_cart')}" style="text-decoration: none;">
                                <img src="${x.SKU_IMAGE_URL}" alt="Image of maurices product left in shopping bag" width="270" style="border: 0; display: block; outline: 0; padding: 0; width: 100%; max-width: 270px;" border="0" class="mw100 w90">
                            </a>
                        </td>
                    </tr>
                </table>
            </div><!--[if (gte mso 9)|(IE)]></td><td align="center" style="width:50%;"><![endif]-->
                <div style="display: inline-block;max-width: 300px; width: 100%;" class="mw100 w90">
                    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width: 96%;" class="mw100 w90">
                        <tr style="max-width: 300px; padding: 0px" width="300" height="390px" valign="top" class="mw100 w90 h100">
                            <td align="center">
                                <a href="${clickthrough('shopping_cart')}" style="text-decoration: none;">
                                    <table align="center" cellpadding="0" cellspacing="0" border="0" style="width:90%;">
                                        <tr>
                                            <td align="center" valign="top" width="90%">
                                                <p class="mobile_margin_top" style="margin: 0px 0px 10px 0px; padding: 0px; color: #000000; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 22px; line-height: 30px; text-align: left;">${x.PROD_NAME}</p>
                                                <p class="text_mobile_03" style="margin: 0px 0px 30px 0px; padding: 0px; color: #C12905; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 500; font-size: 36px; line-height: auto; text-align: left; letter-spacing: -1px;">$${PRICE?string("0.00")}</p>
                                                <table align="left" border="0" cellspacing="0" cellpadding="0" role="presentation" style="width: 200px; border-collapse: separate; background-color: #000000; border: 1px solid #000000;" class="cta-black">
                                                      <tr>
                                                          <td valign="middle" height="48" style="text-align: center; height: 48px;">
                                                              <a href="${clickthrough('shopping_cart')}" style="display: inline-block; padding: 10px 10px; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; font-size: 16px; line-height: 22px; color: #ffffff; text-decoration: none;">CHECKOUT NOW</a>
                                                          </td>
                                                      </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
        <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
        </td>
    </tr>
</table>
<!-- /ABANDONED PRODUCT -->

<!-- SPACER -->
<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="width: 100%; max-width: 600px; background-color: #ffffff;" bgcolor="#ffffff">
    <tr>
        <td align="center">
            <p style="margin: 0; padding: 0; font-size: 20px; line-height: 20px; ">&nbsp;</p>
        </td>
    </tr>
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
<!-- /SPACER -->

<#data Stylitics_Feedonomics_SUPPtable as style>
<#filter STYLE_NUMBER_LOOKUP = x.PROD_ID>
<#fields STYLE_NUMBER_LOOKUP OUTFIT_1_IMAGE OUTFIT_1_ID>

<#if style.OUTFIT_1_IMAGE?has_content && style.OUTFIT_1_ID?has_content>
<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" style="background-color: #ffffff; max-width: 600px; width: 100%;" bgcolor="#ffffff">
    <tr>
        <td>
            <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="100%">
                <tr>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" width="600" style="max-width: 600px;">
                        <p style="margin: 0; padding: 0; font-size: 30px; line-height: 30px;">&nbsp;</p>
                        <p class="text_18" style="margin: 0; padding: 0; color: #303030; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 28px; line-height: 1.5; text-align: center; width: 90%;">Need something to go with it?</p>
                        <p style="margin: 0; padding: 0; font-size: 30px; line-height: 30px;">&nbsp;</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" style="max-width: 600px; width: 100%;">
    <tr>
        <td>
            <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="90%">
                <tr>
                    <td align="center">
                        <a href="${clickthrough('outfit_page', 'outfitVar='+style.OUTFIT_1_ID, 'pidVar='+style.STYLE_NUMBER_LOOKUP, 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}">
                            <img src="${style.OUTFIT_1_IMAGE}" alt="maurices outfit" width="600" style="border: 0; display: block; outline: 0; padding: 0; width: 100%; max-width: 600px;"/>
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" style="width:100%; background-color: #ffffff; max-width: 600px;" bgcolor="#ffffff">
    <tr style="max-width: 600px; padding: 0px" width="600">
        <td align="center">
            <p style="margin: 0; padding: 0; font-size: 40px; line-height: 40px;">&nbsp;</p>
        </td>
    </tr>
    <tr>
    <td>
        <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="80%" class="w90">
            <tr>
                <td width="44%" align="center">
                    <a href="${clickthrough('outfit_page', 'outfitVar='+style.OUTFIT_1_ID, 'pidVar='+style.STYLE_NUMBER_LOOKUP, 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}">
                      <table align="center" border="0" cellspacing="0" cellpadding="0" role="presentation" style="width: 240px; border-collapse: separate; border: 1px solid #000000; background-color: #000000;" class="cta-black w70">
                          <tr>
                              <td valign="middle" height="48" style="text-align: center; height: 48px;" class="h30px">
                                  <a href="${clickthrough('outfit_page', 'outfitVar='+style.OUTFIT_1_ID, 'pidVar='+style.STYLE_NUMBER_LOOKUP, 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="display: inline-block; padding: 10px 10px; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22px; color: #ffffff; text-decoration: none; font-weight: 400;" class="text_14">SHOP THIS LOOK</a>
                              </td>
                          </tr>
                      </table>
                    </a>
                </td>
            </tr>
        </table>
    </td>
</tr>
    <tr style="max-width: 600px; padding: 0px" width="600">
        <td align="center">
            <p style="margin: 0; padding: 0; font-size: 40px; line-height: 40px;">&nbsp;</p>
        </td>
    </tr>
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->

</#if>
</#data>

    </#list>
</#if>

<#if nCounter == 0 ><#skip "No matching product IDs in table." ></#if>
<!-- END PRODUCT LOOP -->
