<#assign dypid = DynamicVariable.PRODUCT_ID>

<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" style="background-color: #ffffff; background-size: cover; max-width: 600px; width: 100%;" bgcolor="#ffffff">
    <tr>
        <td>
            <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="100%">
                <tr>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" width="400">
                        <p style="margin: 0px 0px 0px 0px; padding: 0px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 30px; font-weight: bold; line-height: auto; text-align: center; width: 90%;">&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" width="600" style="max-width: 600px;">
                        <a href="${clickthrough('maurices')}" style="text-decoration: none;">
                            <table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 100%;">
                                <tr>
                                    <td align="center" valign="top" width="100%">
                                        <table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 100%;" class="w80">
                                            <tr>
                                                <td align="center" valign="top" width="100%">
                                        <p class="text_mobile_03" style="margin: 0px 0px 10px 0px; padding: 0px; color: #000000; font-family: canada-type-gibson, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 500; font-size: 34px; line-height: auto; text-align: center;">See something you liked<#if FIRST_NAME?has_content>&nbsp;${(FIRST_NAME?lower_case)?cap_first}</#if>?</p>
                                            </td>
                                        </tr>
                                    </table>
                                    </td>
                                </tr>
                            </table>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" width="400">
                        <p class="text_mobile_01" style="margin: 0px 0px 0px 0px; padding: 0px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 8px; font-weight: bold; line-height: auto; text-align: center; width: 90%;">&nbsp;</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->

<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" style="max-width: 600px; width: 100%; background-color: #ffffff;">
    <tr>
        <td>
            <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="90%">
                <tr>
                    <td width="32%">
                        <a href="${clickthrough('dy_1_202201')}" style="text-decoration: none;">
                            <img src="https://em.dynamicyield.com/v1/email/rcom/image/8773326/627636/627635?slot_id=1&cuid=${EMAIL_SHA256_HASH_}&cuid_type=sha256&locale=default&version=01&tag_ids=627635&email_context_627635=${dypid}" alt="maurices product recommendation" width="194" style="border: 0; display: block; outline: 0; padding: 0; width: 100%; max-width: 194px;" class="mw100"/>
                        </a>
                    </td>
                    <td width="2%">
                        <p>&nbsp;</p>
                    </td>
                    <td width="32%">
                        <a href="${clickthrough('dy_2_202201')}" style="text-decoration: none;">
                            <img src="https://em.dynamicyield.com/v1/email/rcom/image/8773326/627636/627635?slot_id=2&cuid=${EMAIL_SHA256_HASH_}&cuid_type=sha256&locale=default&version=01&tag_ids=627635&email_context_627635=${dypid}" alt="maurices product recommendation" width="194" style="border: 0; display: block; outline: 0; padding: 0; width: 100%; max-width: 194px;" class="mw100"/>
                        </a>
                    </td>
                    <td width="2%">
                        <p>&nbsp;</p>
                    </td>
                    <td width="32%">
                        <a href="${clickthrough('dy_3_202201')}" style="text-decoration: none;">
                            <img src="https://em.dynamicyield.com/v1/email/rcom/image/8773326/627636/627635?slot_id=3&cuid=${EMAIL_SHA256_HASH_}&cuid_type=sha256&locale=default&version=01&tag_ids=627635&email_context_627635=${dypid}" alt="maurices product recommendation" width="194" style="border: 0; display: block; outline: 0; padding: 0; width: 100%; max-width: 194px;" class="mw100"/>
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center" cellpadding="0" cellspacing="0" border="0" width="600" style="max-width: 600px;">
            <p style="margin: 0; padding: 0px; font-size: 10px; line-height: 10px;">&nbsp;</p>
        </td>
    </tr>
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->

<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 100%; background-color: #ffffff; max-width: 600px;">
    <tr>
        <td align="center" style="font-size: 0; padding: 0px; vertical-align: top;">
            <!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" style="width:100%;"><![endif]-->
            <div style="display: inline-block; vertical-align: top; max-width: 600px; width: 100%;" class="mw100">
                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
                    <tr>
                        <td align="center" style="padding-top: 25px;">
                            <a href="${clickthrough('header_nav_new_arrivals', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}">
                              <table align="center" border="0" cellspacing="0" cellpadding="0" role="presentation" style="width: 182px; border-collapse: separate; background-color: #000000; border: 1px solid #000000;" class="cta-black">
                                  <tr>
                                      <td valign="middle" height="48" style="text-align: center; height: 48px;">
                                          <a href="${clickthrough('header_nav_new_arrivals', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="display: inline-block; padding: 10px 10px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22px; color: #ffffff; text-decoration: none; font-weight: 400;">EXPLORE MORE</a>
                                      </td>
                                  </tr>
                              </table>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
        </td>
    </tr>
    <tr style="max-width: 600px; padding: 0px" width="600">
        <td align="center">
            <p style="margin: 0px 0px 0px 0px; padding: 0px; font-family: sans-serif; font-size: 20px; line-height: auto; text-align: center;">&nbsp;</p>
        </td>
    </tr>
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="width:100%; max-width: 600px; background-color: #ffffff;">
    <tr>
        <td align="center" style="padding: 0px;">
            <!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
                <tr style="background-color: #ffffff; max-width: 600px; padding: 0px" width="600">
                    <td align="center">
                        <p style="margin: 0px; padding: 0px; font-family: sans-serif; font-size: 20px; line-height: auto; text-align: center;">&nbsp;</p>
                    </td>
                </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
        </td>
    </tr>
</table>

<#if (MCC_STATUS="A" || MCC_STATUS="I")>

<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" style="background-color: #003e3d; max-width: 600px; width: 100%;" bgcolor="#003e3d">
    <tr>
        <td align="center" cellpadding="0" cellspacing="0" border="0" width="400">
            <img src="EM_TRIG_Category_ABAN_images/card.jpg" alt="maurices credit card" width="600" style="border: 0; display: block; outline: 0; padding:0; width: 100%; max-width: 600px;"/>
        </td>
    </tr>
    <tr>
        <td align="center" cellpadding="0" cellspacing="0" border="0" width="400">
            <p style="margin: 0px 0px 0px 0px; padding: 0px; font-family: sans-serif; font-size: 30px; line-height: auto; text-align: center;">&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td align="center" style="font-size: 0;">
        <!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" style="width:50%;"><![endif]-->
            <div style="display: inline-block;max-width:240px;width:100%;" class="mw100 padd20">
                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:96%;">
                    <tr style="max-width: 600px; padding: 0px" width="600">
                    <td align="center">
                        <a href="${clickthrough('creditcard', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration: none;">
                            <p style="margin: 0px 0px 0px 0px; padding: 0px; color: #ffffff; font-family: utopia-std, Georgia, Times, Times New Roman, Baskerville, Palatino, serif; font-size: 30px; font-weight: 600; line-height: auto; text-align: center; width: 90%;">free shipping</p>
                            <p style="margin: 0px 0px 0px 0px; padding: 0px; color: #ffffff; font-family: utopia-std, Georgia, Times, Times New Roman, Baskerville, Palatino, serif; font-size: 20px; font-weight: 400; line-height: auto; text-align: center; font-style: italic;">(no minimum)<span style="font-size: 14px; font-weight: normal; vertical-align: top; margin: 0; line-height: normal; padding-left: 2px;">1</span></p>
                        </a>
                    </td>
                </tr>
                </table>
            </div><!--[if (gte mso 9)|(IE)]></td><td align="center" style="width:50%;"><![endif]-->
                <div style="display: inline-block; max-width: 250px; width: 100%; border-left: 1px solid #ffffff;" class="mw100 padd20 mblhide_border">
                    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:96%;">
                        <tr style="max-width: 600px; padding: 0px" width="600">
                            <td align="center">
                                <a href="${clickthrough('creditcard', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration: none;">
                                    <p style="margin: 0px 0px 0px 0px; padding: 0px; color: #ffffff; font-family: utopia-std, Georgia, Times, Times New Roman, Baskerville, Palatino, serif; font-size: 30px; font-weight: 600; line-height: auto; text-align: center; width: 90%;">an extra 10% off</p>
                                    <p style="margin: 0px 0px 0px 0px; padding: 0px; color: #ffffff; font-family: utopia-std, Georgia, Times, Times New Roman, Baskerville, Palatino, serif; font-size: 20px; font-weight: 400; line-height: auto; text-align: center; font-style: italic;">(even on sale &amp; clearance!)<span style="font-size: 14px; font-weight: normal; vertical-align: top; margin: 0; line-height: normal; padding-left: 2px;">2</span></p>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
        <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
        </td>
    </tr>
    <tr>
        <td>
            <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="90%">
                <tr>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" width="400">
                        <p class="text_mobile_01" style="margin: 0px 0px 0px 0px; padding: 0px; font-family: sans-serif; font-size: 30px; line-height: auto; text-align: center;">&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" width="600" style="max-width: 600px;">
                        <a href="${clickthrough('creditcard', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration: none;">
                            <table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 100%;" class="w70">
                                <tr>
                                    <td align="center" valign="top" width="100%">
                                        <p class="text_mobile_02" style="margin: 0px 0px 0px 0px; padding: 0px; color: #ffffff; font-family: utopia-std, Georgia, Times, Times New Roman, Baskerville, Palatino, serif; font-weight: 400; font-size: 18px; line-height: auto; text-align: center;">When you use your maurices credit card</p>
                                    </td>
                                </tr>
                            </table>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" width="400">
                        <p style="margin: 0px 0px 0px 0px; padding: 0px; font-family: sans-serif; font-size: 30px; line-height: auto; text-align: center;">&nbsp;</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<#else>

<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" style="background-color: #003C3A; max-width: 600px; width: 100%;" bgcolor="#003C3A">
    <tr>
        <td align="center" cellpadding="0" cellspacing="0" border="0" width="400">
            <img src="EM_TRIG_Category_ABAN_images/card_non.jpg" alt="Cardmember exclusive. maurices credit card." width="600" style="border: 0; display: block; outline: 0; padding:0; width: 100%; max-width: 600px;"/>
        </td>
    </tr>
    <tr>
        <td align="center" cellpadding="0" cellspacing="0" border="0" width="400">
            <p style="margin: 0px 0px 0px 0px; padding: 0px; font-family: sans-serif; font-size: 30px; line-height: auto; text-align: center;">&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td align="center" style="font-size: 0;">
        <!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" style="width:40%;"><![endif]-->
            <div style="display: inline-block;max-width:270px;width:100%;" class="mw100 padd20">
                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:96%;">
                    <tr style="max-width: 600px; padding: 0px" width="600">
                    <td align="center">
                        <a href="${clickthrough('creditcard', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration: none;">
                            <p style="margin: 0px 0px 0px 0px; padding: 0px; color: #ffffff; font-family: utopia-std, Georgia, Times, Times New Roman, Baskerville, Palatino, serif; font-size: 30px; font-weight: 600; line-height: auto; text-align: center; width: 90%;">Get 15% off</p>
                            <p style="margin: 0px 0px 0px 0px; padding: 0px; color: #ffffff; font-family: utopia-std, Georgia, Times, Times New Roman, Baskerville, Palatino, serif; font-size: 20px; font-weight: 400; line-height: auto; text-align: center; font-style: italic;">your order today<span style="font-size: 14px; font-weight: normal; vertical-align: top; margin: 0; line-height: normal; padding-left: 2px;">3</span></p>
                        </a>
                    </td>
                </tr>
                </table>
            </div><!--[if (gte mso 9)|(IE)]></td><td align="center" style="width:20%;"><![endif]-->
            <div style="display: inline-block; max-width: 30px; width: 100%;" class="mw100 padd20">
                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:96%;">
                    <tr style="max-width: 600px; padding: 0px" width="600">
                    <td align="center">
                        <a href="${clickthrough('creditcard', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration: none;">
                            <p style="margin: 0px 0px 0px 0px; padding: 0px; color: #ffffff; font-family: utopia-std, Georgia, Times, Times New Roman, Baskerville, Palatino, serif; font-size: 30px; font-weight: 600; line-height: auto; text-align: center; width: 90%;">+</p>
                        </a>
                    </td>
                </tr>
                </table>
                </div>
                <!--[if (gte mso 9)|(IE)]></td><td align="center" style="width:240%;"><![endif]-->
                <div style="display: inline-block; max-width: 250px; width: 100%;" class="mw100 padd20">
                    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:96%;">
                        <tr style="max-width: 600px; padding: 0px" width="600">
                            <td align="center">
                                <a href="${clickthrough('creditcard', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration: none;">
                                    <p style="margin: 0px 0px 0px 0px; padding: 0px; color: #ffffff; font-family: utopia-std, Georgia, Times, Times New Roman, Baskerville, Palatino, serif; font-size: 30px; font-weight: 600; line-height: auto; text-align: center; width: 90%;">free shipping</p>
                                    <p style="margin: 0px 0px 0px 0px; padding: 0px; color: #ffffff; font-family: utopia-std, Georgia, Times, Times New Roman, Baskerville, Palatino, serif; font-size: 20px; font-weight: 400; line-height: auto; text-align: center; font-style: italic;">(no minimum)<span style="font-size: 14px; font-weight: normal; vertical-align: top; margin: 0; line-height: normal; padding-left: 2px;">1</span></p>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
        <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
        </td>
    </tr>
    <tr>
        <td>
            <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="90%">
                <tr>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" width="400">
                        <p class="text_mobile_01" style="margin: 0px 0px 0px 0px; padding: 0px; font-family: sans-serif; font-size: 30px; line-height: auto; text-align: center;">&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" width="600" style="max-width: 600px;">
                        <a href="${clickthrough('creditcard', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration: none;">
                            <table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 100%;" class="w70">
                                <tr>
                                    <td align="center" valign="top" width="100%">
                                        <p class="text_mobile_02" style="margin: 0px 0px 0px 0px; padding: 0px; color: #ffffff; font-family: utopia-std, Georgia, Times, Times New Roman, Baskerville, Palatino, serif; font-weight: 400; font-size: 18px; line-height: auto; text-align: center;">When you open and use your maurices credit card</p>
                                    </td>
                                </tr>
                            </table>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" width="400">
                        <p style="margin: 0px 0px 0px 0px; padding: 0px; font-family: sans-serif; font-size: 30px; line-height: auto; text-align: center;">&nbsp;</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->

</#if>
