<!-- ED-04 -->
<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" style="max-width: 600px; width: 100%; background-color: #ffffff;" bgcolor="#ffffff" role="presentation">
    <tr>
        <td align="center" cellpadding="0" cellspacing="0" border="0" width="600">
            <table align="center" cellpadding="0" cellspacing="0" border="0" style="max-width: 600px; width: 100%;" role="presentation">
                <tr>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" width="600">
                        <table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 80%;">
                            <tr>
                                <td align="center" valign="top" width="100%">
                                    <a href="${clickthrough('link_name_here', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration: none;">
                                        <p class="spacer_30" style="margin: 0; padding: 0; font-size: 40px; line-height: 40px;">&nbsp;</p>
                                        <p class="text_20" style="margin: 0 0 10px 0; padding: 0; color: #000000; font-family:'avenir85heavy', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 500; font-size: 36px; line-height: auto; text-align: center;">LOREM IPSUM</p>
                                        <p class="text_14" style="margin: 0; padding: 0; color: #000000; font-family:'avenir55roman', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 26px; line-height: 1.5; text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                                        <p class="spacer_30" style="margin: 0; padding: 0; font-size: 40px; line-height: 40px;">&nbsp;</p>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->

<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" style="max-width: 600px; width: 100%; background-color: #ffffff;" bgcolor="#ffffff" role="presentation">
    <tr>
        <td>
          <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="100%">
                <tr>
                    <a href="${clickthrough('link_name_here', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration: none;">
                        <img src="https://i.ibb.co/87SDcm8/mau-email-temp-060821.jpg" alt="Models wearing maurices clothing." width="600" style="border: 0; display: block; outline: 0; padding: 0; width: 100%; max-width: 600px;"/>
                        <p style="margin: 0; padding: 0; font-size: 8px; line-height: 8px; ">&nbsp;</p>
                        <img src="https://i.ibb.co/87SDcm8/mau-email-temp-060821.jpg" alt="Models wearing maurices clothing." width="600" style="border: 0; display: block; outline: 0; padding: 0; width: 100%; max-width: 600px;"/>
                        <p style="margin: 0; padding: 0; font-size: 8px; line-height: 8px; ">&nbsp;</p>
                        <img src="https://i.ibb.co/87SDcm8/mau-email-temp-060821.jpg" alt="Models wearing maurices clothing." width="600" style="border: 0; display: block; outline: 0; padding: 0; width: 100%; max-width: 600px;"/>
                        <p class="spacer_10" style="margin: 0; padding: 0; font-size: 8px; line-height: 8px; ">&nbsp;</p>
                    </a>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
<!-- /ED-04 -->
