<!-- ED-06 -->
<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" style="max-width: 600px; width: 100%; background-color: #ffffff;" bgcolor="#ffffff" role="presentation">
    <tr>
        <td align="center" cellpadding="0" cellspacing="0" border="0" width="600">
            <table align="center" cellpadding="0" cellspacing="0" border="0" style="max-width: 600px; width: 100%;" role="presentation">
                <tr>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" width="600">
                        <table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 80%;">
                            <tr>
                                <td align="center" valign="top" width="100%">
                                    <a href="${clickthrough('link_name_here', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration: none;">
                                        <p class="spacer_30" style="margin: 0; padding: 0; font-size: 40px; line-height: 40px;">&nbsp;</p>
                                        <p class="text_20" style="margin: 0 0 10px 0; padding: 0; color: #000000; font-family:'avenir85heavy', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 500; font-size: 36px; line-height: auto; text-align: center;">LOREM IPSUM</p>
                                        <p class="text_14" style="margin: 0; padding: 0; color: #000000; font-family:'avenir55roman', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 26px; line-height: 1.5; text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                                        <p style="margin: 0; padding: 0; font-size: 30px; line-height: 30px;">&nbsp;</p>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="80%" class="w90">
                            <tr>
                                <td width="48%" align="center">
                                    <a href="${clickthrough('link_name_here', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}">
                                      <table align="center" border="0" cellspacing="0" cellpadding="0" role="presentation" style="width: 182px; border-collapse: separate; border: 2px solid #000000; background-color: #ffffff;" class="cta-black-ghost w90">
                                          <tr>
                                              <td valign="middle" height="48" style="text-align: center; height: 48px;" class="h30px">
                                                  <a href="${clickthrough('link_name_here', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="display: inline-block; padding: 10px 10px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22px; color: #000000; text-decoration: none; font-weight: bold;" class="text_14">SHOP NOW</a>
                                              </td>
                                          </tr>
                                      </table>
                                    </a>
                                </td>
                                <td width="4%" align="center">
                                    <p style="font-size: 1px;">&nbsp;</p>
                                </td>
                                <td width="48%" align="center">
                                    <a href="${clickthrough('link_name_here', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}">
                                      <table align="center" border="0" cellspacing="0" cellpadding="0" role="presentation" style="width: 182px; border-collapse: separate; border: 2px solid #000000; background-color: #ffffff;" class="cta-black-ghost w90">
                                          <tr>
                                              <td valign="middle" height="48" style="text-align: center; height: 48px;" class="h30px">
                                                  <a href="${clickthrough('link_name_here', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="display: inline-block; padding: 10px 10px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22px; color: #000000; text-decoration: none; font-weight: bold;" class="text_14">SHOP PLUS</a>
                                              </td>
                                          </tr>
                                      </table>
                                    </a>
                               </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" width="600">
                        <p style="margin: 0; padding: 0; font-size: 30px; line-height: 30px;">&nbsp;</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->

<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" style="max-width: 600px; width: 100%; background-color: #ffffff;" bgcolor="#ffffff" role="presentation">
    <tr>
        <td>
            <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="100%">
                <tr>
                    <td align="center">
                        <a href="${clickthrough('link_name_here', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration: none;">
                            <img src="https://via.placeholder.com/550x500" alt="" width="550" style="border: 0; display: block; outline: 0; padding: 0; width: 92%; max-width: 550px;"/>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <a href="${clickthrough('link_name_here', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration: none;">
                            <img src="https://i.ibb.co/ZMxBgyN/mau-email-temp-062121-3wide.jpg" alt="" width="600" style="border: 0; display: block; outline: 0; padding: 0; width: 100%; max-width: 600px;"/>
                            <p class="spacer_20" style="margin: 0; padding: 0; font-size: 30px; line-height: 30px;">&nbsp;</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <a href="${clickthrough('link_name_here', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration: none;">
                            <img src="https://via.placeholder.com/550x500" alt="" width="550" style="border: 0; display: block; outline: 0; padding: 0; width: 92%; max-width: 550px;"/>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <a href="${clickthrough('link_name_here', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration: none;">
                            <img src="https://i.ibb.co/ZMxBgyN/mau-email-temp-062121-3wide.jpg" alt="" width="600" style="border: 0; display: block; outline: 0; padding: 0; width: 100%; max-width: 600px;"/>
                            <p class="spacer_20" style="margin: 0; padding: 0; font-size: 30px; line-height: 30px;">&nbsp;</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <a href="${clickthrough('link_name_here', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration: none;">
                            <img src="https://via.placeholder.com/550x500" alt="" width="550" style="border: 0; display: block; outline: 0; padding: 0; width: 92%; max-width: 550px;"/>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <a href="${clickthrough('link_name_here', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration: none;">
                            <img src="https://i.ibb.co/ZMxBgyN/mau-email-temp-062121-3wide.jpg" alt="" width="600" style="border: 0; display: block; outline: 0; padding: 0; width: 100%; max-width: 600px;"/>
                            <p class="spacer_20" style="margin: 0; padding: 0; font-size: 30px; line-height: 30px;">&nbsp;</p>
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
<!-- ED-06 -->
