<!-- ED-01 -->
<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" style="max-width: 600px; width: 100%; background-color: #ffffff;" bgcolor="#ffffff" role="presentation">
    <tr>
        <td>
          <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="100%">
                <tr>
                    <td width="48%" rowspan="3" align="center" style="background-image: url(https://i.ibb.co/k8LPnC7/mau-temp-050521-290x600.jpg);background-size:cover;background-repeat:no-repeat;background-position:top;background-color:#ffffff;" valign="top">
                        <!--[if gte mso 9]>
                        <v:rect stroked="false" style="width:290px;height:600px;">
                          <v:fill type="frame" aspect="atleast" src="https://i.ibb.co/k8LPnC7/mau-temp-050521-290x600.jpg" color="#ffffff" />
                        </v:rect>
                        <![endif]-->
                    </td>
                    <td width="4%" rowspan="3"></td>
                    <td width="48%" align="center">
                        <img src="https://i.ibb.co/djtbqNj/mau-temp-050521-290x290.jpg" alt="" width="290" style="border: 0; display: block; outline: 0; padding: 0; width: 100%; max-width: 290px;"/>
                    </td>
                </tr>
                <tr><td height="20"></td></tr>
                <tr>
                    <td width="48%" align="center" style="background-color: #f3dedd; height: 100%;">
                        <table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 90%;" class="w80">
                            <tr>
                                <td align="center" valign="top" width="100%">
                                    <a href="${clickthrough('link_name_here', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration: none;">
                                        <p style="margin: 0; padding: 0; font-size: 50px; line-height: 50px;">&nbsp;</p>
                                        <p class="text_20" style="margin: 0 0 10px 0; padding: 0; color: #222222; font-family:'avenir95black', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 500; font-size: 50px; line-height: auto; text-align: center;">1.</p>
                                        <p class="text_14" style="margin: 0; padding: 0; color: #222222; font-family:'avenir55roman', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 26px; line-height: 1.5; text-align: center;">Lorem ipsum dolor sit amet dolor lorem amet sit lorem</p>
                                        <p style="margin: 0; padding: 0; font-size: 50px; line-height: 50px;">&nbsp;</p>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->

<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="width: 100%; max-width: 600px; background-color: #ffffff;" bgcolor="#ffffff">
    <tr>
        <td align="center">
            <p style="margin: 0; padding: 0; font-size: 20px; line-height: 20px; ">&nbsp;</p>
        </td>
    </tr>
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->

<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" style="max-width: 600px; width: 100%; background-color: #ffffff;" bgcolor="#ffffff" role="presentation">
    <tr>
        <td>
          <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="100%">
                <tr>
                    <td width="48%" align="center" style="background-color: #f3dedd; height: 100%;">
                        <table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 90%;" class="w80">
                            <tr>
                                <td align="center" valign="top" width="100%">
                                    <a href="${clickthrough('link_name_here', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration: none;">
                                        <p class="text_96 line_15" style="margin: 0; padding: 0; font-size: 210px; line-height: 210px;">&nbsp;</p>
                                        <p class="text_20" style="margin: 0 0 10px 0; padding: 0; color: #222222; font-family:'avenir95black', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 500; font-size: 50px; line-height: auto; text-align: center;">2.</p>
                                        <p class="text_14" style="margin: 0; padding: 0; color: #222222; font-family:'avenir55roman', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 26px; line-height: 1.5; text-align: center;">Lorem ipsum dolor sit amet dolor lorem amet sit lorem</p>
                                        <p class="text_96 line_15" style="margin: 0; padding: 0; font-size: 210px; line-height: 210px;">&nbsp;</p>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="4%"></td>
                    <td width="48%" align="center" style="background-image: url(https://i.ibb.co/k8LPnC7/mau-temp-050521-290x600.jpg);background-size:cover;background-repeat:no-repeat;background-position:top;background-color:#ffffff;" valign="top">
                        <!--[if gte mso 9]>
                        <v:rect stroked="false" style="width:290px;height:600px;">
                          <v:fill type="frame" aspect="atleast" src="https://i.ibb.co/k8LPnC7/mau-temp-050521-290x600.jpg" color="#ffffff" />
                        </v:rect>
                        <![endif]-->
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->

<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" align="center" style="width: 100%; max-width: 600px; background-color: #ffffff;" bgcolor="#ffffff">
    <tr>
        <td align="center">
            <p style="margin: 0; padding: 0; font-size: 20px; line-height: 20px; ">&nbsp;</p>
        </td>
    </tr>
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->

<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" style="max-width: 600px; width: 100%; background-color: #ffffff;" bgcolor="#ffffff" role="presentation">
    <tr>
        <td>
          <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="100%">
                <tr>
                    <td width="48%" rowspan="3" align="center" style="background-image: url(https://i.ibb.co/k8LPnC7/mau-temp-050521-290x600.jpg);background-size:cover;background-repeat:no-repeat;background-position:top;background-color:#ffffff;" valign="top">
                        <!--[if gte mso 9]>
                        <v:rect stroked="false" style="width:290px;height:600px;">
                          <v:fill type="frame" aspect="atleast" src="https://i.ibb.co/k8LPnC7/mau-temp-050521-290x600.jpg" color="#ffffff" />
                        </v:rect>
                        <![endif]-->
                    </td>
                    <td width="4%" rowspan="3"></td>
                    <td width="48%" align="center">
                        <img src="https://i.ibb.co/djtbqNj/mau-temp-050521-290x290.jpg" alt="" width="290" style="border: 0; display: block; outline: 0; padding: 0; width: 100%; max-width: 290px;"/>
                    </td>
                </tr>
                <tr><td height="20"></td></tr>
                <tr>
                    <td width="48%" align="center" style="background-color: #f3dedd; height: 100%;">
                        <table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 90%;" class="w80">
                            <tr>
                                <td align="center" valign="top" width="100%">
                                    <a href="${clickthrough('link_name_here', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration: none;">
                                        <p style="margin: 0; padding: 0; font-size: 50px; line-height: 50px;">&nbsp;</p>
                                        <p class="text_20" style="margin: 0 0 10px 0; padding: 0; color: #222222; font-family:'avenir95black', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 500; font-size: 50px; line-height: auto; text-align: center;">3.</p>
                                        <p class="text_14" style="margin: 0; padding: 0; color: #222222; font-family:'avenir55roman', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 26px; line-height: 1.5; text-align: center;">Lorem ipsum dolor sit amet dolor lorem amet sit lorem</p>
                                        <p style="margin: 0; padding: 0; font-size: 50px; line-height: 50px;">&nbsp;</p>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" style="max-width: 600px; width: 100%; background-color: #ffffff;" bgcolor="#ffffff" role="presentation">
    <tr>
        <td align="center" cellpadding="0" cellspacing="0" border="0" width="600">
            <table align="center" cellpadding="0" cellspacing="0" border="0" style="max-width: 600px; width: 100%;" role="presentation">
                <tr>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" width="600">
                        <table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 70%;" class="w80">
                            <tr>
                                <td align="center" valign="top" width="100%">
                                    <a href="${clickthrough('link_name_here', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration: none;">
                                        <p class="spacer_30" style="margin: 0; padding: 0; font-size: 40px; line-height: 40px;">&nbsp;</p>
                                        <p class="text_14" style="margin: 0; padding: 0; color: #000000; font-family:'avenir55roman', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 26px; line-height: 1.5; text-align: center;">dolor sit amet lorem ipsum dolor sit amet dolor sit lorem</p>
                                        <p class="spacer_30" style="margin: 0; padding: 0; font-size: 40px; line-height: 40px;">&nbsp;</p>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="80%" class="w90">
                            <tr>
                                <td width="48%" align="center">
                                    <a href="${clickthrough('link_name_here', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}">
                                      <table align="center" border="0" cellspacing="0" cellpadding="0" role="presentation" style="width: 182px; border-collapse: separate; border: 2px solid #000000; background-color: #ffffff;" class="cta-black-ghost w90">
                                          <tr>
                                              <td valign="middle" height="48" style="text-align: center; height: 48px;" class="h30px">
                                                  <a href="${clickthrough('link_name_here', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="display: inline-block; padding: 10px 10px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22px; color: #000000; text-decoration: none; font-weight: bold;" class="text_14">SHOP NOW</a>
                                              </td>
                                          </tr>
                                      </table>
                                    </a>
                                </td>
                                <td width="4%" align="center">
                                    <p style="font-size: 1px;">&nbsp;</p>
                                </td>
                                <td width="48%" align="center">
                                    <a href="${clickthrough('link_name_here', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}">
                                      <table align="center" border="0" cellspacing="0" cellpadding="0" role="presentation" style="width: 182px; border-collapse: separate; border: 2px solid #000000; background-color: #ffffff;" class="cta-black-ghost w90">
                                          <tr>
                                              <td valign="middle" height="48" style="text-align: center; height: 48px;" class="h30px">
                                                  <a href="${clickthrough('link_name_here', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="display: inline-block; padding: 10px 10px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22px; color: #000000; text-decoration: none; font-weight: bold;" class="text_14">SHOP PLUS</a>
                                              </td>
                                          </tr>
                                      </table>
                                    </a>
                               </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" width="520">
                        <p class="spacer_20" style="margin: 0; padding: 0; font-size: 40px; line-height: 40px;">&nbsp;</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
<!-- /ED-01 -->
