<!-- IMAGE -->
<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" style="max-width: 600px; width: 100%; background-color: #ffffff;" bgcolor="#ffffff">
    <tr>
        <td>
            <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="90%">
                <tr>
                    <td align="center">
                        <a href="${clickthrough('link_name_here', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration: none;">
                            <img src="https://i.ibb.co/pdx2nwD/03-ST-2-28-FW-6188-preview.png" alt="" width="560" style="border: 0; display: block; outline: 0; padding: 0; width: 100%; max-width: 560px;"/>
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
<!-- /IMAGE -->

<#data Stylitics_Feedonomics_SUPPtable as style>
<#filter STYLE_NUMBER_LOOKUP = OUTFIT_BUILDER_STYLE_NO>
<#fields STYLE_NUMBER_LOOKUP STYLE_IMAGE_URL STYLE_PDP_URL REC1_IMG REC1_URL REC2_IMG REC2_URL REC3_IMG REC3_URL REC4_IMG REC4_URL REC5_IMG REC5_URL OUTFIT_1_ID>

    <#assign mainStyleLink = style.STYLE_PDP_URL>

    <#assign allRecs = []>
    <#assign key = 0>

    <#if style.REC1_IMG?has_content>
        <#assign key = key + 1>
        <#assign allRecs = allRecs + [{"key":key, "image":style.REC1_IMG, "link":style.REC1_URL}]>
    </#if>
    <#if style.REC2_IMG?has_content>
        <#assign key = key + 1>
        <#assign allRecs = allRecs + [{"key":key, "image":style.REC2_IMG, "link":style.REC2_URL}]>
    </#if>
    <#if style.REC3_IMG?has_content>
        <#assign key = key + 1>
        <#assign allRecs = allRecs + [{"key":key, "image":style.REC3_IMG, "link":style.REC3_URL}]>
    </#if>
    <#if style.REC4_IMG?has_content>
        <#assign key = key + 1>
        <#assign allRecs = allRecs + [{"key":key, "image":style.REC4_IMG, "link":style.REC4_URL}]>
    </#if>
    <#if style.REC5_IMG?has_content>
        <#assign key = key + 1>
        <#assign allRecs = allRecs + [{"key":key, "image":style.REC5_IMG, "link":style.REC5_URL}]>
    </#if>


    <#list allRecs?sort_by("key") as b>
        <#if b.key == 1>
            <#assign newImg1 = b.image>
            <#assign newLink1 = b.link>
        </#if>
        <#if b.key == 2>
            <#assign newImg2 = b.image>
            <#assign newLink2 = b.link>
        </#if>
        <#if b.key == 3>
            <#assign newImg3 = b.image>
            <#assign newLink3 = b.link>
        </#if>
        <#if b.key == 4>
            <#assign newImg4 = b.image>
            <#assign newLink4 = b.link>
        </#if>
    </#list>


<#if newImg1?has_content && newImg2?has_content && newImg3?has_content && newImg4?has_content>
<!-- OUTFIT BUILDER -->
<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" style="background-color: #ffffff; max-width: 600px; width: 100%;" bgcolor="#ffffff">
    <tr>
        <td>
            <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="100%">
                <tr>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" width="600" style="max-width: 600px;">
                        <a href="${clickthrough('link_name_here', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration: none;">
                            <p style="margin: 0; padding: 0; font-size: 30px; line-height: 30px;">&nbsp;</p>
                            <p class="text_20" style="margin: 0 0 10px 0; padding: 0; color: #303030; font-family: utopia-std, Georgia, Times, Times New Roman, Baskerville, Palatino, serif; font-weight: 700; font-size: 28px; line-height: auto; text-align: center; width: 90%;">Love our new purple tie-dye pullover?</p>
                            <p class="text_18" style="margin: 0; padding: 0; color: #303030; font-family:'avenir55roman', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 24px; line-height: auto; text-align: center; width: 90%;">Here's an outfit to go with it.</p>
                            <p style="margin: 0; padding: 0; font-size: 30px; line-height: 30px;">&nbsp;</p>
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->

<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" style="max-width: 600px; width: 100%;">
    <tr>
        <td>
            <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="92%">
                <tr>
                    <td width="4%" align="center">&nbsp;
                    </td>
                    <td width="20%" align="center" style="border: 1px solid #cccccc;">
                        <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="90%">
                            <tr>
                                <td width="90%" height="150" align="center">
                                    <a href="${clickthrough('image_1', 'image_1_link='+newLink1, 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" target="_blank">
                                        <!--[if (gte mso 9)|(IE)]><img src="${newImg1}" width="90" style="border: 0; display: block; outline: 0; padding: 0;"><span style="display: none;"><![endif]-->
                                        <img src="${newImg1}" alt="maurices product recommendation" style="border: 0; display: block; outline: 0; padding: 0; max-width: 90%; max-height: 70%;" border="0"/>
                                        <!--[if (gte mso 9)|(IE)]></span><![endif]-->
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="4%" align="center">&nbsp;
                    </td>
                    <td width="20%" align="center" style="border: 1px solid #cccccc;">
                        <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="90%">
                            <tr>
                                <td width="90%" height="150" align="center">
                                    <a href="${clickthrough('image_2', 'image_2_link='+newLink2, 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" target="_blank">
                                        <!--[if (gte mso 9)|(IE)]><img src="${newImg2}" width="90" style="border: 0; display: block; outline: 0; padding: 0;"><span style="display: none;"><![endif]-->
                                        <img src="${newImg2}" alt="maurices product recommendation" style="border: 0; display: block; outline: 0; padding: 0; max-width: 90%; max-height: 70%;" border="0"/>
                                        <!--[if (gte mso 9)|(IE)]></span><![endif]-->
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="4%" align="center">&nbsp;
                    </td>
                    <td width="20%" align="center" style="border: 1px solid #cccccc;">
                        <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="90%">
                            <tr>
                                <td width="90%" height="150" align="center">
                                    <a href="${clickthrough('image_3', 'image_3_link='+newLink3, 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" target="_blank">
                                        <!--[if (gte mso 9)|(IE)]><img src="${newImg3}" width="90" style="border: 0; display: block; outline: 0; padding: 0;"><span style="display: none;"><![endif]-->
                                        <img src="${newImg3}" alt="maurices product recommendation" style="border: 0; display: block; outline: 0; padding: 0; max-width: 90%; max-height: 70%;" border="0"/>
                                        <!--[if (gte mso 9)|(IE)]></span><![endif]-->
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="4%" align="center">&nbsp;
                    </td>
                    <td width="20%" align="center" style="border: 1px solid #cccccc;">
                        <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="90%">
                            <tr>
                                <td width="90%" height="150" align="center">
                                    <a href="${clickthrough('image_4', 'image_4_link='+newLink4, 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" target="_blank">
                                        <!--[if (gte mso 9)|(IE)]><img src="${newImg4}" width="90" style="border: 0; display: block; outline: 0; padding: 0;"><span style="display: none;"><![endif]-->
                                        <img src="${newImg4}" alt="maurices product recommendation" style="border: 0; display: block; outline: 0; padding: 0; max-width: 90%; max-height: 70%;" border="0"/>
                                        <!--[if (gte mso 9)|(IE)]></span><![endif]-->
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="4%" align="center">&nbsp;
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->

<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" style="max-width: 600px; width: 100%; background-color: #ffffff;" bgcolor="#ffffff">
    <tr>
        <td>
            <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="92%">
                <tr>
                    <td width="4%" align="center">&nbsp;
                    </td>
                    <td width="20%" align="center">
                        <a href="${clickthrough('image_1', 'image_1_link='+newLink1, 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" target="_blank" style="color: #000000;">
                            <p style="margin: 10px 0; padding: 0; color: #000000; font-family:'avenir95black', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 500; font-size: 12px; line-height: auto; text-align: center;">ADD TO CART</p>
                        </a>
                    </td>
                    <td width="4%" align="center">&nbsp;
                    </td>
                    <td width="20%" align="center">
                        <a href="${clickthrough('image_2', 'image_2_link='+newLink2, 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" target="_blank" style="color: #000000;">
                            <p style="margin: 10px 0; padding: 0; color: #000000; font-family:'avenir95black', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 500; font-size: 12px; line-height: auto; text-align: center;">ADD TO CART</p>
                        </a>
                    </td>
                    <td width="4%" align="center">&nbsp;
                    </td>
                    <td width="20%" align="center">
                        <a href="${clickthrough('image_3', 'image_3_link='+newLink3, 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" target="_blank" style="color: #000000;">
                            <p style="margin: 10px 0; padding: 0; color: #000000; font-family:'avenir95black', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 500; font-size: 12px; line-height: auto; text-align: center;">ADD TO CART</p>
                        </a>
                    </td>
                    <td width="4%" align="center">&nbsp;
                    </td>
                    <td width="20%" align="center">
                        <a href="${clickthrough('image_4', 'image_4_link='+newLink4, 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" target="_blank" style="color: #000000;">
                            <p style="margin: 10px 0; padding: 0; color: #000000; font-family:'avenir95black', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 500; font-size: 12px; line-height: auto; text-align: center;">ADD TO CART</p>
                        </a>
                    </td>
                    <td width="4%" align="center">&nbsp;
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
<!-- /OUTFIT BUILDER -->

<!-- BUTTONS -->
<table align="center" cellpadding="0" cellspacing="0" border="0" style="width:100%; background-color: #ffffff; max-width: 600px;" bgcolor="#ffffff">
    <tr style="max-width: 600px; padding: 0px" width="600">
        <td align="center">
            <p style="margin: 0; padding: 0; font-size: 40px; line-height: 40px;">&nbsp;</p>
        </td>
    </tr>
    <tr>
    <td>
        <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="80%" class="w90">
            <tr>
                <td width="44%" align="center">
                    <a href="${clickthrough('outfit_page', 'outfitVar='+style.OUTFIT_1_ID, 'pidVar='+style.STYLE_NUMBER_LOOKUP, 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}">
                      <table align="center" border="0" cellspacing="0" cellpadding="0" role="presentation" style="width: 280px; border-collapse: separate; border: 2px solid #000000; background-color: #ffffff;" class="cta-black-ghost w90">
                          <tr>
                              <td valign="middle" height="48" style="text-align: center; height: 48px;" class="h30px">
                                  <a href="${clickthrough('outfit_page', 'outfitVar='+style.OUTFIT_1_ID, 'pidVar='+style.STYLE_NUMBER_LOOKUP, 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="display: inline-block; padding: 10px 10px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22px; color: #000000; text-decoration: none; font-weight: bold;" class="text_14">SHOP THE WHOLE OUTFIT</a>
                              </td>
                          </tr>
                      </table>
                    </a>
                </td>
            </tr>
        </table>
    </td>
</tr>
    <tr style="max-width: 600px; padding: 0px" width="600">
        <td align="center">
            <p style="margin: 0; padding: 0; font-size: 40px; line-height: 40px;">&nbsp;</p>
        </td>
    </tr>
</table>
<!-- /BUTTONS -->

</#if>
</#data>
