<#if OUTFIT_BUILDER_COLOR?has_content>
    <#assign headlinecolor = OUTFIT_BUILDER_COLOR>
<#else>
    <#assign headlinecolor = "#000000">
</#if>

<#data Stylitics_Feedonomics_SUPPtable as style>
<#filter STYLE_NUMBER_LOOKUP = OUTFIT_BUILDER_STYLE_NO>
<#fields STYLE_NUMBER_LOOKUP STYLE_IMAGE_URL STYLE_PDP_URL REC1_IMG REC1_URL REC2_IMG REC2_URL REC3_IMG REC3_URL REC4_IMG REC4_URL>
    
    <#assign mainStyleLink = style.STYLE_PDP_URL>

    <#assign allRecs = []>
    <#assign key = 0>
    
    <#if style.REC1_IMG?has_content>
        <#assign key = key + 1>
        <#assign allRecs = allRecs + [{"key":key, "image":style.REC1_IMG, "link":style.REC1_URL}]>
    </#if>
    <#if style.REC2_IMG?has_content>
        <#assign key = key + 1>
        <#assign allRecs = allRecs + [{"key":key, "image":style.REC2_IMG, "link":style.REC2_URL}]>
    </#if>
    <#if style.REC3_IMG?has_content>
        <#assign key = key + 1>
        <#assign allRecs = allRecs + [{"key":key, "image":style.REC3_IMG, "link":style.REC3_URL}]>
    </#if>
    <#if style.REC4_IMG?has_content>
        <#assign key = key + 1>
        <#assign allRecs = allRecs + [{"key":key, "image":style.REC4_IMG, "link":style.REC4_URL}]>
    </#if>
        
        
    <#list allRecs?sort_by("key") as b>
        <#if b.key == 1>
            <#assign newImg1 = b.image>
            <#assign newLink1 = b.link>
        </#if>
        <#if b.key == 2>
            <#assign newImg2 = b.image>
            <#assign newLink2 = b.link>
        </#if>
        <#if b.key == 3>
            <#assign newImg3 = b.image>
            <#assign newLink3 = b.link>
        </#if>
    </#list>
    
                    
<#if newImg1?has_content && newImg2?has_content && newImg3?has_content>
<!-- OUTFIT BUILDER -->
<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" style="background-color: #ffffff; max-width: 600px; width: 100%;" bgcolor="#ffffff">
    <tr>
        <td>
            <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="100%">
                <tr>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" width="600" style="max-width: 600px;">
                        <a href="${clickthrough('image_1', 'image_1_link='+newLink1, 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration: none;">
                            <p style="margin: 0; padding: 0; font-size: 30px; line-height: auto;">&nbsp;</p>
                            <p class="text_mobile_02" style="margin: 0; padding: 0; color: ${headlinecolor}; font-family:'avenir95black', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 500; font-size: 26px; line-height: auto; text-align: center; width: 90%;">${OUTFIT_BUILDER_HEADLINE}</p>
                            <p class="text_mobile_00" style="margin: 0; padding: 0; font-size: 30px; line-height: auto;">&nbsp;</p>
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>    
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
    
<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" style="max-width: 600px; width: 100%;">
    <tr>
        <td>
            <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="100%">
                <tr>
                    <td width="30%" align="center">
                        <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="90%">
                            <tr>
                                <td width="90%" height="200" align="center">
                                    <a href="${clickthrough('image_1', 'image_1_link='+newLink1, 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" target="_blank">
                                        <!--[if (gte mso 9)|(IE)]><img src="${newImg1}" width="120" style="border: 0; display: block; outline: 0; padding: 0; text-align: center;"><span style="display: none;"><![endif]-->
                                        <img src="${newImg1}" alt="maurices product recommendation" style="border: 0; display: block; outline: 0; padding: 0; max-width: 90%; max-height: 70%;" border="0"/>
                                        <!--[if (gte mso 9)|(IE)]></span><![endif]-->
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="30%" align="center">
                        <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="90%">
                            <tr>
                                <td width="90%" height="200" align="center">
                                    <a href="${clickthrough('image_2', 'image_2_link='+newLink2, 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" target="_blank">
                                        <!--[if (gte mso 9)|(IE)]><img src="${newImg2}" width="120" style="border: 0; display: block; outline: 0; padding: 0; text-align: center;"><span style="display: none;"><![endif]-->
                                        <img src="${newImg2}" alt="maurices product recommendation" style="border: 0; display: block; outline: 0; padding: 0; max-width: 90%; max-height: 70%;" border="0"/>
                                        <!--[if (gte mso 9)|(IE)]></span><![endif]-->
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="30%" align="center">
                        <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="90%">
                            <tr>
                                <td width="90%" height="200" align="center">
                                    <a href="${clickthrough('image_3', 'image_3_link='+newLink3, 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" target="_blank">
                                        <!--[if (gte mso 9)|(IE)]><img src="${newImg3}" width="120" style="border: 0; display: block; outline: 0; padding: 0; text-align: center;"><span style="display: none;"><![endif]-->
                                        <img src="${newImg3}" alt="maurices product recommendation" style="border: 0; display: block; outline: 0; padding: 0; max-width: 90%; max-height: 70%;" border="0"/>
                                        <!--[if (gte mso 9)|(IE)]></span><![endif]-->
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>    
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
<!-- /OUTFIT BUILDER -->
</#if>
</#data>