<!-- STYLE 1 -->
<#data Stylitics_Feedonomics_SUPPtable as style>
<#filter STYLE_NUMBER_LOOKUP = OUTFIT_BUILDER_STYLE_NO1>
<#fields STYLE_NUMBER_LOOKUP STYLE_IMAGE_URL STYLE_PDP_URL REC1_IMG REC1_URL REC2_IMG REC2_URL REC3_IMG REC3_URL REC4_IMG REC4_URL>

    <#assign mainStyleLink = style.STYLE_PDP_URL>

    <#assign allRecs = []>
    <#assign key = 0>

    <#if style.REC1_IMG?has_content>
        <#assign key = key + 1>
        <#assign allRecs = allRecs + [{"key":key, "image":style.REC1_IMG, "link":style.REC1_URL}]>
    </#if>
    <#if style.REC2_IMG?has_content>
        <#assign key = key + 1>
        <#assign allRecs = allRecs + [{"key":key, "image":style.REC2_IMG, "link":style.REC2_URL}]>
    </#if>
    <#if style.REC3_IMG?has_content>
        <#assign key = key + 1>
        <#assign allRecs = allRecs + [{"key":key, "image":style.REC3_IMG, "link":style.REC3_URL}]>
    </#if>
    <#if style.REC4_IMG?has_content>
        <#assign key = key + 1>
        <#assign allRecs = allRecs + [{"key":key, "image":style.REC4_IMG, "link":style.REC4_URL}]>
    </#if>


    <#list allRecs?sort_by("key") as rec>
        <#if rec.key == 1>
            <#assign newImg1a = rec.image>
            <#assign newLink1a = rec.link>
        </#if>
        <#if rec.key == 2>
            <#assign newImg2a = rec.image>
            <#assign newLink2a = rec.link>
        </#if>
        <#if rec.key == 3>
            <#assign newImg3a = rec.image>
            <#assign newLink3a = rec.link>
        </#if>
    </#list>
</#data>

<!-- STYLE 2 -->
<#data Stylitics_Feedonomics_SUPPtable as style>
<#filter STYLE_NUMBER_LOOKUP = OUTFIT_BUILDER_STYLE_NO2>
<#fields STYLE_NUMBER_LOOKUP STYLE_IMAGE_URL STYLE_PDP_URL REC1_IMG REC1_URL REC2_IMG REC2_URL REC3_IMG REC3_URL REC4_IMG REC4_URL>

    <#assign mainStyleLink = style.STYLE_PDP_URL>

    <#assign allRecs = []>
    <#assign key = 0>

    <#if style.REC1_IMG?has_content>
        <#assign key = key + 1>
        <#assign allRecs = allRecs + [{"key":key, "image":style.REC1_IMG, "link":style.REC1_URL}]>
    </#if>
    <#if style.REC2_IMG?has_content>
        <#assign key = key + 1>
        <#assign allRecs = allRecs + [{"key":key, "image":style.REC2_IMG, "link":style.REC2_URL}]>
    </#if>
    <#if style.REC3_IMG?has_content>
        <#assign key = key + 1>
        <#assign allRecs = allRecs + [{"key":key, "image":style.REC3_IMG, "link":style.REC3_URL}]>
    </#if>
    <#if style.REC4_IMG?has_content>
        <#assign key = key + 1>
        <#assign allRecs = allRecs + [{"key":key, "image":style.REC4_IMG, "link":style.REC4_URL}]>
    </#if>


    <#list allRecs?sort_by("key") as rec>
        <#if rec.key == 1>
            <#assign newImg1b = rec.image>
            <#assign newLink1b = rec.link>
        </#if>
        <#if rec.key == 2>
            <#assign newImg2b = rec.image>
            <#assign newLink2b = rec.link>
        </#if>
        <#if rec.key == 3>
            <#assign newImg3b = rec.image>
            <#assign newLink3b = rec.link>
        </#if>
    </#list>
</#data>

<!-- STYLE 3 -->
<#data Stylitics_Feedonomics_SUPPtable as style>
<#filter STYLE_NUMBER_LOOKUP = OUTFIT_BUILDER_STYLE_NO3>
<#fields STYLE_NUMBER_LOOKUP STYLE_IMAGE_URL STYLE_PDP_URL REC1_IMG REC1_URL REC2_IMG REC2_URL REC3_IMG REC3_URL REC4_IMG REC4_URL>

    <#assign mainStyleLink = style.STYLE_PDP_URL>

    <#assign allRecs = []>
    <#assign key = 0>

    <#if style.REC1_IMG?has_content>
        <#assign key = key + 1>
        <#assign allRecs = allRecs + [{"key":key, "image":style.REC1_IMG, "link":style.REC1_URL}]>
    </#if>
    <#if style.REC2_IMG?has_content>
        <#assign key = key + 1>
        <#assign allRecs = allRecs + [{"key":key, "image":style.REC2_IMG, "link":style.REC2_URL}]>
    </#if>
    <#if style.REC3_IMG?has_content>
        <#assign key = key + 1>
        <#assign allRecs = allRecs + [{"key":key, "image":style.REC3_IMG, "link":style.REC3_URL}]>
    </#if>
    <#if style.REC4_IMG?has_content>
        <#assign key = key + 1>
        <#assign allRecs = allRecs + [{"key":key, "image":style.REC4_IMG, "link":style.REC4_URL}]>
    </#if>


    <#list allRecs?sort_by("key") as rec>
        <#if rec.key == 1>
            <#assign newImg1c = rec.image>
            <#assign newLink1c = rec.link>
        </#if>
        <#if rec.key == 2>
            <#assign newImg2c = rec.image>
            <#assign newLink2c = rec.link>
        </#if>
        <#if rec.key == 3>
            <#assign newImg3c = rec.image>
            <#assign newLink3c = rec.link>
        </#if>
    </#list>
</#data>


<!-- HEADLINE -->
<#if (newImg1a?has_content && newImg2a?has_content && newImg3a?has_content) || (newImg1b?has_content && newImg2b?has_content && newImg3b?has_content) || (newImg1c?has_content && newImg2c?has_content && newImg3c?has_content)>
<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" style="background-color: #ffffff; max-width: 600px; width: 100%;" bgcolor="#ffffff">
    <tr>
        <td>
            <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="100%">
                <tr>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" width="600" style="max-width: 600px;">
                        <p style="margin: 0; padding: 0; font-size: 30px; line-height: auto;">&nbsp;</p>
                        <p class="text_mobile_02" style="margin: 0; padding: 0; color: #000000; font-family:'avenir95black', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 500; font-size: 26px; line-height: auto; text-align: center; width: 90%;">Headline here</p>
                        <p class="text_mobile_00" style="margin: 0; padding: 0; font-size: 30px; line-height: auto;">&nbsp;</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
<!-- /HEADLINE -->
</#if>

<!-- STYLE 1 - RECS -->
<#if newImg1a?has_content && newImg2a?has_content && newImg3a?has_content>
<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" style="max-width: 600px; width: 100%; background-color: #ffffff;" bgcolor="#ffffff">
    <tr>
        <td>
            <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="100%">
                <tr>
                    <td width="30%" align="center">
                        <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="90%">
                            <tr>
                                <td width="90%" height="200" align="center">
                                    <a href="${clickthrough('image_1a', 'image_1a_link='+newLink1a, 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" target="_blank">
                                        <!--[if (gte mso 9)|(IE)]><img src="${newImg1a}" width="120" style="border: 0; display: block; outline: 0; padding: 0; text-align: center;"><span style="display: none;"><![endif]-->
                                        <img src="${newImg1a}" alt="maurices product recommendation" style="border: 0; display: block; outline: 0; padding: 0; max-width: 90%; max-height: 70%;" border="0"/>
                                        <!--[if (gte mso 9)|(IE)]></span><![endif]-->
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="30%" align="center">
                        <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="90%">
                            <tr>
                                <td width="90%" height="200" align="center">
                                    <a href="${clickthrough('image_2a', 'image_2a_link='+newLink2a, 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" target="_blank">
                                        <!--[if (gte mso 9)|(IE)]><img src="${newImg2a}" width="120" style="border: 0; display: block; outline: 0; padding: 0; text-align: center;"><span style="display: none;"><![endif]-->
                                        <img src="${newImg2a}" alt="maurices product recommendation" style="border: 0; display: block; outline: 0; padding: 0; max-width: 90%; max-height: 70%;" border="0"/>
                                        <!--[if (gte mso 9)|(IE)]></span><![endif]-->
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="30%" align="center">
                        <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="90%">
                            <tr>
                                <td width="90%" height="200" align="center">
                                    <a href="${clickthrough('image_3a', 'image_3a_link='+newLink3a, 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" target="_blank">
                                        <!--[if (gte mso 9)|(IE)]><img src="${newImg3a}" width="120" style="border: 0; display: block; outline: 0; padding: 0; text-align: center;"><span style="display: none;"><![endif]-->
                                        <img src="${newImg3a}" alt="maurices product recommendation" style="border: 0; display: block; outline: 0; padding: 0; max-width: 90%; max-height: 70%;" border="0"/>
                                        <!--[if (gte mso 9)|(IE)]></span><![endif]-->
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
</#if>
<!-- /STYLE 1 - RECS -->

<!-- STYLE 2 - RECS -->
<#if newImg1b?has_content && newImg2b?has_content && newImg3b?has_content>
<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" style="max-width: 600px; width: 100%; background-color: #ffffff;" bgcolor="#ffffff">
    <tr>
        <td>
            <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="100%">
                <tr>
                    <td width="30%" align="center">
                        <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="90%">
                            <tr>
                                <td width="90%" height="200" align="center">
                                    <a href="${clickthrough('image_1b', 'image_1b_link='+newLink1b, 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" target="_blank">
                                        <!--[if (gte mso 9)|(IE)]><img src="${newImg1b}" width="120" style="border: 0; display: block; outline: 0; padding: 0; text-align: center;"><span style="display: none;"><![endif]-->
                                        <img src="${newImg1b}" alt="maurices product recommendation" style="border: 0; display: block; outline: 0; padding: 0; max-width: 90%; max-height: 70%;" border="0"/>
                                        <!--[if (gte mso 9)|(IE)]></span><![endif]-->
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="30%" align="center">
                        <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="90%">
                            <tr>
                                <td width="90%" height="200" align="center">
                                    <a href="${clickthrough('image_2b', 'image_2b_link='+newLink2b, 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" target="_blank">
                                        <!--[if (gte mso 9)|(IE)]><img src="${newImg2b}" width="120" style="border: 0; display: block; outline: 0; padding: 0; text-align: center;"><span style="display: none;"><![endif]-->
                                        <img src="${newImg2b}" alt="maurices product recommendation" style="border: 0; display: block; outline: 0; padding: 0; max-width: 90%; max-height: 70%;" border="0"/>
                                        <!--[if (gte mso 9)|(IE)]></span><![endif]-->
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="30%" align="center">
                        <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="90%">
                            <tr>
                                <td width="90%" height="200" align="center">
                                    <a href="${clickthrough('image_3b', 'image_3b_link='+newLink3b, 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" target="_blank">
                                        <!--[if (gte mso 9)|(IE)]><img src="${newImg3b}" width="120" style="border: 0; display: block; outline: 0; padding: 0; text-align: center;"><span style="display: none;"><![endif]-->
                                        <img src="${newImg3b}" alt="maurices product recommendation" style="border: 0; display: block; outline: 0; padding: 0; max-width: 90%; max-height: 70%;" border="0"/>
                                        <!--[if (gte mso 9)|(IE)]></span><![endif]-->
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
</#if>
<!-- /STYLE 2 - RECS -->

<!-- STYLE 3 - RECS -->
<#if newImg1c?has_content && newImg2c?has_content && newImg3c?has_content>
<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" style="max-width: 600px; width: 100%; background-color: #ffffff;" bgcolor="#ffffff">
    <tr>
        <td>
            <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="100%">
                <tr>
                    <td width="30%" align="center">
                        <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="90%">
                            <tr>
                                <td width="90%" height="200" align="center">
                                    <a href="${clickthrough('image_1c', 'image_1c_link='+newLink1c, 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" target="_blank">
                                        <!--[if (gte mso 9)|(IE)]><img src="${newImg1c}" width="120" style="border: 0; display: block; outline: 0; padding: 0; text-align: center;"><span style="display: none;"><![endif]-->
                                        <img src="${newImg1c}" alt="maurices product recommendation" style="border: 0; display: block; outline: 0; padding: 0; max-width: 90%; max-height: 70%;" border="0"/>
                                        <!--[if (gte mso 9)|(IE)]></span><![endif]-->
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="30%" align="center">
                        <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="90%">
                            <tr>
                                <td width="90%" height="200" align="center">
                                    <a href="${clickthrough('image_2c', 'image_2c_link='+newLink2c, 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" target="_blank">
                                        <!--[if (gte mso 9)|(IE)]><img src="${newImg2c}" width="120" style="border: 0; display: block; outline: 0; padding: 0; text-align: center;"><span style="display: none;"><![endif]-->
                                        <img src="${newImg2c}" alt="maurices product recommendation" style="border: 0; display: block; outline: 0; padding: 0; max-width: 90%; max-height: 70%;" border="0"/>
                                        <!--[if (gte mso 9)|(IE)]></span><![endif]-->
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="30%" align="center">
                        <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="90%">
                            <tr>
                                <td width="90%" height="200" align="center">
                                    <a href="${clickthrough('image_3c', 'image_3c_link='+newLink3c, 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" target="_blank">
                                        <!--[if (gte mso 9)|(IE)]><img src="${newImg3c}" width="120" style="border: 0; display: block; outline: 0; padding: 0; text-align: center;"><span style="display: none;"><![endif]-->
                                        <img src="${newImg3c}" alt="maurices product recommendation" style="border: 0; display: block; outline: 0; padding: 0; max-width: 90%; max-height: 70%;" border="0"/>
                                        <!--[if (gte mso 9)|(IE)]></span><![endif]-->
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
</#if>
<!-- /STYLE 3 - RECS -->
