<!-- T-02 -->
<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" style="max-width: 600px; width: 100%;" role="presentation">
    <tr>
        <td align="center" cellpadding="0" cellspacing="0" border="0" width="600" style="background-image: url(https://images.unsplash.com/photo-1557682257-2f9c37a3a5f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=543&q=80); background-size: cover; background-repeat: no-repeat; background-position: center; background-color: #ee3034;">
            <!--[if gte mso 9]>
            <v:image xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style=" border: 0;display: inline-block; width: 600px; height: 810px" src="https://images.unsplash.com/photo-1557682257-2f9c37a3a5f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=543&q=80" />

            <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="border: 0;display: inline-block;position: absolute; width: 600px; height: 810px">
            <v:fill opacity="0%" color="#ffffff”  />
            <v:textbox inset="0,0,0,0">
            <![endif]-->
            <table align="center" cellpadding="0" cellspacing="0" border="0" style="max-width: 600px; width: 100%;" role="presentation">
                <tr>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" width="600">
                        <p class="spacer_20" style="margin: 0; padding: 0; font-size: 30px; line-height: 30px;">&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="90%" style="background-color: #ffffff; max-width: 560px;">
                            <tr>
                                <td align="center" cellpadding="0" cellspacing="0" border="0" width="520">
                                    <a href="${clickthrough('maurices', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration: none;">
                                        <p class="spacer_30" style="margin: 0; padding: 0; font-size: 50px; line-height: 50px;">&nbsp;</p>
                                        <p class="text_18" style="margin: 0 0 10px 0; padding: 0; color: #000000; font-family:'avenir95black', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 500; font-size: 28px; line-height: auto; text-align: center;">LOREM IPSUM</p>
                                        <p class="text_54" style="margin: 0 0 10px 0; padding: 0; color: #000000; font-family:'avenir85heavy', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 500; font-size: 160px; line-height: 1; text-align: center;">XX% OFF<span class="aligntop" style="font-family: sans-serif; font-size: 30px; font-weight: normal; vertical-align: 100px; padding-left: 6px; margin: 0; line-height: normal;">*</span></p>
                                        <p class="text_20" style="margin: 0 0 20px 0; padding: 0; color: #000000; font-family:'avenir85heavy', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 500; font-size: 42px; line-height: auto; text-align: center;">CATEGORY &amp; MORE</p>
                                        <table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 60%;" class="w70">
                                            <tr>
                                                <td align="center" valign="top" width="100%">
                                                    <p class="text_14" style="margin: 0; padding: 0; color: #000000; font-family:'avenir55roman', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 26px; line-height: 1.5; text-align: center;">dolor sit amet lorem ipsum dolor sit</p>
                                                </td>
                                            </tr>
                                        </table>
                                        <p style="margin: 0; padding: 0; font-size: 20px; line-height: auto;">&nbsp;</p>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="80%" class="w90">
                                        <tr>
                                            <td width="48%" align="center">
                                                <a href="${clickthrough('maurices', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}">
                                                  <table align="center" border="0" cellspacing="0" cellpadding="0" role="presentation" style="width: 182px; border-collapse: separate; border: 2px solid #000000; background-color: #ffffff;" class="cta-black-ghost w90">
                                                      <tr>
                                                          <td valign="middle" height="48" style="text-align: center; height: 48px;" class="h30px">
                                                              <a href="${clickthrough('maurices', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="display: inline-block; padding: 10px 10px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22px; color: #000000; text-decoration: none; font-weight: bold;" class="text_14">SHOP NOW</a>
                                                          </td>
                                                      </tr>
                                                  </table>
                                                </a>
                                            </td>
                                            <td width="4%" align="center">
                                                <p style="font-size: 1px;">&nbsp;</p>
                                            </td>
                                            <td width="48%" align="center">
                                                <a href="${clickthrough('maurices', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}">
                                                  <table align="center" border="0" cellspacing="0" cellpadding="0" role="presentation" style="width: 182px; border-collapse: separate; border: 2px solid #000000; background-color: #ffffff;" class="cta-black-ghost w90">
                                                      <tr>
                                                          <td valign="middle" height="48" style="text-align: center; height: 48px;" class="h30px">
                                                              <a href="${clickthrough('maurices', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="display: inline-block; padding: 10px 10px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22px; color: #000000; text-decoration: none; font-weight: bold;" class="text_14">SHOP PLUS</a>
                                                          </td>
                                                      </tr>
                                                  </table>
                                                </a>
                                           </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" cellpadding="0" cellspacing="0" border="0" width="520">
                                    <p class="spacer_20" style="margin: 0; padding: 0; font-size: 30px; line-height: 30px;">&nbsp;</p>
                                    <p class="text_12" style="margin: 0px 0px 0px 0px; padding: 0px; color: #000000; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: auto; text-align: center;">*Promo disclaimer.</p>
                                    <p style="margin: 0; padding: 0; font-size: 20px; line-height: 20px;">&nbsp;</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" width="600">
                        <p class="spacer_20" style="margin: 0; padding: 0; font-size: 30px; line-height: 30px;">&nbsp;</p>
                    </td>
                </tr>
            </table>
            <!--[if gte mso 9]>
            </v:textbox>
            </v:rect>
            <![endif]-->
        </td>
    </tr>
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
<!-- /T-02 -->