<!-- T-04 -->
<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" style="background-color: #FFEBE6; max-width: 600px; width: 100%;" role="presentation" bgcolor="#FFEBE6">
    <tr>
        <td>
            <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="100%" style="max-width: 600px;">
              <tr>
                    <td width="50%" style="background-image: url(http://via.placeholder.com/300x600); background-size: cover; background-repeat: no-repeat; background-position: center;" valign="bottom">
                       <!--[if gte mso 9]>
                        <v:rect stroked="false" style="width:300px;height:600px;">
                        <v:fill type="frame" aspect="atleast" src="http://via.placeholder.com/300x600" color="#FFEBE6" />
                        </v:rect>
                        <![endif]-->
                    </td>
                    <td width="50%">
                        <table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 90%;">
                            <tr>
                                <td align="center" valign="top" width="100%">
                                    <a href="${clickthrough('link_name_here', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration: none;">
                                        <p style="margin: 0; padding: 0; font-size: 30px; line-height: auto;">&nbsp;</p>
                                        <p class="text_20" style="margin: 0 0 20px 0; padding: 0; color: #DB0000; font-family:'avenir95black', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 500; font-size: 22px; line-height: auto; text-align: center;">in stores &amp; online</p>
                                        <p class="text_30" style="margin: 0 0 10px 0; padding: 0; color: #222222; font-family:'avenir95black', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 500; font-size: 50px; line-height: auto; text-align: center;">30% OFF<span class="aligntop" style="font-family: sans-serif; font-size: 30px; font-weight: normal; vertical-align: 40px; padding-left: 6px; margin: 0; line-height: normal;">*</span></p>
                                        <p class="text_20" style="margin: 0 0 20px 0; padding: 0; color: #222222; font-family:'avenir55roman', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 28px; line-height: 1.5; text-align: center;">ALL JACKETS<br>&amp; VESTS</p>
                                        <p class="text_14" style="margin: 0; padding: 0; color: #222222; font-family:'avenir55roman', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 22px; line-height: 1.5; text-align: center;">Cozy up to these winter essentials!</p>
                                        <p class="text_14" style="margin: 0; padding: 0; font-size: 30px; line-height: auto;">&nbsp;</p>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 100%;">
                            <tr>
                                <td align="center" valign="top" width="100%">
                                    <a href="${clickthrough('link_name_here', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration: none;">
                                      <table align="center" border="0" cellspacing="0" cellpadding="0" role="presentation" style="width: 182px; border-collapse: separate; border: 2px solid #000000; background-color: #ffffff;" class="cta-black-ghost w70 h30px">
                                        <tr>
                                            <td valign="middle" height="48" style="text-align: center; height: 48px;" class="h30px">
                                                <a href="${clickthrough('link_name_here', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="display: inline-block; padding: 10px 10px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22px; color: #000000; text-decoration: none; font-weight: bold;" class="text_14">SHOP NOW</a>
                                            </td>
                                        </tr>
                                      </table>
                                   </a>
                                </td>
                            </tr>
                      </table>
                      <table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 100%;">
                        <tr>
                            <td align="center" valign="top" width="100%">
                                <p class="spacer_10" style="margin: 0; padding: 0; font-size: 20px; line-height: auto;">&nbsp;</p>
                            </td>
                          </tr>
                      </table>
                      <table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 100%;">
                        <tr>
                            <td align="center" valign="top" width="100%">
                                <a href="${clickthrough('link_name_here', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration: none;">
                                  <table align="center" border="0" cellspacing="0" cellpadding="0" role="presentation" style="width: 182px; border-collapse: separate; border: 2px solid #000000; background-color: #ffffff;" class="cta-black-ghost w70">
                                    <tr>
                                        <td valign="middle" height="48" style="text-align: center; height: 48px;" class="h30px">
                                            <a href="${clickthrough('link_name_here', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="display: inline-block; padding: 10px 10px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 22px; color: #000000; text-decoration: none; font-weight: bold;" class="text_14">SHOP PLUS</a>
                                        </td>
                                    </tr>
                                  </table>
                                </a>
                            </td>
                          </tr>
                      </table>
                    <table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 100%;">
                        <tr>
                            <td align="center" valign="top" width="100%">
                                <a href="${clickthrough('link_name_here', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration: none;">
                                    <p class="text_14" style="margin: 0; padding: 0; font-family: sans-serif; font-size: 40px; line-height: auto; text-align: center;">&nbsp;</p>
                                    <p class="text_12" style="margin: 0; padding: 0; color: #000000; font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: auto; text-align: center;">*Valid on select styles in stores &amp; online.</p>
                                    <p style="margin: 0; padding: 0; font-size: 10px; line-height: auto;">&nbsp;</p>
                                </a>
                            </td>
                        </tr>
                    </table>
                   </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
<!-- T-04 -->
