<!-- T-05 -->
<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" style="max-width: 600px; width: 100%;" role="presentation">
    <tr>
        <td align="center" cellpadding="0" cellspacing="0" border="0" width="600" style="background-image: url(https://images.unsplash.com/photo-1567095716798-1d95d8f4c479?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80); background-size: cover; background-repeat: no-repeat; background-position: center; background-color: #FFB0D6;">
            <!--[if gte mso 9]>
            <v:image xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style=" border: 0;display: inline-block; width: 600px; height: 400px" src="https://images.unsplash.com/photo-1567095716798-1d95d8f4c479?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" />

            <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="border: 0;display: inline-block;position: absolute; width: 600px; height: 400px">
            <v:fill opacity="0%" color="#ffffff”  />
            <v:textbox inset="0,0,0,0">
            <![endif]-->
            <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="100%" style="max-width: 600px;">
                <tr>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" width="520">
                        <a href="${clickthrough('link_name_here', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration: none;">
                            <p class="spacer_30" style="margin: 0; padding: 0; font-size: 50px; line-height: 50px;">&nbsp;</p>
                            <p class="text_18" style="margin: 0 0 10px 0; padding: 0; color: #000000; font-family:'avenir95black', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 500; font-size: 28px; line-height: auto; text-align: center;">LOREM IPSUM</p>
                            <p class="text_38" style="margin: 0 0 10px 0; padding: 0; color: #000000; font-family:'avenir85heavy', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 500; font-size: 86px; line-height: auto; text-align: center;">XX% OFF<span class="aligntop" style="font-family: sans-serif; font-size: 30px; font-weight: normal; vertical-align: 40px; padding-left: 6px; margin: 0; line-height: normal;">*</span></p>
                            <p class="text_20" style="margin: 0; padding: 0; color: #000000; font-family:'avenir85heavy', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 500; font-size: 42px; line-height: auto; text-align: center;">CATEGORY &amp; MORE</p>
                            <p class="spacer_30" style="margin: 0; padding: 0; font-size: 40px; line-height: 40px;">&nbsp;</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="100%">
                            <tr>
                                <td width="16%" align="center" class="w0">
                                    <p style="font-size: 1px;">&nbsp;</p>
                                </td>
                                <td width="34%" align="center" class="w40">
                                    <p style="margin: 0; padding: 0; line-height: 22px;">
                                        <a href="${clickthrough('link_name_here', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}"style="color: #000000; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 18px; text-decoration: none; font-weight: bold; border-bottom: 2px solid;" class="cta-underline">SHOP NOW</a>
                                    </p>
                                </td>
                                <td width="34%" align="center" class="w40">
                                    <p style="margin: 0; padding: 0; line-height: 22px;">
                                        <a href="${clickthrough('link_name_here', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}"style="color: #000000; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 18px; text-decoration: none; font-weight: bold; border-bottom: 2px solid;" class="cta-underline">SHOP PLUS</a>
                                    </p>
                               </td>
                                <td width="16%" align="center" class="w0">
                                    <p style="font-size: 1px;">&nbsp;</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" cellpadding="0" cellspacing="0" border="0" width="520">
                        <p class="spacer_30" style="margin: 0; padding: 0; font-size: 34px; line-height: 34px;">&nbsp;</p>
                        <p class="text_12" style="margin: 0px 0px 0px 0px; padding: 0px; color: #000000; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: auto; text-align: center;">*Promo disclaimer.</p>
                        <p style="margin: 0; padding: 0; font-size: 20px; line-height: 20px;">&nbsp;</p>
                    </td>
                </tr>
            </table>
            <!--[if gte mso 9]>
            </v:textbox>
            </v:rect>
            <![endif]-->
        </td>
    </tr>
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
<!-- /T-05 -->
