<!-- T-07 -->
<!--[if (gte mso 9)|(IE)]><table align="center" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><tr><td align="center" valign="top" width="600"><![endif]-->
<table align="center" cellpadding="0" cellspacing="0" border="0" style="max-width: 600px; width: 100%; background-color: #F9E2CF;" role="presentation" background="#F9E2CF">
    <tr>
        <td>
            <table align="center" cellpadding="0" cellspacing="0" border="0" role="presentation" width="100%">
                <tr>
                    <td width="30%" class="w40">
                        <a href="${clickthrough('link_name_here', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration: none;">
                            <img src="https://via.placeholder.com/200x240" alt="" width="240" style="border: 0; display: block; outline: 0; padding: 0; width: 100%; max-width: 240px;" border="0"/>
                        </a>
                    </td>
                    <td width="70%" class="w60">
                        <table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 80%;">
                            <tr>
                                <td align="center" valign="top" width="100%">
                                    <a href="${clickthrough('link_name_here', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}" style="text-decoration: none;">
                                        <p class="text_18" style="margin: 0; padding: 0; color: #000000; font-family:'avenir85heavy', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 500; font-size: 28px; line-height: auto; text-align: left;">LOREM IPSUM</p>
                                        <p style="margin: 0; padding: 0; font-size: 12px; line-height: 12px;">&nbsp;</p>
                                        <p class="text_14" style="margin: 0 0 20px 0; padding: 0; color: #000000; font-family:'avenir55roman', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 22px; line-height: auto; text-align: left;">dolor sit amet lorem ipsum dolor sit amet lorem</p>
                                    </a>
                                    <p style="margin: 0; padding: 0; line-height: 22px; text-align: left;">
                                        <a href="${clickthrough('link_name_here', 'ALLANT_CUST_PET_V2.POINTS', 'ALLANT_CUST_PET_V2.MCC_STATUS', 'ALLANT_CUST_PET_V2.CERTS_VALUE', 'ALLANT_CUST_PET_V2.CURRENT_LOYALTY_STATUS')}"style="color: #000000; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 18px; text-decoration: none; font-weight: bold; border-bottom: 2px solid;" class="cta-underline">SHOP NOW</a>
                                    </p>
                                </td>
                            </tr>
                        </table>
                   </td>
                </tr>
            </table>
        </td>
    </tr>    
</table>
<!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
<!-- /T-07 -->